<div class="modal fade" id="modalNewWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2 bg-light">
                <h5 class="modal-title fs-6 fw-bold" id="staticBackdropLabel">Create Folio</h5>
            </div>

            <div class="modal-body">
                <div class="d-flex gap-2 mb-3 py-2">
                    <button class="mui-button mui-button-search" onclick="CreateFolio();"> Create
                    </button>
                    <button class="mui-button mui-button-clear" onclick="closeModalNewWindow();"> Close
                    </button>
                </div>

                <div class="container-fluid px-0">
                    <div class="row align-items-center mb-2">
                        <label class="col-3 fw-bold small text-end" for="folioNoCreate">Window</label>
                        <div class="col-9">
                            <select id="folioNoCreate" class="form-select form-select-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>

                    <div class="row align-items-center pb-2">
                        <label class="col-3 fw-bold small text-end" for="nameFolioNo">Account</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="nameFolioNo" placeholder="Enter account name..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalNewWindow(){
        $('#folioNoCreate').val(listFolioNoID.length + 1);
        $('#nameFolioNo').val(lastname);
        $('#modalNewWindow').modal('show');
    }
    function closeModalNewWindow(){
        $('#modalNewWindow').modal('hide');
    }

    function CreateFolio() {
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('folioNo',  $('#folioNoCreate').val());
        formData.append('userID', userID);

        $.ajax({
            url: '/Billing/CreateFolio',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNewWindow();
                    getFolioNo();
                    searchFolioDetail(0);
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function (xhr, statusText, err) { }
        });
    }
</script>