<div class="modal fade" id="modalPostingHistory" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content h-100">

            <div class="modal-header">
                <h5 class="modal-title">Posting History</h5>
                <button type="button" class="btn-close" onclick="closeModalPostingHistory();"></button>
            </div>

            <!-- QUAN TRỌNG: flex column -->
            <div class="modal-body d-flex flex-column">

                <!-- GRID FULL HEIGHT -->
                <div id="gridPostingHistory" class="flex-fill mt-2 gridContainer"></div>

            </div>

        </div>
    </div>
</div>
<script>
    function PostingHistory(type){
        $('#modalPostingHistory').modal('show');

        $.ajax({
            url: '/Billing/PostingHistory',
            type: 'get',
            dataType: 'json',
            data: {
                type: type,
                invoiceNo: invoiceNoPosting,
                folioID:folioNoID
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridPostingHistory(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }
        });

    }
    
    function initializeDataGridPostingHistory(data) {
        $("#gridPostingHistory").dxDataGrid({
            dataSource: data,     
            allowColumnResizing: true,
            columns: [
                { dataField: "actionText", caption: "Action",},
                { dataField: "supplement", caption: "More Information", },
                { dataField: "description", caption: "TransDate", },
                { dataField: "transactionDate", caption: "Date", dataType:"date", format:"dd/MM/yyyy" },
                { dataField: "actionUser", caption: "User", },
                { dataField: "afterAction_FolioID", caption: "Folio", },
                { dataField: "machine", caption: "Machine",  },
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single" 
            }
        });    
    }

    function closeModalPostingHistory(){
        $('#modalPostingHistory').modal('hide');
    }
</script>
