@{
    var comT_listctry = ViewBag.CommentTypeList;
}

<!-- Main Modal -->
<div class="modal fade"
     id="comT_mainModal"
     tabindex="-1"
     aria-labelledby="comT_mainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comT_mainModalLabel">Comment</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="comT_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="comT_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="comT_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="comT_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="comT_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button"
                                class="mui-button mui-button-new"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Close
                        </button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="comT_filterCode"
                                       class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="comT_filterCode"
                                           name="comT_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="comT_filterName"
                                       class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="comT_filterName"
                                           name="comT_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox"
                                                   id="comT_chkShowInactive"
                                                   name="comT_chkShowInactive" />
                                            <label class="form-check-label" for="comT_chkShowInactive">
                                                Show Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="comT_gridContainer" class="gridContainer"></div>
                </div>

                <div id="comT_loadingSpinner"
                     style="position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 999;
                            background: rgba(255, 255, 255, 0.55);
                            backdrop-filter: blur(2px);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade"
     id="comT_itemModal"
     tabindex="-1"
     aria-labelledby="comT_itemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comT_itemModalLabel">Add Comment</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="comT_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="comT_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="comT_code"
                                       class="col-md-3 col-lg-6 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8 col-lg-5">
                                    <input id="comT_code"
                                           name="comT_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-3 col-lg-6 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8 col-lg-5">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="comT_inactive"
                                               name="comT_inactive"
                                               type="checkbox" />
                                        <label for="comT_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="comT_commentTypeID"
                                       class="col-md-3 col-form-label col-form-label-sm text-md-end">
                                    Comment Type
                                </label>
                                <div class="col-md-8">
                                    <select id="comT_commentTypeID"
                                            name="comT_commentTypeID"
                                            class="tomselect-custom">
                                        <option value="">--Select comment type--</option>
                                        @foreach (var comT_sg in comT_listctry)
                                        {
                                            <option value="@comT_sg.ID" data-code="@comT_sg.Code">
                                                @comT_sg.Code - @comT_sg.Name
                                            </option>
                                        }
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="comT_description"
                                       class="col-md-3 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-8">
                                    <textarea id="comT_description"
                                              name="comT_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="comT_id" name="comT_id" value="0" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var comT_Module = (() => {
        let comT_selectedRowData = null;

        const comT_selectors = {
            mainModal: "#comT_mainModal",
            itemModal: "#comT_itemModal",
            form: "#comT_formContainer",
            grid: "#comT_gridContainer",
            loading: "#comT_loadingSpinner",
            filterCode: "#comT_filterCode",
            filterName: "#comT_filterName",
            chkShowInactive: "#comT_chkShowInactive",
            btnView: "#comT_btnView",
            btnNew: "#comT_btnNew",
            btnEdit: "#comT_btnEdit",
            btnDelete: "#comT_btnDelete",
            btnExportExcel: "#comT_btnExportExcel",
            btnSave: "#comT_btnSave",
            modalLabel: "#comT_itemModalLabel",
            id: "#comT_id",
            code: "#comT_code",
            description: "#comT_description",
            inactive: "#comT_inactive",
            commentTypeID: "#comT_commentTypeID"
        };

        function comT_init() {
            comT_bindEvents();
            comT_resetForm();
            comT_loadGrid([]);
            comT_loadData();
        }

        function comT_bindEvents() {
            initTomSelect(".tomselect-custom");

            $(document)
                .off("input change", `${comT_selectors.form} input, ${comT_selectors.form} select, ${comT_selectors.form} textarea`)
                .on("input change", `${comT_selectors.form} input, ${comT_selectors.form} select, ${comT_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(comT_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    comT_resetForm();
                    applyValidationErrors([], comT_selectors.form);
                });

            $(document).off("click", comT_selectors.btnView).on("click", comT_selectors.btnView, function () {
                comT_loadData();
            });

            $(document).off("click", comT_selectors.btnNew).on("click", comT_selectors.btnNew, function () {
                comT_openAddModal();
            });

            $(document).off("click", comT_selectors.btnEdit).on("click", comT_selectors.btnEdit, function () {
                comT_openEditModal();
            });

            $(document).off("click", comT_selectors.btnSave).on("click", comT_selectors.btnSave, function () {
                comT_save();
            });

            $(document).off("click", comT_selectors.btnDelete).on("click", comT_selectors.btnDelete, function () {
                comT_delete();
            });

            $(document).off("click", comT_selectors.btnExportExcel).on("click", comT_selectors.btnExportExcel, function () {
                comT_exportExcel();
            });
        }

        function comT_resetForm() {
            const comT_form = $(comT_selectors.form)[0];

            if (comT_form) {
                comT_form.reset();
            }

            clearTomSelect(comT_selectors.commentTypeID);
            $(comT_selectors.id).val("0");
            $(comT_selectors.modalLabel).text("Add Comment");
            comT_selectedRowData = null;
        }

        function comT_openAddModal() {
            comT_resetForm();
            $(comT_selectors.modalLabel).text("Add Comment");
            $(comT_selectors.itemModal).modal("show");
        }

        function comT_openEditModal() {
            if (!comT_selectedRowData) {
                showToast("Warning", "Please select 1 row to edit.", false);
                return;
            }

            comT_fillForm(comT_selectedRowData);
            $(comT_selectors.modalLabel).text("Update Comment");
            $(comT_selectors.itemModal).modal("show");
        }

        function comT_fillForm(comT_data) {
            $(comT_selectors.id).val(comT_data.id);
            $(comT_selectors.code).val(comT_data.code);
            $(comT_selectors.description).val(comT_data.description);
            $(comT_selectors.inactive).prop("checked", comT_data.inactive);

            const comT_commentTypeCode = comT_data.commentType;
            const comT_select = document.querySelector(comT_selectors.commentTypeID).tomselect;
            const comT_option = $(`${comT_selectors.commentTypeID} option[data-code='${comT_commentTypeCode}']`);

            if (comT_option.length) {
                comT_select.setValue(comT_option.val());
            } else {
                comT_select.clear();
            }
        }

        function comT_getSearchModel() {
            return {
                code: $(comT_selectors.filterCode).val(),
                name: $(comT_selectors.filterName).val(),
                inactive: $(comT_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function comT_getSaveModel() {
            const comT_id = parseInt($(comT_selectors.id).val()) || 0;
            let comT_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const comT_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: comT_id,
                Code: $(comT_selectors.code).val().trim(),
                Description: $(comT_selectors.description).val(),
                Inactive: $(comT_selectors.inactive).prop("checked"),
                CommentTypeID: parseInt($(comT_selectors.commentTypeID).val()) || 0,
                CreatedBy: comT_loginName,
                UpdatedBy: comT_loginName,
                UserInsertID: comT_loginUser,
                UserUpdateID: comT_loginUser
            };
        }

        function comT_showLoading() {
            $(comT_selectors.loading).show();
        }

        function comT_hideLoading() {
            $(comT_selectors.loading).hide();
        }

        function comT_loadData() {
            comT_showLoading();

            $.ajax({
                url: "/Administration/GetComment",
                type: "GET",
                cache: false,
                data: comT_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (comT_data) {
                    comT_loadGrid(comT_data || []);
                    comT_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    comT_hideLoading();
                }
            });
        }

        function comT_loadGrid(comT_data) {
            $(comT_selectors.grid).dxDataGrid({
                dataSource: comT_data,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: {
                    mode: "single"
                },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "100" },
                    { dataField: "commentType", caption: "Comment Type", width: "100" },
                    { dataField: "description", caption: "Description", minWidth: 120, cssClass: "col-description"},
                    { dataField: "inactive", caption: "Inactive", width: "7%",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "80" },
                    { dataField: "createdDate", caption: "Cre.Date", dataType: "date", width: "80" },
                    { dataField: "updatedBy", caption: "Updated By", width: "80" },
                    { dataField: "updatedDate", caption: "Upd.Date", dataType: "date", width: "80" }
                ],
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: {
                    mode: "standard",
                    showScrollbar: "always"
                },
                onSelectionChanged: function (e) {
                    comT_selectedRowData = e.selectedRowsData.length > 0
                        ? e.selectedRowsData[0]
                        : null;
                }
            });
        }

        function comT_save() {
            const comT_model = comT_getSaveModel();

            $.ajax({
                url: "/Administration/CommentSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(comT_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (comT_res) {
                    if (comT_res.success) {
                        showToast("Success", comT_res.message, true);
                        $(comT_selectors.itemModal).modal("hide");
                        comT_loadData();
                        return;
                    }

                    if (comT_res.errors && comT_res.errors.length > 0) {
                        applyValidationErrors(comT_res.errors, comT_selectors.form);

                        let comT_generalError = comT_res.errors.find(x => x.field === "general");
                        let comT_toastMessage = comT_generalError
                            ? comT_generalError.message
                            : "Please check input fields.";

                        showToast("Warning", comT_toastMessage, false);
                        return;
                    }

                    showToast("Error", comT_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(comT_selectors.itemModal).modal("hide");
                }
            });
        }

        function comT_delete() {
            if (!comT_selectedRowData || comT_selectedRowData.id === 0) {
                showToast("Warning", "Please select 1 row to delete.", false);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeleteComment/` + comT_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (comT_result) {
                    if (comT_result.success) {
                        comT_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", comT_result.message, false);
                },
                error: function () {
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function comT_exportExcel() {
            const comT_grid = $(comT_selectors.grid).dxDataGrid("instance");
            const comT_workbook = new ExcelJS.Workbook();
            const comT_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const comT_worksheet = comT_workbook.addWorksheet("Sheet 1");

            comT_worksheet.addRow([comT_companyName]);
            comT_worksheet.mergeCells("A1:D1");
            comT_worksheet.getRow(1).font = { bold: true };
            comT_worksheet.getRow(1).alignment = {
                vertical: "middle",
                horizontal: "left"
            };

            const comT_now = new Date();
            const comT_exportDate = comT_now.toLocaleString("vi-VN");

            comT_worksheet.addRow(["", "", "", comT_exportDate]);
            comT_worksheet.mergeCells("D2:D2");
            comT_worksheet.getRow(2).alignment = {
                vertical: "middle",
                horizontal: "right"
            };

            comT_worksheet.addRow([]);
            comT_worksheet.addRow([]);

            const comT_reportRow = comT_worksheet.addRow(["Comment"]);
            comT_worksheet.mergeCells("A5:D5");
            comT_reportRow.font = { bold: true, size: 14 };
            comT_reportRow.alignment = {
                vertical: "middle",
                horizontal: "center"
            };

            comT_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: comT_grid,
                worksheet: comT_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const comT_lastRow = comT_worksheet.lastRow.number + 2;

                comT_worksheet.mergeCells(`A${comT_lastRow}:D${comT_lastRow}`);
                comT_worksheet.getCell(`A${comT_lastRow}`).alignment = {
                    horizontal: "center"
                };
                comT_worksheet.getCell(`A${comT_lastRow}`).font = {
                    italic: true
                };

                let comT_fileName = "Comment.xlsx";

                comT_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(
                        new Blob([buffer], { type: "application/octet-stream" }),
                        comT_fileName
                    );
                });
            });
        }

        return {
            init: comT_init,
            loadData: comT_loadData,
            openAddModal: comT_openAddModal,
            openEditModal: comT_openEditModal
        };
    })();

    window.openModalComment = function () {
        const modalEl = document.querySelector("#comT_mainModal");
        const modal = bootstrap.Modal.getOrCreateInstance(modalEl);

        $(modalEl).one("shown.bs.modal", function () {
            comT_Module.init();
        });
        modal.show();
    };
</script>