<div class="modal fade" id="cfC_mainModal" tabindex="-1" aria-labelledby="cfC_mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="cfC_mainModalLabel">Confirmation Config</h5>
            </div>

            <div class="modal-body">
                <form id="cfC_form">
                    <div class="search-filter">
                        <button type="button" id="cfC_btnSave" class="mui-button mui-button-save">Save</button>
                        <button type="button" class="mui-button mui-button-save" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>

                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_emailAddress" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Email Address
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_emailAddress"
                                            name="cfC_emailAddress"
                                            type="text"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_emailAddressError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_mailUser" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Mail User
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_mailUser"
                                            name="cfC_mailUser"
                                            type="text"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_mailUserError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_mailPassword" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Password
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_mailPassword"
                                            name="cfC_mailPassword"
                                            type="password"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_mailPasswordError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_serverName" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Server Name
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_serverName"
                                            name="cfC_serverName"
                                            type="text"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_serverNameError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_serverPort" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Server Port
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_serverPort"
                                            name="cfC_serverPort"
                                            type="number"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_serverPortError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_mailSubject" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Subject
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_mailSubject"
                                            name="cfC_mailSubject"
                                            type="text"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_mailSubjectError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="cfC_mailBody" class="col-md-2 col-lg-2 col-form-label col-form-label-sm text-md-end">
                                    Body
                                </label>
                                <div class="col-md-10 col-lg-9">
                                    <textarea id="cfC_mailBody"
                                                name="cfC_mailBody"
                                                rows="5"
                                                class="form-control form-control-sm"
                                                style="height: 100px;"></textarea>
                                    <div class="invalid-feedback" id="cfC_mailBodyError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="cfC_mailSubjectENG" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Subject ENG
                                </label>
                                <div class="col-md-8">
                                    <input id="cfC_mailSubjectENG"
                                            name="cfC_mailSubjectENG"
                                            type="text"
                                            class="form-control form-control-sm">
                                    <div class="invalid-feedback" id="cfC_mailSubjectENGError"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="cfC_mailBodyENG" class="col-md-2 col-lg-2 col-form-label col-form-label-sm text-md-end">
                                    Body ENG
                                </label>
                                <div class="col-md-10 col-lg-9">
                                    <textarea id="cfC_mailBodyENG"
                                                name="cfC_mailBodyENG"
                                                rows="5"
                                                class="form-control form-control-sm"
                                                style="height: 100px;"></textarea>
                                    <div class="invalid-feedback" id="cfC_mailBodyENGError"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="cfC_id" name="cfC_id" value="0" />
                </form>

                <div id="cfC_loadingSpinner" 
                    style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                    z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                    height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    DevExpress.localization.locale("vi");

    var cfC_Module = (function () {
        const selectors = {
            mainModal: "#cfC_mainModal",
            form: "#cfC_form",
            loading: "#cfC_loadingSpinner",

            btnSave: "#cfC_btnSave",

            id: "#cfC_id",
            emailAddress: "#cfC_emailAddress",
            mailUser: "#cfC_mailUser",
            mailPassword: "#cfC_mailPassword",
            serverName: "#cfC_serverName",
            serverPort: "#cfC_serverPort",
            mailSubject: "#cfC_mailSubject",
            mailBody: "#cfC_mailBody",
            mailSubjectENG: "#cfC_mailSubjectENG",
            mailBodyENG: "#cfC_mailBodyENG"
        };

        function init() {
            bindEvents();
            loadConfirmationConfig();
        }

        function bindEvents() {
            $(selectors.btnSave).off("click").on("click", saveConfirmationConfig);

            $(selectors.form).off("input change", "input, select, textarea").on("input change", "input, select, textarea", function () {
                clearFieldError(this);
            });

            $(selectors.mainModal).off("hidden.bs.modal").on("hidden.bs.modal", function () {
                applyValidationErrors([], selectors.form);
            });
        }

        function loadConfirmationConfig() {
            $(selectors.loading).show();

            $.ajax({
                url: "/Administration/GetConfirmationConfig",
                type: "GET",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val()
                },
                success: function (res) {
                    $(selectors.loading).hide();

                    if (res && res.length > 0) {
                        fillForm(res[0]);
                    } else {
                        resetForm();
                        showToast("Error", "Không có dữ liệu", false);
                    }
                },
                error: function () {
                    $(selectors.loading).hide();
                    showToast("Error", "Error load data", false);
                }
            });
        }

        function fillForm(config) {
            $(selectors.id).val(config.id || 0);
            $(selectors.emailAddress).val(config.emailAddress ?? "");
            $(selectors.mailUser).val(config.mailUser ?? "");
            $(selectors.mailPassword).val(config.mailPassword ?? "");
            $(selectors.serverName).val(config.serverName ?? "");
            $(selectors.serverPort).val(config.serverPort ?? "");
            $(selectors.mailSubject).val(config.mailSubject ?? "");
            $(selectors.mailBody).val(config.mailBody ?? "");
            $(selectors.mailSubjectENG).val(config.mailSubjectENG ?? "");
            $(selectors.mailBodyENG).val(config.mailBodyENG ?? "");
        }

        function resetForm() {
            $(selectors.form)[0].reset();
            $(selectors.id).val("0");
            applyValidationErrors([], selectors.form);
        }

        function saveConfirmationConfig() {
            const id = parseInt($(selectors.id).val()) || 0;
            const loginName = (localStorage.getItem("Loginname") || "").trim().replace(/^"(.*)"$/, "$1");

            const model = {
                id: id,
                emailAddress: $(selectors.emailAddress).val().trim(),
                mailUser: $(selectors.mailUser).val().trim(),
                mailPassword: $(selectors.mailPassword).val(),
                serverName: $(selectors.serverName).val().trim(),
                serverPort: parseInt($(selectors.serverPort).val()) || 0,
                mailSubject: $(selectors.mailSubject).val().trim(),
                mailBody: $(selectors.mailBody).val().trim(),
                mailSubjectENG: $(selectors.mailSubjectENG).val().trim(),
                mailBodyENG: $(selectors.mailBodyENG).val().trim(),
                updatedBy: loginName
            };

            $.ajax({
                url: "/Administration/ConfirmationConfigSave",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val()
                },
                success: function (res) {
                    if (res.success) {
                        showToast("Success", res.message, true);
                        loadConfirmationConfig();
                        return;
                    }

                    if (res.errors && res.errors.length > 0) {
                        applyValidationErrors(res.errors, selectors.form);

                        const generalError = res.errors.find(x => x.field === "general");
                        const toastMessage = generalError ? generalError.message : "Please check input fields.";

                        showToast("Warning", toastMessage, false);
                        return;
                    }

                    showToast("Error", res.message || "Save failed", false);
                },
                error: function (xhr) {
                    const errorMessage = xhr?.responseJSON?.message || xhr?.statusText || "Save failed";
                    showToast("Error", errorMessage, false);
                }
            });
        }

        function clearFieldError(element) {
            const $element = $(element);

            if ($element.hasClass("is-invalid")) {
                $element.removeClass("is-invalid");
            }

            const $feedback = $element.siblings(".invalid-feedback");
            if ($feedback.length) {
                $feedback.text("");
            }
        }

        return {
            init: init,
            loadConfirmationConfig: loadConfirmationConfig
        };
    })();

    window.openModalConfirmationConfig = function () {
        $("#cfC_mainModal").modal("show");
        cfC_Module.init();
    };
</script>