<!-- Main Modal -->
<div class="modal fade"
     id="depa_mainModal"
     tabindex="-1"
     aria-labelledby="depa_mainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="depa_mainModalLabel">Department</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="depa_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="depa_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="depa_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="depa_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="depa_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button"
                                class="mui-button mui-button-new"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Close
                        </button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="depa_filterCode"
                                       class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="depa_filterCode"
                                           name="depa_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="depa_filterName"
                                       class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="depa_filterName"
                                           name="depa_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox"
                                                   id="depa_chkShowInactive"
                                                   name="depa_chkShowInactive" />
                                            <label class="form-check-label" for="depa_chkShowInactive">
                                                Show Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="depa_gridContainer" class="gridContainer"></div>
                </div>

                <div id="depa_loadingSpinner"
                     style="position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 999;
                            background: rgba(255, 255, 255, 0.55);
                            backdrop-filter: blur(2px);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade"
     id="depa_itemModal"
     tabindex="-1"
     aria-labelledby="depa_itemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="depa_itemModalLabel">Add Department</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="depa_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="depa_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="depa_code"
                                       class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="depa_code"
                                           name="depa_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="depa_inactive"
                                               name="depa_inactive"
                                               type="checkbox" />
                                        <label for="depa_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="depa_name"
                                       class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="depa_name"
                                           name="depa_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="depa_description"
                                       class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="depa_description"
                                              name="depa_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="depa_id" name="depa_id" value="0" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    DevExpress.localization.locale("vi");

    var depa_Module = (() => {
        let depa_selectedRowData = null;

        const depa_selectors = {
            mainModal: "#depa_mainModal",
            itemModal: "#depa_itemModal",
            form: "#depa_formContainer",
            grid: "#depa_gridContainer",
            loading: "#depa_loadingSpinner",
            filterCode: "#depa_filterCode",
            filterName: "#depa_filterName",
            chkShowInactive: "#depa_chkShowInactive",
            btnView: "#depa_btnView",
            btnNew: "#depa_btnNew",
            btnEdit: "#depa_btnEdit",
            btnDelete: "#depa_btnDelete",
            btnExportExcel: "#depa_btnExportExcel",
            btnSave: "#depa_btnSave",
            modalLabel: "#depa_itemModalLabel",
            id: "#depa_id",
            code: "#depa_code",
            name: "#depa_name",
            description: "#depa_description",
            inactive: "#depa_inactive"
        };

        function depa_init() {
            depa_bindEvents();
            depa_resetForm();
            depa_loadGrid([]);
            depa_loadData();
        }

        function depa_bindEvents() {
            $(document)
                .off("input change", `${depa_selectors.form} input, ${depa_selectors.form} select, ${depa_selectors.form} textarea`)
                .on("input change", `${depa_selectors.form} input, ${depa_selectors.form} select, ${depa_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(depa_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    depa_resetForm();
                    applyValidationErrors([], depa_selectors.form);
                });

            $(document)
                .off("click", depa_selectors.btnView)
                .on("click", depa_selectors.btnView, function () {
                    depa_loadData();
                });

            $(document)
                .off("click", depa_selectors.btnNew)
                .on("click", depa_selectors.btnNew, function () {
                    depa_openAddModal();
                });

            $(document)
                .off("click", depa_selectors.btnEdit)
                .on("click", depa_selectors.btnEdit, function () {
                    depa_openEditModal();
                });

            $(document)
                .off("click", depa_selectors.btnSave)
                .on("click", depa_selectors.btnSave, function () {
                    depa_save();
                });

            $(document)
                .off("click", depa_selectors.btnDelete)
                .on("click", depa_selectors.btnDelete, function () {
                    depa_delete();
                });

            $(document)
                .off("click", depa_selectors.btnExportExcel)
                .on("click", depa_selectors.btnExportExcel, function () {
                    depa_exportExcel();
                });
        }

        function depa_resetForm() {
            const depa_form = $(depa_selectors.form)[0];

            if (depa_form) {
                depa_form.reset();
            }

            $(depa_selectors.id).val("0");
            $(depa_selectors.modalLabel).text("New Department");
            depa_selectedRowData = null;
        }

        function depa_openAddModal() {
            depa_resetForm();
            $(depa_selectors.modalLabel).text("New Department");
            $(depa_selectors.itemModal).modal("show");
        }

        function depa_openEditModal() {
            if (!depa_selectedRowData) {
                showToast("Warning", "Please select 1 row to edit.", false);
                return;
            }

            depa_fillForm(depa_selectedRowData);
            $(depa_selectors.modalLabel).text("Update Department");
            $(depa_selectors.itemModal).modal("show");
        }

        function depa_fillForm(depa_data) {
            $(depa_selectors.id).val(depa_data.id);
            $(depa_selectors.code).val(depa_data.code);
            $(depa_selectors.name).val(depa_data.name);
            $(depa_selectors.description).val(depa_data.description);
            $(depa_selectors.inactive).prop("checked", depa_data.inactive);
        }

        function depa_getSearchModel() {
            return {
                code: $(depa_selectors.filterCode).val(),
                name: $(depa_selectors.filterName).val(),
                inactive: $(depa_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function depa_getSaveModel() {
            const depa_id = parseInt($(depa_selectors.id).val()) || 0;
            let depa_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const depa_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: depa_id,
                Code: $(depa_selectors.code).val(),
                Name: $(depa_selectors.name).val(),
                Description: $(depa_selectors.description).val(),
                Inactive: $(depa_selectors.inactive).prop("checked"),
                CreatedBy: depa_loginName,
                UpdatedBy: depa_loginName,
                UserInsertID: depa_loginUser,
                UserUpdateID: depa_loginUser
            };
        }

        function depa_showLoading() {
            $(depa_selectors.loading).show();
        }

        function depa_hideLoading() {
            $(depa_selectors.loading).hide();
        }

        function depa_loadData() {
            depa_showLoading();

            $.ajax({
                url: "/Administration/GetDepartment",
                type: "GET",
                cache: false,
                data: depa_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (depa_data) {
                    depa_loadGrid(depa_data || []);
                    depa_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    depa_hideLoading();
                }
            });
        }

        function depa_loadGrid(depa_data) {
            $(depa_selectors.grid).dxDataGrid({
                dataSource: depa_data,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: {
                    mode: "single"
                },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "100" },
                    { dataField: "name", caption: "Name", width: "150" },
                    { dataField: "description", caption: "Description", minWidth: 120, cssClass: "col-description"},
                    { dataField: "inactive", caption: "Inactive", width: "60",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "80" },
                    { dataField: "createdDate", caption: "Cre.Date", dataType: "date", width: "80" },
                    { dataField: "updatedBy", caption: "Updated By", width: "80" },
                    { dataField: "updatedDate", caption: "Upd.Date", dataType: "date", width: "80" }
                ],
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: {
                    mode: "standard",
                    showScrollbar: "always"
                },
                onSelectionChanged: function (e) {
                    depa_selectedRowData = e.selectedRowsData.length > 0
                        ? e.selectedRowsData[0]
                        : null;
                }
            });
        }

        function depa_save() {
            const depa_model = depa_getSaveModel();

            $.ajax({
                url: "/Administration/DepartmentSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(depa_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (depa_res) {
                    if (depa_res.success) {
                        showToast("Success", depa_res.message, true);
                        $(depa_selectors.itemModal).modal("hide");
                        depa_loadData();
                        return;
                    }

                    if (depa_res.errors && depa_res.errors.length > 0) {
                        applyValidationErrors(depa_res.errors, depa_selectors.form);

                        let depa_generalError = depa_res.errors.find(x => x.field === "general");
                        let depa_toastMessage = depa_generalError
                            ? depa_generalError.message
                            : "Please check input fields.";

                        showToast("Warning", depa_toastMessage, false);
                        return;
                    }

                    showToast("Error", depa_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(depa_selectors.itemModal).modal("hide");
                }
            });
        }

        function depa_delete() {
            if (!depa_selectedRowData || depa_selectedRowData.id === 0) {
                showToast("Warning", "Please select 1 row to delete.", false);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeleteDepartment/` + depa_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (depa_result) {
                    if (depa_result.success) {
                        depa_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", depa_result.message, false);
                },
                error: function () {
                    console.log("delete " + depa_selectedRowData.id);
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function depa_exportExcel() {
            const depa_grid = $(depa_selectors.grid).dxDataGrid("instance");
            const depa_workbook = new ExcelJS.Workbook();
            const depa_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const depa_worksheet = depa_workbook.addWorksheet("Sheet 1");

            depa_worksheet.addRow([depa_companyName]);
            depa_worksheet.mergeCells("A1:D1");
            depa_worksheet.getRow(1).font = { bold: true };
            depa_worksheet.getRow(1).alignment = {
                vertical: "middle",
                horizontal: "left"
            };

            const depa_now = new Date();
            const depa_exportDate = depa_now.toLocaleString("vi-VN");

            depa_worksheet.addRow(["", "", "", depa_exportDate]);
            depa_worksheet.mergeCells("D2:D2");
            depa_worksheet.getRow(2).alignment = {
                vertical: "middle",
                horizontal: "right"
            };

            depa_worksheet.addRow([]);
            depa_worksheet.addRow([]);

            const depa_reportRow = depa_worksheet.addRow(["Department"]);
            depa_worksheet.mergeCells("A5:D5");
            depa_reportRow.font = { bold: true, size: 14 };
            depa_reportRow.alignment = {
                vertical: "middle",
                horizontal: "center"
            };

            depa_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: depa_grid,
                worksheet: depa_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const depa_lastRow = depa_worksheet.lastRow.number + 2;

                depa_worksheet.mergeCells(`A${depa_lastRow}:D${depa_lastRow}`);
                depa_worksheet.getCell(`A${depa_lastRow}`).alignment = {
                    horizontal: "center"
                };
                depa_worksheet.getCell(`A${depa_lastRow}`).font = {
                    italic: true
                };

                let depa_fileName = "Department.xlsx";

                depa_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(
                        new Blob([buffer], { type: "application/octet-stream" }),
                        depa_fileName
                    );
                });
            });
        }

        return {
            init: depa_init,
            loadData: depa_loadData,
            openAddModal: depa_openAddModal,
            openEditModal: depa_openEditModal
        };
    })();

    window.openModalDepartment = function () {
        if (typeof depa_Module !== "undefined" && depa_Module.init) {
            depa_Module.init();
        }
    };
</script>