<!-- Main Modal -->
<div class="modal fade" id="pfg_mainModal" tabindex="-1" aria-labelledby="pfg_mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="pfg_mainModalLabel">Package Forecast Group</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="pfg_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="pfg_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="pfg_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="pfg_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="pfg_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="pfg_filterCode" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="pfg_filterCode"
                                           name="pfg_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="pfg_filterName" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="pfg_filterName"
                                           name="pfg_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox" id="pfg_chkShowInactive" name="pfg_chkShowInactive">
                                            <label class="form-check-label" for="pfg_chkShowInactive">Show Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="pfg_gridContainer" class="gridContainer"></div>
                </div>

                <div id="pfg_loadingSpinner"
                     style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                     z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                     height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="pfg_itemModal" tabindex="-1" aria-labelledby="pfg_itemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="pfg_itemModalLabel">Add Package Forecast Group</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="pfg_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="pfg_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="pfg_code" class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="pfg_code"
                                           name="pfg_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="pfg_inactive"
                                               name="pfg_inactive"
                                               type="checkbox" />
                                        <label for="pfg_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="pfg_name" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="pfg_name"
                                           name="pfg_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="pfg_description" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="pfg_description"
                                              name="pfg_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="pfg_id" name="pfg_id" value="0" />
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    var pfg_Module = (() => {
        let pfg_selectedRowData = null;

        const pfg_selectors = {
            mainModal: "#pfg_mainModal",
            itemModal: "#pfg_itemModal",
            form: "#pfg_formContainer",
            grid: "#pfg_gridContainer",
            loading: "#pfg_loadingSpinner",

            filterCode: "#pfg_filterCode",
            filterName: "#pfg_filterName",
            chkShowInactive: "#pfg_chkShowInactive",

            btnView: "#pfg_btnView",
            btnNew: "#pfg_btnNew",
            btnEdit: "#pfg_btnEdit",
            btnDelete: "#pfg_btnDelete",
            btnExportExcel: "#pfg_btnExportExcel",
            btnSave: "#pfg_btnSave",

            modalLabel: "#pfg_itemModalLabel",

            id: "#pfg_id",
            code: "#pfg_code",
            name: "#pfg_name",
            description: "#pfg_description",
            inactive: "#pfg_inactive"
        };

        function pfg_init() {
            pfg_bindEvents();
            pfg_resetForm();
            pfg_loadGrid([]);
            pfg_loadData();
        }

        function pfg_bindEvents() {
            $(document)
                .off("input change", `${pfg_selectors.form} input, ${pfg_selectors.form} select, ${pfg_selectors.form} textarea`)
                .on("input change", `${pfg_selectors.form} input, ${pfg_selectors.form} select, ${pfg_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(pfg_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    pfg_resetForm();
                    applyValidationErrors([], pfg_selectors.form);
                });

            $(document)
                .off("click", pfg_selectors.btnView)
                .on("click", pfg_selectors.btnView, function () {
                    pfg_loadData();
                });

            $(document)
                .off("click", pfg_selectors.btnNew)
                .on("click", pfg_selectors.btnNew, function () {
                    pfg_openAddModal();
                });

            $(document)
                .off("click", pfg_selectors.btnEdit)
                .on("click", pfg_selectors.btnEdit, function () {
                    pfg_openEditModal();
                });

            $(document)
                .off("click", pfg_selectors.btnSave)
                .on("click", pfg_selectors.btnSave, function () {
                    pfg_save();
                });

            $(document)
                .off("click", pfg_selectors.btnDelete)
                .on("click", pfg_selectors.btnDelete, function () {
                    pfg_delete();
                });

            $(document)
                .off("click", pfg_selectors.btnExportExcel)
                .on("click", pfg_selectors.btnExportExcel, function () {
                    pfg_exportExcel();
                });
        }

        function pfg_resetForm() {
            const pfg_form = $(pfg_selectors.form)[0];
            if (pfg_form) {
                pfg_form.reset();
            }

            $(pfg_selectors.id).val("0");
            $(pfg_selectors.modalLabel).text("Add Package Forecast Group");
            pfg_selectedRowData = null;
        }

        function pfg_openAddModal() {
            pfg_resetForm();
            $(pfg_selectors.modalLabel).text("Add Package Forecast Group");
            $(pfg_selectors.itemModal).modal("show");
        }

        function pfg_openEditModal() {
            if (!pfg_selectedRowData) {
                showToast("Warning", "Please select 1 row to edit.", false);
                return;
            }

            pfg_fillForm(pfg_selectedRowData);
            $(pfg_selectors.modalLabel).text("Update Package Forecast Group");
            $(pfg_selectors.itemModal).modal("show");
        }

        function pfg_fillForm(pfg_data) {
            $(pfg_selectors.id).val(pfg_data.id);
            $(pfg_selectors.code).val(pfg_data.code);
            $(pfg_selectors.name).val(pfg_data.name);
            $(pfg_selectors.description).val(pfg_data.description);
            $(pfg_selectors.inactive).prop("checked", pfg_data.inactive);
        }

        function pfg_getSearchModel() {
            return {
                code: $(pfg_selectors.filterCode).val(),
                name: $(pfg_selectors.filterName).val(),
                inactive: $(pfg_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function pfg_getSaveModel() {
            const pfg_id = parseInt($(pfg_selectors.id).val()) || 0;
            let pfg_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const pfg_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: pfg_id,
                Code: $(pfg_selectors.code).val(),
                Name: $(pfg_selectors.name).val(),
                Description: $(pfg_selectors.description).val(),
                Inactive: $(pfg_selectors.inactive).prop("checked"),
                CreatedBy: pfg_loginName,
                UpdatedBy: pfg_loginName,
                UserInsertID: pfg_loginUser,
                UserUpdateID: pfg_loginUser
            };
        }

        function pfg_showLoading() {
            $(pfg_selectors.loading).show();
        }

        function pfg_hideLoading() {
            $(pfg_selectors.loading).hide();
        }

        function pfg_loadData() {
            pfg_showLoading();

            $.ajax({
                url: "/Administration/GetPackageForecastGroup",
                type: "GET",
                cache: false,
                data: pfg_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (pfg_data) {
                    pfg_loadGrid(pfg_data || []);
                    pfg_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    pfg_hideLoading();
                }
            });
        }

        function pfg_loadGrid(pfg_data) {
            $(pfg_selectors.grid).dxDataGrid({
                dataSource: pfg_data,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: { mode: "single" },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "100" },
                    { dataField: "name", caption: "Name", width: "150" },
                    { dataField: "description", caption: "Description", minWidth: 120, cssClass: "col-description"},
                    { dataField: "inactive", caption: "Inactive", width: "60",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "80" },
                    { dataField: "createdDate", caption: "Cre.Date", dataType: "date", width: "80" },
                    { dataField: "updatedBy", caption: "Updated By", width: "80" },
                    { dataField: "updatedDate", caption: "Upd.Date", dataType: "date", width: "80" }
                ],
                filterRow: { visible: true, applyFilter: "auto" },
                paging: { pageSize: 20 },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: { mode: "standard", showScrollbar: "always" },
                onSelectionChanged: function (e) {
                    pfg_selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                }
            });
        }

        function pfg_save() {
            const pfg_model = pfg_getSaveModel();

            $.ajax({
                url: "/Administration/PackageForecastGroupSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(pfg_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (pfg_res) {
                    if (pfg_res.success) {
                        showToast("Success", pfg_res.message, true);
                        $(pfg_selectors.itemModal).modal("hide");
                        pfg_loadData();
                        return;
                    }

                    if (pfg_res.errors && pfg_res.errors.length > 0) {
                        applyValidationErrors(pfg_res.errors, pfg_selectors.form);

                        const pfg_generalError = pfg_res.errors.find(x => x.field === "general");
                        const pfg_toastMessage = pfg_generalError
                            ? pfg_generalError.message
                            : "Please check input fields.";

                        showToast("Warning", pfg_toastMessage, false);
                        return;
                    }

                    showToast("Error", pfg_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(pfg_selectors.itemModal).modal("hide");
                }
            });
        }

        function pfg_delete() {
            if (!pfg_selectedRowData || pfg_selectedRowData.id === 0) {
                showToast("Warning", "Please select 1 row to delete.", false);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeletePackageForecastGroup/` + pfg_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (pfg_result) {
                    if (pfg_result.success) {
                        pfg_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", pfg_result.message, false);
                },
                error: function () {
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function pfg_exportExcel() {
            const pfg_grid = $(pfg_selectors.grid).dxDataGrid("instance");

            const pfg_workbook = new ExcelJS.Workbook();
            const pfg_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const pfg_worksheet = pfg_workbook.addWorksheet("Sheet 1");

            pfg_worksheet.addRow([pfg_companyName]);
            pfg_worksheet.mergeCells("A1:D1");
            pfg_worksheet.getRow(1).font = { bold: true };
            pfg_worksheet.getRow(1).alignment = { vertical: "middle", horizontal: "left" };

            const pfg_now = new Date();
            const pfg_exportDate = pfg_now.toLocaleString("vi-VN");
            pfg_worksheet.addRow(["", "", "", pfg_exportDate]);
            pfg_worksheet.mergeCells("D2:D2");
            pfg_worksheet.getRow(2).alignment = { vertical: "middle", horizontal: "right" };

            pfg_worksheet.addRow([]);
            pfg_worksheet.addRow([]);

            const pfg_reportRow = pfg_worksheet.addRow(["Package Forecast Group"]);
            pfg_worksheet.mergeCells("A5:D5");
            pfg_reportRow.font = { bold: true, size: 14 };
            pfg_reportRow.alignment = { vertical: "middle", horizontal: "center" };

            pfg_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: pfg_grid,
                worksheet: pfg_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const pfg_lastRow = pfg_worksheet.lastRow.number + 2;
                pfg_worksheet.mergeCells(`A${pfg_lastRow}:D${pfg_lastRow}`);
                pfg_worksheet.getCell(`A${pfg_lastRow}`).alignment = { horizontal: "center" };
                pfg_worksheet.getCell(`A${pfg_lastRow}`).font = { italic: true };

                let pfg_fileName = "PackageForecastGroup.xlsx";
                pfg_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), pfg_fileName);
                });
            });
        }

        return {
            init: pfg_init,
            loadData: pfg_loadData,
            openAddModal: pfg_openAddModal,
            openEditModal: pfg_openEditModal
        };
    })();

    window.openModalPackageForecastGroup = function () {
        const modalEl = document.querySelector("#pfg_mainModal");
        const modal = bootstrap.Modal.getOrCreateInstance(modalEl);

        $(modalEl).one("shown.bs.modal", function () {
            pfg_Module.init();
        });
        modal.show();
    };
</script>