<!-- Main Modal -->
<div class="modal fade" id="preG_mainModal" tabindex="-1" aria-labelledby="preG_mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-4by3 modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="preG_mainModalLabel">Preference Group</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="preG_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="preG_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="preG_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="preG_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="preG_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="preG_filterCode" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="preG_filterCode"
                                           name="preG_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="preG_filterName" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="preG_filterName"
                                           name="preG_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox" id="preG_chkShowInactive" name="preG_chkShowInactive">
                                            <label class="form-check-label" for="preG_chkShowInactive">Show Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="preG_gridContainer" class="gridContainer"></div>
                </div>

                <div id="preG_loadingSpinner"
                     style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                     z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                     height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="preG_itemModal" tabindex="-1" aria-labelledby="preG_itemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="preG_itemModalLabel">Add Preference Group</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="preG_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="preG_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="preG_code" class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="preG_code"
                                           name="preG_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="preG_inactive"
                                               name="preG_inactive"
                                               type="checkbox" />
                                        <label for="preG_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="preG_name" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="preG_name"
                                           name="preG_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="preG_description" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="preG_description"
                                              name="preG_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="preG_id" name="preG_id" value="0" />
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    var preG_Module = (() => {
        let preG_selectedRowData = null;

        const preG_selectors = {
            mainModal: "#preG_mainModal",
            itemModal: "#preG_itemModal",
            form: "#preG_formContainer",
            grid: "#preG_gridContainer",
            loading: "#preG_loadingSpinner",

            filterCode: "#preG_filterCode",
            filterName: "#preG_filterName",
            chkShowInactive: "#preG_chkShowInactive",

            btnView: "#preG_btnView",
            btnNew: "#preG_btnNew",
            btnEdit: "#preG_btnEdit",
            btnDelete: "#preG_btnDelete",
            btnExportExcel: "#preG_btnExportExcel",
            btnSave: "#preG_btnSave",

            modalLabel: "#preG_itemModalLabel",

            id: "#preG_id",
            code: "#preG_code",
            name: "#preG_name",
            description: "#preG_description",
            inactive: "#preG_inactive"
        };

        function preG_init() {
            preG_bindEvents();
            preG_resetForm();
            preG_loadGrid([]);
            preG_loadData();
        }

        function preG_bindEvents() {
            $(document)
                .off("input change", `${preG_selectors.form} input, ${preG_selectors.form} select, ${preG_selectors.form} textarea`)
                .on("input change", `${preG_selectors.form} input, ${preG_selectors.form} select, ${preG_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(preG_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    preG_resetForm();
                    applyValidationErrors([], preG_selectors.form);
                });

            $(document)
                .off("click", preG_selectors.btnView)
                .on("click", preG_selectors.btnView, function () {
                    preG_loadData();
                });

            $(document)
                .off("click", preG_selectors.btnNew)
                .on("click", preG_selectors.btnNew, function () {
                    preG_openAddModal();
                });

            $(document)
                .off("click", preG_selectors.btnEdit)
                .on("click", preG_selectors.btnEdit, function () {
                    preG_openEditModal();
                });

            $(document)
                .off("click", preG_selectors.btnSave)
                .on("click", preG_selectors.btnSave, function () {
                    preG_save();
                });

            $(document)
                .off("click", preG_selectors.btnDelete)
                .on("click", preG_selectors.btnDelete, function () {
                    preG_delete();
                });

            $(document)
                .off("click", preG_selectors.btnExportExcel)
                .on("click", preG_selectors.btnExportExcel, function () {
                    preG_exportExcel();
                });
        }

        function preG_resetForm() {
            const preG_form = $(preG_selectors.form)[0];
            if (preG_form) {
                preG_form.reset();
            }

            $(preG_selectors.id).val("0");
            $(preG_selectors.modalLabel).text("Add Preference Group");
            preG_selectedRowData = null;
        }

        function preG_openAddModal() {
            preG_resetForm();
            $(preG_selectors.modalLabel).text("Add Preference Group");
            $(preG_selectors.itemModal).modal("show");
        }

        function preG_openEditModal() {
            if (!preG_selectedRowData) {
                showToast("Warning", "Please select a row first!", true);
                return;
            }

            preG_fillForm(preG_selectedRowData);
            $(preG_selectors.modalLabel).text("Update Preference Group");
            $(preG_selectors.itemModal).modal("show");
        }

        function preG_fillForm(preG_data) {
            $(preG_selectors.id).val(preG_data.id);
            $(preG_selectors.code).val(preG_data.code);
            $(preG_selectors.name).val(preG_data.name);
            $(preG_selectors.description).val(preG_data.description);
            $(preG_selectors.inactive).prop("checked", preG_data.inactive);
        }

        function preG_getSearchModel() {
            return {
                code: $(preG_selectors.filterCode).val(),
                name: $(preG_selectors.filterName).val(),
                inactive: $(preG_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function preG_getSaveModel() {
            const preG_id = parseInt($(preG_selectors.id).val()) || 0;
            let preG_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const preG_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: preG_id,
                Code: $(preG_selectors.code).val(),
                Name: $(preG_selectors.name).val(),
                Description: $(preG_selectors.description).val(),
                Inactive: $(preG_selectors.inactive).prop("checked"),
                CreatedBy: preG_loginName,
                UpdatedBy: preG_loginName,
                UserInsertID: preG_loginUser,
                UserUpdateID: preG_loginUser
            };
        }

        function preG_showLoading() {
            $(preG_selectors.loading).show();
        }

        function preG_hideLoading() {
            $(preG_selectors.loading).hide();
        }

        function preG_loadData() {
            preG_showLoading();

            $.ajax({
                url: "/Administration/GetPreferenceGroup",
                type: "GET",
                cache: false,
                data: preG_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (preG_data) {
                    preG_loadGrid(preG_data || []);
                    preG_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    preG_hideLoading();
                }
            });
        }

        function preG_loadGrid(preG_data) {
            $(preG_selectors.grid).dxDataGrid({
                dataSource: preG_data,
                height: 500,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: { mode: "single" },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "10%" },
                    { dataField: "name", caption: "Name", width: "20%" },
                    { dataField: "description", caption: "Description", width: "30%" },
                    { dataField: "inactive", caption: "Inactive", width: "6%",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "8%" },
                    { dataField: "createdDate", caption: "Created Date", dataType: "date", width: "9%" },
                    { dataField: "updatedBy", caption: "Updated By", width: "8%" },
                    { dataField: "updatedDate", caption: "Updated Date", dataType: "date", width: "9%" }
                ],
                filterRow: { visible: true, applyFilter: "auto" },
                paging: { pageSize: 20 },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: { mode: "standard", showScrollbar: "always" },
                onSelectionChanged: function (e) {
                    preG_selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                }
            });
        }

        function preG_save() {
            const preG_model = preG_getSaveModel();

            $.ajax({
                url: "/Administration/PreferenceGroupSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(preG_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (preG_res) {
                    if (preG_res.success) {
                        showToast("Success", preG_res.message, true);
                        $(preG_selectors.itemModal).modal("hide");
                        preG_loadData();
                        return;
                    }

                    if (preG_res.errors && preG_res.errors.length > 0) {
                        applyValidationErrors(preG_res.errors, preG_selectors.form);

                        let preG_generalError = preG_res.errors.find(x => x.field === "general");
                        let preG_toastMessage = preG_generalError ? preG_generalError.message : "Please check input fields.";

                        showToast("Warning", preG_toastMessage, false);
                        return;
                    }

                    showToast("Error", preG_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(preG_selectors.itemModal).modal("hide");
                }
            });
        }

        function preG_delete() {
            if (!preG_selectedRowData || preG_selectedRowData.id === 0) {
                showToast("Warning", "Select 1 row, please!", true);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeletePreferenceGroup/` + preG_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (preG_result) {
                    if (preG_result.success) {
                        preG_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", preG_result.message, false);
                },
                error: function () {
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function preG_exportExcel() {
            const preG_grid = $(preG_selectors.grid).dxDataGrid("instance");

            const preG_workbook = new ExcelJS.Workbook();
            const preG_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const preG_worksheet = preG_workbook.addWorksheet("Sheet 1");

            preG_worksheet.addRow([preG_companyName]);
            preG_worksheet.mergeCells("A1:D1");
            preG_worksheet.getRow(1).font = { bold: true };
            preG_worksheet.getRow(1).alignment = { vertical: "middle", horizontal: "left" };

            const preG_now = new Date();
            const preG_exportDate = preG_now.toLocaleString("vi-VN");
            preG_worksheet.addRow(["", "", "", preG_exportDate]);
            preG_worksheet.mergeCells("D2:D2");
            preG_worksheet.getRow(2).alignment = { vertical: "middle", horizontal: "right" };

            preG_worksheet.addRow([]);
            preG_worksheet.addRow([]);

            const preG_reportRow = preG_worksheet.addRow(["Preference Group"]);
            preG_worksheet.mergeCells("A5:D5");
            preG_reportRow.font = { bold: true, size: 14 };
            preG_reportRow.alignment = { vertical: "middle", horizontal: "center" };

            preG_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: preG_grid,
                worksheet: preG_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const preG_lastRow = preG_worksheet.lastRow.number + 2;
                preG_worksheet.mergeCells(`A${preG_lastRow}:D${preG_lastRow}`);
                preG_worksheet.getCell(`A${preG_lastRow}`).alignment = { horizontal: "center" };
                preG_worksheet.getCell(`A${preG_lastRow}`).font = { italic: true };

                let preG_fileName = "PreferenceGroup.xlsx";
                preG_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), preG_fileName);
                });
            });
        }

        return {
            init: preG_init,
            loadData: preG_loadData,
            openAddModal: preG_openAddModal,
            openEditModal: preG_openEditModal
        };
    })();

    $(document).ready(function () {
        preG_Module.init();
    });

    window.openModalPreferenceGroup = function () {
        $("#preG_mainModal").modal("show");
        preG_Module.loadData();
    };
</script>