<!-- Main Modal -->
<div class="modal fade" id="reaS_mainModal" tabindex="-1" aria-labelledby="reaS_mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-4by3 modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reaS_mainModalLabel">Reason</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="reaS_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="reaS_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="reaS_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="reaS_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="reaS_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="reaS_filterCode" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="reaS_filterCode"
                                           name="reaS_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="reaS_filterName" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="reaS_filterName"
                                           name="reaS_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox" id="reaS_chkShowInactive" name="reaS_chkShowInactive">
                                            <label class="form-check-label" for="reaS_chkShowInactive">Show Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="reaS_gridContainer" class="gridContainer"></div>
                </div>

                <div id="reaS_loadingSpinner"
                     style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                     z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                     height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="reaS_itemModal" tabindex="-1" aria-labelledby="reaS_itemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reaS_itemModalLabel">Add Reason</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="reaS_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="reaS_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="reaS_code" class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="reaS_code"
                                           name="reaS_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="reaS_inactive"
                                               name="reaS_inactive"
                                               type="checkbox" />
                                        <label for="reaS_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="reaS_name" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="reaS_name"
                                           name="reaS_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="reaS_description" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="reaS_description"
                                              name="reaS_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="reaS_id" name="reaS_id" value="0" />
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    var reaS_Module = (() => {
        let reaS_selectedRowData = null;

        const reaS_selectors = {
            mainModal: "#reaS_mainModal",
            itemModal: "#reaS_itemModal",
            form: "#reaS_formContainer",
            grid: "#reaS_gridContainer",
            loading: "#reaS_loadingSpinner",

            filterCode: "#reaS_filterCode",
            filterName: "#reaS_filterName",
            chkShowInactive: "#reaS_chkShowInactive",

            btnView: "#reaS_btnView",
            btnNew: "#reaS_btnNew",
            btnEdit: "#reaS_btnEdit",
            btnDelete: "#reaS_btnDelete",
            btnExportExcel: "#reaS_btnExportExcel",
            btnSave: "#reaS_btnSave",

            modalLabel: "#reaS_itemModalLabel",

            id: "#reaS_id",
            code: "#reaS_code",
            name: "#reaS_name",
            description: "#reaS_description",
            inactive: "#reaS_inactive"
        };

        function reaS_init() {
            reaS_bindEvents();
            reaS_resetForm();
            reaS_loadGrid([]);
            reaS_loadData();
        }

        function reaS_bindEvents() {
            $(document)
                .off("input change", `${reaS_selectors.form} input, ${reaS_selectors.form} select, ${reaS_selectors.form} textarea`)
                .on("input change", `${reaS_selectors.form} input, ${reaS_selectors.form} select, ${reaS_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(reaS_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    applyValidationErrors([], reaS_selectors.form);
                });

            $(document)
                .off("click", reaS_selectors.btnView)
                .on("click", reaS_selectors.btnView, function () {
                    reaS_loadData();
                });

            $(document)
                .off("click", reaS_selectors.btnNew)
                .on("click", reaS_selectors.btnNew, function () {
                    reaS_openAddModal();
                });

            $(document)
                .off("click", reaS_selectors.btnEdit)
                .on("click", reaS_selectors.btnEdit, function () {
                    reaS_openEditModal();
                });

            $(document)
                .off("click", reaS_selectors.btnSave)
                .on("click", reaS_selectors.btnSave, function () {
                    reaS_save();
                });

            $(document)
                .off("click", reaS_selectors.btnDelete)
                .on("click", reaS_selectors.btnDelete, function () {
                    reaS_delete();
                });

            $(document)
                .off("click", reaS_selectors.btnExportExcel)
                .on("click", reaS_selectors.btnExportExcel, function () {
                    reaS_exportExcel();
                });
        }

        function reaS_resetForm() {
            const reaS_form = $(reaS_selectors.form)[0];
            if (reaS_form) {
                reaS_form.reset();
            }

            $(reaS_selectors.id).val("0");
            $(reaS_selectors.modalLabel).text("Add Reason");
            reaS_selectedRowData = null;
        }

        function reaS_openAddModal() {
            reaS_resetForm();
            $(reaS_selectors.modalLabel).text("Add Reason");
            $(reaS_selectors.itemModal).modal("show");
        }

        function reaS_openEditModal() {
            if (!reaS_selectedRowData) {
                showToast("Warning", "Please select a row first!", true);
                return;
            }

            reaS_fillForm(reaS_selectedRowData);
            $(reaS_selectors.modalLabel).text("Update Reason");
            $(reaS_selectors.itemModal).modal("show");
        }

        function reaS_fillForm(reaS_data) {
            $(reaS_selectors.id).val(reaS_data.id);
            $(reaS_selectors.code).val(reaS_data.code);
            $(reaS_selectors.name).val(reaS_data.name);
            $(reaS_selectors.description).val(reaS_data.description);
            $(reaS_selectors.inactive).prop("checked", reaS_data.inactive);
        }

        function reaS_getSearchModel() {
            return {
                code: $(reaS_selectors.filterCode).val(),
                name: $(reaS_selectors.filterName).val(),
                inactive: $(reaS_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function reaS_getSaveModel() {
            const reaS_id = parseInt($(reaS_selectors.id).val()) || 0;
            let reaS_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const reaS_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: reaS_id,
                Code: $(reaS_selectors.code).val(),
                Name: $(reaS_selectors.name).val(),
                Description: $(reaS_selectors.description).val(),
                Inactive: $(reaS_selectors.inactive).prop("checked"),
                CreatedBy: reaS_loginName,
                UpdatedBy: reaS_loginName,
                UserInsertID: reaS_loginUser,
                UserUpdateID: reaS_loginUser
            };
        }

        function reaS_showLoading() {
            $(reaS_selectors.loading).show();
        }

        function reaS_hideLoading() {
            $(reaS_selectors.loading).hide();
        }

        function reaS_loadData() {
            reaS_showLoading();

            $.ajax({
                url: "/Administration/GetReason",
                type: "GET",
                cache: false,
                data: reaS_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (reaS_data) {
                    reaS_loadGrid(reaS_data || []);
                    reaS_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    reaS_hideLoading();
                }
            });
        }

        function reaS_loadGrid(reaS_data) {
            $(reaS_selectors.grid).dxDataGrid({
                dataSource: reaS_data,
                height: 500,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: { mode: "single" },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "10%" },
                    { dataField: "name", caption: "Name", width: "20%" },
                    { dataField: "description", caption: "Description", width: "30%" },
                    { dataField: "inactive", caption: "Inactive", width: "6%",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "8%" },
                    { dataField: "createdDate", caption: "Created Date", dataType: "date", width: "9%" },
                    { dataField: "updatedBy", caption: "Updated By", width: "8%" },
                    { dataField: "updatedDate", caption: "Updated Date", dataType: "date", width: "9%" }
                ],
                filterRow: { visible: true, applyFilter: "auto" },
                paging: { pageSize: 20 },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: { mode: "standard", showScrollbar: "always" },
                onSelectionChanged: function (e) {
                    reaS_selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                }
            });
        }

        function reaS_save() {
            const reaS_model = reaS_getSaveModel();

            $.ajax({
                url: "/Administration/ReasonSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(reaS_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (reaS_res) {
                    if (reaS_res.success) {
                        showToast("Success", reaS_res.message, true);
                        $(reaS_selectors.itemModal).modal("hide");
                        reaS_loadData();
                        return;
                    }

                    if (reaS_res.errors && reaS_res.errors.length > 0) {
                        applyValidationErrors(reaS_res.errors, reaS_selectors.form);

                        const reaS_generalError = reaS_res.errors.find(x => x.field === "general");
                        const reaS_toastMessage = reaS_generalError
                            ? reaS_generalError.message
                            : "Please check input fields.";

                        showToast("Warning", reaS_toastMessage, false);
                        return;
                    }

                    showToast("Error", reaS_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(reaS_selectors.itemModal).modal("hide");
                }
            });
        }

        function reaS_delete() {
            if (!reaS_selectedRowData || reaS_selectedRowData.id === 0) {
                showToast("Warning", "Select 1 row, please!", true);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeleteReason/` + reaS_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (reaS_result) {
                    if (reaS_result.success) {
                        reaS_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", reaS_result.message, false);
                },
                error: function () {
                    console.log("delete " + reaS_selectedRowData.id);
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function reaS_exportExcel() {
            const reaS_grid = $(reaS_selectors.grid).dxDataGrid("instance");
            if (!reaS_grid) {
                showToast("Warning", "No grid data to export.", true);
                return;
            }

            const reaS_workbook = new ExcelJS.Workbook();
            const reaS_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const reaS_worksheet = reaS_workbook.addWorksheet("Sheet 1");

            reaS_worksheet.addRow([reaS_companyName]);
            reaS_worksheet.mergeCells("A1:D1");
            reaS_worksheet.getRow(1).font = { bold: true };
            reaS_worksheet.getRow(1).alignment = { vertical: "middle", horizontal: "left" };

            const reaS_now = new Date();
            const reaS_exportDate = reaS_now.toLocaleString("vi-VN");
            reaS_worksheet.addRow(["", "", "", reaS_exportDate]);
            reaS_worksheet.mergeCells("D2:D2");
            reaS_worksheet.getRow(2).alignment = { vertical: "middle", horizontal: "right" };

            reaS_worksheet.addRow([]);
            reaS_worksheet.addRow([]);

            const reaS_reportRow = reaS_worksheet.addRow(["Reason"]);
            reaS_worksheet.mergeCells("A5:D5");
            reaS_reportRow.font = { bold: true, size: 14 };
            reaS_reportRow.alignment = { vertical: "middle", horizontal: "center" };

            reaS_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: reaS_grid,
                worksheet: reaS_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const reaS_lastRow = reaS_worksheet.lastRow.number + 2;
                reaS_worksheet.mergeCells(`A${reaS_lastRow}:D${reaS_lastRow}`);
                reaS_worksheet.getCell(`A${reaS_lastRow}`).alignment = { horizontal: "center" };
                reaS_worksheet.getCell(`A${reaS_lastRow}`).font = { italic: true };

                let reaS_fileName = "Reason.xlsx";
                reaS_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), reaS_fileName);
                });
            });
        }

        return {
            init: reaS_init,
            loadData: reaS_loadData,
            openAddModal: reaS_openAddModal,
            openEditModal: reaS_openEditModal
        };
    })();

    $(document).ready(function () {
        reaS_Module.init();
    });

    window.openModalReason = function () {
        $("#reaS_mainModal").modal("show");
        reaS_Module.loadData();
    };
</script>