<!-- Main Modal -->
<div class="modal fade"
     id="seas_mainModal"
     tabindex="-1"
     aria-labelledby="seas_mainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seas_mainModalLabel">Season</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="seas_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="seas_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="seas_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="seas_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="seas_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button"
                                class="mui-button mui-button-new"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Close
                        </button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="seas_filterCode"
                                       class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="seas_filterCode"
                                           name="seas_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="seas_filterName"
                                       class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="seas_filterName"
                                           name="seas_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox"
                                                   id="seas_chkShowInactive"
                                                   name="seas_chkShowInactive" />
                                            <label class="form-check-label" for="seas_chkShowInactive">
                                                Show Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="seas_gridContainer" class="gridContainer"></div>
                </div>

                <div id="seas_loadingSpinner"
                     style="position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 999;
                            background: rgba(255, 255, 255, 0.55);
                            backdrop-filter: blur(2px);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade"
     id="seas_itemModal"
     tabindex="-1"
     aria-labelledby="seas_itemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seas_itemModalLabel">Add Season</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="seas_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="seas_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="seas_code"
                                       class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="seas_code"
                                           name="seas_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="seas_inactive"
                                               name="seas_inactive"
                                               type="checkbox" />
                                        <label for="seas_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="seas_name"
                                       class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="seas_name"
                                           name="seas_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="seas_description"
                                       class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="seas_description"
                                              name="seas_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="seas_id" name="seas_id" value="0" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    DevExpress.localization.locale("vi");

    var seas_Module = (() => {
        let seas_selectedRowData = null;

        const seas_selectors = {
            mainModal: "#seas_mainModal",
            itemModal: "#seas_itemModal",
            form: "#seas_formContainer",
            grid: "#seas_gridContainer",
            loading: "#seas_loadingSpinner",
            filterCode: "#seas_filterCode",
            filterName: "#seas_filterName",
            chkShowInactive: "#seas_chkShowInactive",
            btnView: "#seas_btnView",
            btnNew: "#seas_btnNew",
            btnEdit: "#seas_btnEdit",
            btnDelete: "#seas_btnDelete",
            btnExportExcel: "#seas_btnExportExcel",
            btnSave: "#seas_btnSave",
            modalLabel: "#seas_itemModalLabel",
            id: "#seas_id",
            code: "#seas_code",
            name: "#seas_name",
            description: "#seas_description",
            inactive: "#seas_inactive"
        };

        function seas_init() {
            seas_bindEvents();
            seas_resetForm();
            seas_loadGrid([]);
            seas_loadData();
        }

        function seas_bindEvents() {
            $(document)
                .off("input change", `${seas_selectors.form} input, ${seas_selectors.form} select, ${seas_selectors.form} textarea`)
                .on("input change", `${seas_selectors.form} input, ${seas_selectors.form} select, ${seas_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(seas_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    seas_resetForm();
                    applyValidationErrors([], seas_selectors.form);
                });

            $(document)
                .off("click", seas_selectors.btnView)
                .on("click", seas_selectors.btnView, function () {
                    seas_loadData();
                });

            $(document)
                .off("click", seas_selectors.btnNew)
                .on("click", seas_selectors.btnNew, function () {
                    seas_openAddModal();
                });

            $(document)
                .off("click", seas_selectors.btnEdit)
                .on("click", seas_selectors.btnEdit, function () {
                    seas_openEditModal();
                });

            $(document)
                .off("click", seas_selectors.btnSave)
                .on("click", seas_selectors.btnSave, function () {
                    seas_save();
                });

            $(document)
                .off("click", seas_selectors.btnDelete)
                .on("click", seas_selectors.btnDelete, function () {
                    seas_delete();
                });

            $(document)
                .off("click", seas_selectors.btnExportExcel)
                .on("click", seas_selectors.btnExportExcel, function () {
                    seas_exportExcel();
                });
        }

        function seas_resetForm() {
            const seas_form = $(seas_selectors.form)[0];

            if (seas_form) {
                seas_form.reset();
            }

            $(seas_selectors.id).val("0");
            $(seas_selectors.modalLabel).text("Add Season");
            seas_selectedRowData = null;
        }

        function seas_openAddModal() {
            seas_resetForm();
            $(seas_selectors.modalLabel).text("Add Season");
            $(seas_selectors.itemModal).modal("show");
        }

        function seas_openEditModal() {
            if (!seas_selectedRowData) {
                showToast("Warning", "Please select 1 row to edit.", false);
                return;
            }

            seas_fillForm(seas_selectedRowData);
            $(seas_selectors.modalLabel).text("Update Season");
            $(seas_selectors.itemModal).modal("show");
        }

        function seas_fillForm(seas_data) {
            $(seas_selectors.id).val(seas_data.id);
            $(seas_selectors.code).val(seas_data.code);
            $(seas_selectors.name).val(seas_data.name);
            $(seas_selectors.description).val(seas_data.description);
            $(seas_selectors.inactive).prop("checked", seas_data.inactive);
        }

        function seas_getSearchModel() {
            return {
                code: $(seas_selectors.filterCode).val(),
                name: $(seas_selectors.filterName).val(),
                inactive: $(seas_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function seas_getSaveModel() {
            const seas_id = parseInt($(seas_selectors.id).val()) || 0;
            let seas_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const seas_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: seas_id,
                Code: $(seas_selectors.code).val(),
                Name: $(seas_selectors.name).val(),
                Description: $(seas_selectors.description).val(),
                Inactive: $(seas_selectors.inactive).prop("checked"),
                CreatedBy: seas_loginName,
                UpdatedBy: seas_loginName,
                UserInsertID: seas_loginUser,
                UserUpdateID: seas_loginUser
            };
        }

        function seas_showLoading() {
            $(seas_selectors.loading).show();
        }

        function seas_hideLoading() {
            $(seas_selectors.loading).hide();
        }

        function seas_loadData() {
            seas_showLoading();

            $.ajax({
                url: "/Administration/GetSeason",
                type: "GET",
                cache: false,
                data: seas_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (seas_data) {
                    seas_loadGrid(seas_data || []);
                    seas_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    seas_hideLoading();
                }
            });
        }

        function seas_loadGrid(seas_data) {
            $(seas_selectors.grid).dxDataGrid({
                dataSource: seas_data,
                width: "100%",
                columnAutoWidth: false,
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: {
                    mode: "single"
                },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "100" },
                    { dataField: "name", caption: "Name", width: "150" },
                    { dataField: "description", caption: "Description", minWidth: 120, cssClass: "col-description" },
                    { dataField: "inactive", caption: "Inactive", width: "60",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "80" },
                    { dataField: "createdDate", caption: "Cre.Date", dataType: "date", width: "80" },
                    { dataField: "updatedBy", caption: "Updated By", width: "80" },
                    { dataField: "updatedDate", caption: "Upd.Date", dataType: "date", width: "80" }
                ],
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: {
                    mode: "standard",
                    showScrollbar: "always"
                },
                onSelectionChanged: function (e) {
                    seas_selectedRowData = e.selectedRowsData.length > 0
                        ? e.selectedRowsData[0]
                        : null;
                }
            });
        }

        function seas_save() {
            const seas_model = seas_getSaveModel();

            $.ajax({
                url: "/Administration/SeasonSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(seas_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (seas_res) {
                    if (seas_res.success) {
                        showToast("Success", seas_res.message, true);
                        $(seas_selectors.itemModal).modal("hide");
                        seas_loadData();
                        return;
                    }

                    if (seas_res.errors && seas_res.errors.length > 0) {
                        applyValidationErrors(seas_res.errors, seas_selectors.form);

                        let seas_generalError = seas_res.errors.find(x => x.field === "general");
                        let seas_toastMessage = seas_generalError
                            ? seas_generalError.message
                            : "Please check input fields.";

                        showToast("Warning", seas_toastMessage, false);
                        return;
                    }

                    showToast("Error", seas_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(seas_selectors.itemModal).modal("hide");
                }
            });
        }

        function seas_delete() {
            if (!seas_selectedRowData || seas_selectedRowData.id === 0) {
                showToast("Warning", "Please select 1 row to delete.", false);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeleteSeason/` + seas_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (seas_result) {
                    if (seas_result.success) {
                        seas_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", seas_result.message, false);
                },
                error: function () {
                    console.log("delete " + seas_selectedRowData.id);
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function seas_exportExcel() {
            const seas_grid = $(seas_selectors.grid).dxDataGrid("instance");
            const seas_workbook = new ExcelJS.Workbook();
            const seas_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const seas_worksheet = seas_workbook.addWorksheet("Sheet 1");

            seas_worksheet.addRow([seas_companyName]);
            seas_worksheet.mergeCells("A1:D1");
            seas_worksheet.getRow(1).font = { bold: true };
            seas_worksheet.getRow(1).alignment = {
                vertical: "middle",
                horizontal: "left"
            };

            const seas_now = new Date();
            const seas_exportDate = seas_now.toLocaleString("vi-VN");

            seas_worksheet.addRow(["", "", "", seas_exportDate]);
            seas_worksheet.mergeCells("D2:D2");
            seas_worksheet.getRow(2).alignment = {
                vertical: "middle",
                horizontal: "right"
            };

            seas_worksheet.addRow([]);
            seas_worksheet.addRow([]);

            const seas_reportRow = seas_worksheet.addRow(["Season"]);
            seas_worksheet.mergeCells("A5:D5");
            seas_reportRow.font = { bold: true, size: 14 };
            seas_reportRow.alignment = {
                vertical: "middle",
                horizontal: "center"
            };

            seas_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: seas_grid,
                worksheet: seas_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const seas_lastRow = seas_worksheet.lastRow.number + 2;

                seas_worksheet.mergeCells(`A${seas_lastRow}:D${seas_lastRow}`);
                seas_worksheet.getCell(`A${seas_lastRow}`).alignment = {
                    horizontal: "center"
                };
                seas_worksheet.getCell(`A${seas_lastRow}`).font = {
                    italic: true
                };

                let seas_fileName = "Season.xlsx";

                seas_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(
                        new Blob([buffer], { type: "application/octet-stream" }),
                        seas_fileName
                    );
                });
            });
        }

        return {
            init: seas_init,
            loadData: seas_loadData,
            openAddModal: seas_openAddModal,
            openEditModal: seas_openEditModal
        };
    })();

    window.openModalSeason = function () {
        if (typeof seas_Module !== "undefined" && seas_Module.init) {
            seas_Module.init();
        }
    };
</script>