<!-- Main Modal -->
<div class="modal fade" id="sour_mainModal" tabindex="-1" aria-labelledby="sour_mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-4by3 modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="sour_mainModalLabel">Source</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="sour_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="sour_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="sour_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="sour_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="sour_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="sour_filterCode" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="sour_filterCode"
                                           name="sour_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="sour_filterName" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="sour_filterName"
                                           name="sour_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox" id="sour_chkShowInactive" name="sour_chkShowInactive">
                                            <label class="form-check-label" for="sour_chkShowInactive">Show Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="sour_gridContainer" class="gridContainer"></div>
                </div>

                <div id="sour_loadingSpinner"
                     style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                     z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                     height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="sour_itemModal" tabindex="-1" aria-labelledby="sour_itemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="sour_itemModalLabel">Add Source</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="sour_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="sour_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="sour_code" class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="sour_code"
                                           name="sour_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="sour_inactive"
                                               name="sour_inactive"
                                               type="checkbox" />
                                        <label for="sour_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="sour_name" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="sour_name"
                                           name="sour_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="sour_description" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="sour_description"
                                              name="sour_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="sour_id" name="sour_id" value="0" />
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    var sour_Module = (() => {
        let sour_selectedRowData = null;

        const sour_selectors = {
            mainModal: "#sour_mainModal",
            itemModal: "#sour_itemModal",
            form: "#sour_formContainer",
            grid: "#sour_gridContainer",
            loading: "#sour_loadingSpinner",

            filterCode: "#sour_filterCode",
            filterName: "#sour_filterName",
            chkShowInactive: "#sour_chkShowInactive",

            btnView: "#sour_btnView",
            btnNew: "#sour_btnNew",
            btnEdit: "#sour_btnEdit",
            btnDelete: "#sour_btnDelete",
            btnExportExcel: "#sour_btnExportExcel",
            btnSave: "#sour_btnSave",

            modalLabel: "#sour_itemModalLabel",

            id: "#sour_id",
            code: "#sour_code",
            name: "#sour_name",
            description: "#sour_description",
            inactive: "#sour_inactive"
        };

        function sour_init() {
            sour_bindEvents();
            sour_resetForm();
            sour_loadGrid([]);
            sour_loadData();
        }

        function sour_bindEvents() {
            $(document)
                .off("input change", `${sour_selectors.form} input, ${sour_selectors.form} select, ${sour_selectors.form} textarea`)
                .on("input change", `${sour_selectors.form} input, ${sour_selectors.form} select, ${sour_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(sour_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    applyValidationErrors([], sour_selectors.form);
                });

            $(document)
                .off("click", sour_selectors.btnView)
                .on("click", sour_selectors.btnView, function () {
                    sour_loadData();
                });

            $(document)
                .off("click", sour_selectors.btnNew)
                .on("click", sour_selectors.btnNew, function () {
                    sour_openAddModal();
                });

            $(document)
                .off("click", sour_selectors.btnEdit)
                .on("click", sour_selectors.btnEdit, function () {
                    sour_openEditModal();
                });

            $(document)
                .off("click", sour_selectors.btnSave)
                .on("click", sour_selectors.btnSave, function () {
                    sour_save();
                });

            $(document)
                .off("click", sour_selectors.btnDelete)
                .on("click", sour_selectors.btnDelete, function () {
                    sour_delete();
                });

            $(document)
                .off("click", sour_selectors.btnExportExcel)
                .on("click", sour_selectors.btnExportExcel, function () {
                    sour_exportExcel();
                });
        }

        function sour_resetForm() {
            const sour_form = $(sour_selectors.form)[0];
            if (sour_form) {
                sour_form.reset();
            }

            $(sour_selectors.id).val("0");
            $(sour_selectors.modalLabel).text("Add Source");
            sour_selectedRowData = null;
        }

        function sour_openAddModal() {
            sour_resetForm();
            $(sour_selectors.modalLabel).text("Add Source");
            $(sour_selectors.itemModal).modal("show");
        }

        function sour_openEditModal() {
            if (!sour_selectedRowData) {
                showToast("Warning", "Please select a row first!", true);
                return;
            }

            sour_fillForm(sour_selectedRowData);
            $(sour_selectors.modalLabel).text("Update Source");
            $(sour_selectors.itemModal).modal("show");
        }

        function sour_fillForm(sour_data) {
            $(sour_selectors.id).val(sour_data.id);
            $(sour_selectors.code).val(sour_data.code);
            $(sour_selectors.name).val(sour_data.name);
            $(sour_selectors.description).val(sour_data.description);
            $(sour_selectors.inactive).prop("checked", sour_data.inactive);
        }

        function sour_getSearchModel() {
            return {
                code: $(sour_selectors.filterCode).val(),
                name: $(sour_selectors.filterName).val(),
                inactive: $(sour_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function sour_getSaveModel() {
            const sour_id = parseInt($(sour_selectors.id).val()) || 0;
            let sour_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const sour_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: sour_id,
                Code: $(sour_selectors.code).val(),
                Name: $(sour_selectors.name).val(),
                Description: $(sour_selectors.description).val(),
                Inactive: $(sour_selectors.inactive).prop("checked"),
                CreatedBy: sour_loginName,
                UpdatedBy: sour_loginName,
                UserInsertID: sour_loginUser,
                UserUpdateID: sour_loginUser
            };
        }

        function sour_showLoading() {
            $(sour_selectors.loading).show();
        }

        function sour_hideLoading() {
            $(sour_selectors.loading).hide();
        }

        function sour_loadData() {
            sour_showLoading();

            $.ajax({
                url: "/Administration/GetSource",
                type: "GET",
                cache: false,
                data: sour_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (sour_data) {
                    sour_loadGrid(sour_data || []);
                    sour_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    sour_hideLoading();
                }
            });
        }

        function sour_loadGrid(sour_data) {
            $(sour_selectors.grid).dxDataGrid({
                dataSource: sour_data,
                height: 500,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: { mode: "single" },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "10%" },
                    { dataField: "name", caption: "Name", width: "20%" },
                    { dataField: "description", caption: "Description", width: "30%" },
                    { dataField: "inactive", caption: "Inactive", width: "6%",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "8%" },
                    { dataField: "createdDate", caption: "Created Date", dataType: "date", width: "9%" },
                    { dataField: "updatedBy", caption: "Updated By", width: "8%" },
                    { dataField: "updatedDate", caption: "Updated Date", dataType: "date", width: "9%" }
                ],
                filterRow: { visible: true, applyFilter: "auto" },
                paging: { pageSize: 20 },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: { mode: "standard", showScrollbar: "always" },
                onSelectionChanged: function (e) {
                    sour_selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                }
            });
        }

        function sour_save() {
            const sour_model = sour_getSaveModel();

            $.ajax({
                url: "/Administration/SourceSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(sour_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (sour_res) {
                    if (sour_res.success) {
                        showToast("Success", sour_res.message, true);
                        $(sour_selectors.itemModal).modal("hide");
                        sour_loadData();
                        return;
                    }

                    if (sour_res.errors && sour_res.errors.length > 0) {
                        applyValidationErrors(sour_res.errors, sour_selectors.form);

                        const sour_generalError = sour_res.errors.find(x => x.field === "general");
                        const sour_toastMessage = sour_generalError
                            ? sour_generalError.message
                            : "Please check input fields.";

                        showToast("Warning", sour_toastMessage, false);
                        return;
                    }

                    showToast("Error", sour_res.message || "Save failed", false);
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(sour_selectors.itemModal).modal("hide");
                }
            });
        }

        function sour_delete() {
            if (!sour_selectedRowData || sour_selectedRowData.id === 0) {
                showToast("Warning", "Select 1 row, please!", true);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeleteSource/` + sour_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (sour_result) {
                    if (sour_result.success) {
                        sour_loadData();
                        showToast("Success", "Delete Successfully!", true);
                        return;
                    }

                    showToast("Error", sour_result.message, false);
                },
                error: function () {
                    console.log("delete " + sour_selectedRowData.id);
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function sour_exportExcel() {
            const sour_grid = $(sour_selectors.grid).dxDataGrid("instance");

            const sour_workbook = new ExcelJS.Workbook();
            const sour_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const sour_worksheet = sour_workbook.addWorksheet("Sheet 1");

            sour_worksheet.addRow([sour_companyName]);
            sour_worksheet.mergeCells("A1:D1");
            sour_worksheet.getRow(1).font = { bold: true };
            sour_worksheet.getRow(1).alignment = { vertical: "middle", horizontal: "left" };

            const sour_now = new Date();
            const sour_exportDate = sour_now.toLocaleString("vi-VN");
            sour_worksheet.addRow(["", "", "", sour_exportDate]);
            sour_worksheet.mergeCells("D2:D2");
            sour_worksheet.getRow(2).alignment = { vertical: "middle", horizontal: "right" };

            sour_worksheet.addRow([]);
            sour_worksheet.addRow([]);

            const sour_reportRow = sour_worksheet.addRow(["Source"]);
            sour_worksheet.mergeCells("A5:D5");
            sour_reportRow.font = { bold: true, size: 14 };
            sour_reportRow.alignment = { vertical: "middle", horizontal: "center" };

            sour_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: sour_grid,
                worksheet: sour_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const sour_lastRow = sour_worksheet.lastRow.number + 2;
                sour_worksheet.mergeCells(`A${sour_lastRow}:D${sour_lastRow}`);
                sour_worksheet.getCell(`A${sour_lastRow}`).alignment = { horizontal: "center" };
                sour_worksheet.getCell(`A${sour_lastRow}`).font = { italic: true };

                let sour_fileName = "Source.xlsx";
                sour_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), sour_fileName);
                });
            });
        }

        return {
            init: sour_init,
            loadData: sour_loadData,
            openAddModal: sour_openAddModal,
            openEditModal: sour_openEditModal
        };
    })();

    $(document).ready(function () {
        sour_Module.init();
    });

    window.openModalSource = function () {
        $("#sour_mainModal").modal("show");
        sour_Module.loadData();
    };
</script>