<!-- Main Modal -->
<div class="modal fade" id="transT_mainModal" tabindex="-1" aria-labelledby="transT_mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="transT_mainModalLabel">Transport Type</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="transT_btnView" type="button" class="mui-button mui-button-search">View</button>
                        <button id="transT_btnNew" type="button" class="mui-button mui-button-new">New</button>
                        <button id="transT_btnEdit" type="button" class="mui-button mui-button-edit">Edit</button>
                        <button id="transT_btnDelete" type="button" class="mui-button mui-button-delete">Delete</button>
                        <button id="transT_btnExportExcel" type="button" class="mui-button mui-button-export">Excel</button>
                        <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="transT_filterCode" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-8">
                                    <input id="transT_filterCode"
                                           name="transT_filterCode"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label for="transT_filterName" class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-8">
                                    <input id="transT_filterName"
                                           name="transT_filterName"
                                           type="text"
                                           class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <span class="status-color-box color-clean-uncheck"></span>
                                            <input type="checkbox" id="transT_chkShowInactive" name="transT_chkShowInactive">
                                            <label class="form-check-label" for="transT_chkShowInactive">Show Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="transT_gridContainer" class="gridContainer"></div>
                </div>

                <div id="transT_loadingSpinner"
                     style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                     z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                     height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="transT_itemModal" tabindex="-1" aria-labelledby="transT_itemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="transT_itemModalLabel">Add Transport Type</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="transT_btnSave" class="mui-button mui-button-new">Save</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <form id="transT_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label for="transT_code" class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Code
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <input id="transT_code"
                                           name="transT_code"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row g-2 align-items-center">
                                <label class="col-md-2 col-lg-4 col-form-label col-form-label-sm text-md-end">
                                    Status
                                </label>
                                <div class="col-md-10 col-lg-8">
                                    <div class="form-check d-inline-flex align-items-center gap-2">
                                        <input id="transT_inactive"
                                               name="transT_inactive"
                                               type="checkbox" />
                                        <label for="transT_inactive" class="form-check-label text-danger">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="transT_name" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input id="transT_name"
                                           name="transT_name"
                                           type="text"
                                           class="form-control form-control-sm" />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row g-2">
                                <label for="transT_description" class="col-md-2 col-form-label col-form-label-sm text-md-end">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea id="transT_description"
                                              name="transT_description"
                                              rows="4"
                                              class="form-control form-control-sm"
                                              style="height:100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="transT_id" name="transT_id" value="0" />
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    var transT_Module = (() => {
        let transT_selectedRowData = null;

        const transT_selectors = {
            mainModal: "#transT_mainModal",
            itemModal: "#transT_itemModal",
            form: "#transT_formContainer",
            grid: "#transT_gridContainer",
            loading: "#transT_loadingSpinner",

            filterCode: "#transT_filterCode",
            filterName: "#transT_filterName",
            chkShowInactive: "#transT_chkShowInactive",

            btnView: "#transT_btnView",
            btnNew: "#transT_btnNew",
            btnEdit: "#transT_btnEdit",
            btnDelete: "#transT_btnDelete",
            btnExportExcel: "#transT_btnExportExcel",
            btnSave: "#transT_btnSave",

            modalLabel: "#transT_itemModalLabel",

            id: "#transT_id",
            code: "#transT_code",
            name: "#transT_name",
            description: "#transT_description",
            inactive: "#transT_inactive"
        };

        function transT_init() {
            transT_bindEvents();
            transT_resetForm();
            transT_loadGrid([]);
            transT_loadData();
        }

        function transT_bindEvents() {
            $(document)
                .off("input change", `${transT_selectors.form} input, ${transT_selectors.form} select, ${transT_selectors.form} textarea`)
                .on("input change", `${transT_selectors.form} input, ${transT_selectors.form} select, ${transT_selectors.form} textarea`, function () {
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                        $(this).next(".invalid-feedback").text("");
                    }
                });

            $(transT_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    applyValidationErrors([], transT_selectors.form);
                });

            $(document)
                .off("click", transT_selectors.btnView)
                .on("click", transT_selectors.btnView, function () {
                    transT_loadData();
                });

            $(document)
                .off("click", transT_selectors.btnNew)
                .on("click", transT_selectors.btnNew, function () {
                    transT_openAddModal();
                });

            $(document)
                .off("click", transT_selectors.btnEdit)
                .on("click", transT_selectors.btnEdit, function () {
                    transT_openEditModal();
                });

            $(document)
                .off("click", transT_selectors.btnSave)
                .on("click", transT_selectors.btnSave, function () {
                    transT_save();
                });

            $(document)
                .off("click", transT_selectors.btnDelete)
                .on("click", transT_selectors.btnDelete, function () {
                    transT_delete();
                });

            $(document)
                .off("click", transT_selectors.btnExportExcel)
                .on("click", transT_selectors.btnExportExcel, function () {
                    transT_exportExcel();
                });
        }

        function transT_resetForm() {
            const transT_form = $(transT_selectors.form)[0];
            if (transT_form) {
                transT_form.reset();
            }

            $(transT_selectors.id).val("0");
            $(transT_selectors.modalLabel).text("Add Transport Type");
        }

        function transT_openAddModal() {
            transT_resetForm();
            $(transT_selectors.modalLabel).text("Add Transport Type");
            $(transT_selectors.itemModal).modal("show");
        }

        function transT_openEditModal() {
            if (!transT_selectedRowData) {
                showToast("Warning", "Please select 1 row to edit.", false);
                return;
            }

            transT_fillForm(transT_selectedRowData);
            $(transT_selectors.modalLabel).text("Update Transport Type");
            $(transT_selectors.itemModal).modal("show");
        }

        function transT_fillForm(transT_data) {
            $(transT_selectors.id).val(transT_data.id);
            $(transT_selectors.code).val(transT_data.code);
            $(transT_selectors.name).val(transT_data.name);
            $(transT_selectors.description).val(transT_data.description);
            $(transT_selectors.inactive).prop("checked", transT_data.inactive);
        }

        function transT_getSearchModel() {
            return {
                code: $(transT_selectors.filterCode).val(),
                name: $(transT_selectors.filterName).val(),
                inactive: $(transT_selectors.chkShowInactive).prop("checked") ? 1 : 0
            };
        }

        function transT_getSaveModel() {
            const transT_id = parseInt($(transT_selectors.id).val()) || 0;
            let transT_loginName = (localStorage.getItem("Loginname") || "")
                .trim()
                .replace(/^"(.*)"$/, "$1");
            const transT_loginUser = parseInt(localStorage.getItem("userID")) || 0;

            return {
                ID: transT_id,
                Code: $(transT_selectors.code).val(),
                Name: $(transT_selectors.name).val(),
                Description: $(transT_selectors.description).val(),
                Inactive: $(transT_selectors.inactive).prop("checked"),
                CreatedBy: transT_loginName,
                UpdatedBy: transT_loginName,
                UserInsertID: transT_loginUser,
                UserUpdateID: transT_loginUser
            };
        }

        function transT_showLoading() {
            $(transT_selectors.loading).show();
        }

        function transT_hideLoading() {
            $(transT_selectors.loading).hide();
        }

        function transT_loadData() {
            transT_showLoading();

            $.ajax({
                url: "/Administration/GetTransportType",
                type: "GET",
                cache: false,
                data: transT_getSearchModel(),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (transT_data) {
                    transT_loadGrid(transT_data || []);
                    transT_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    transT_hideLoading();
                }
            });
        }

        function transT_loadGrid(transT_data) {
            $(transT_selectors.grid).dxDataGrid({
                dataSource: transT_data,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: { mode: "single" },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "code", caption: "Code", width: "100" },
                    { dataField: "name", caption: "Name", width: "200" },
                    { dataField: "description", caption: "Description", minWidth: 120, cssClass: "col-description"},
                    { dataField: "inactive", caption: "Inactive", width: "6%",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value == 1 || options.value === true,
                                    readOnly: true
                                })
                                .css("transform", "scale(0.8)")
                                .appendTo(container);
                        }
                    },
                    { dataField: "createdBy", caption: "Created By", width: "80" },
                    { dataField: "createdDate", caption: "Cre.Date", dataType: "date", width: "80" },
                    { dataField: "updatedBy", caption: "Updated By", width: "80" },
                    { dataField: "updatedDate", caption: "Upd.Date", dataType: "date", width: "80" }
                ],
                filterRow: { visible: true, applyFilter: "auto" },
                paging: { pageSize: 20 },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: { mode: "standard", showScrollbar: "always" },
                onSelectionChanged: function (e) {
                    transT_selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                }
            });
        }

        function transT_save() {
            const transT_model = transT_getSaveModel();

            $.ajax({
                url: "/Administration/TransportTypeSave",
                type: "POST",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify(transT_model),
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (transT_res) {
                    if (transT_res.success) {
                        showToast("Success", transT_res.message, true);
                        $(transT_selectors.itemModal).modal("hide");
                        transT_loadData();
                    } else {
                        if (transT_res.errors && transT_res.errors.length > 0) {
                            applyValidationErrors(transT_res.errors, transT_selectors.form);
                            let transT_generalError = transT_res.errors.find(x => x.field === "general");
                            let transT_toastMessage = transT_generalError ? transT_generalError.message : "Please check input fields.";

                            showToast("Warning", transT_toastMessage, false);
                        } else {
                            showToast("Error", transT_res.message || "Save failed", false);
                        }
                    }
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                    $(transT_selectors.itemModal).modal("hide");
                }
            });
        }

        function transT_delete() {
            if (!transT_selectedRowData || transT_selectedRowData.id === 0) {
                showToast("Warning", "Please select 1 row to delete.", false);
                return;
            }

            if (!confirm("Are you sure you want to delete this record? This action cannot be undone.")) {
                return;
            }

            $.ajax({
                url: `/Administration/DeleteTransportType/` + transT_selectedRowData.id,
                type: "POST",
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (transT_result) {
                    if (transT_result.success) {
                        transT_loadData();
                        showToast("Success", "Delete Successfully!", true);
                    } else {
                        showToast("Error", transT_result.message, false);
                    }
                },
                error: function () {
                    console.log("delete " + transT_selectedRowData.id);
                    showToast("Error", "Delete failed!", false);
                    $("#loadingSpinner").hide();
                }
            });
        }

        function transT_exportExcel() {
            const transT_grid = $(transT_selectors.grid).dxDataGrid("instance");

            const transT_workbook = new ExcelJS.Workbook();
            const transT_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const transT_worksheet = transT_workbook.addWorksheet("Sheet 1");

            transT_worksheet.addRow([transT_companyName]);
            transT_worksheet.mergeCells("A1:D1");
            transT_worksheet.getRow(1).font = { bold: true };
            transT_worksheet.getRow(1).alignment = { vertical: "middle", horizontal: "left" };

            const transT_now = new Date();
            const transT_exportDate = transT_now.toLocaleString("vi-VN");
            transT_worksheet.addRow(["", "", "", transT_exportDate]);
            transT_worksheet.mergeCells("D2:D2");
            transT_worksheet.getRow(2).alignment = { vertical: "middle", horizontal: "right" };

            transT_worksheet.addRow([]);
            transT_worksheet.addRow([]);

            const transT_reportRow = transT_worksheet.addRow(["Transport Type"]);
            transT_worksheet.mergeCells("A5:D5");
            transT_reportRow.font = { bold: true, size: 14 };
            transT_reportRow.alignment = { vertical: "middle", horizontal: "center" };

            transT_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: transT_grid,
                worksheet: transT_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const transT_lastRow = transT_worksheet.lastRow.number + 2;
                transT_worksheet.mergeCells(`A${transT_lastRow}:D${transT_lastRow}`);
                transT_worksheet.getCell(`A${transT_lastRow}`).alignment = { horizontal: "center" };
                transT_worksheet.getCell(`A${transT_lastRow}`).font = { italic: true };

                let transT_fileName = "TransportType.xlsx";
                transT_workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), transT_fileName);
                });
            });
        }

        return {
            init: transT_init,
            loadData: transT_loadData,
            openAddModal: transT_openAddModal,
            openEditModal: transT_openEditModal
        };
    })();

    window.openModalTransportType = function () {
        if (typeof transT_Module !== "undefined" && transT_Module.init) {
            transT_Module.init();
        }
    };
</script>