@using DevExpress.XtraReports.UI
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = ViewBag.ReportHeader;
    var zoneList = ViewBag.ZoneList;
    var roomtypeList = ViewBag.RoomTypeList;
    var roomList = ViewBag.RoomList;
}
@* <link asp-append-version="true" href="~/css/reservation.css" rel="stylesheet" /> *@


<div class="modal fade" id="pOSM_postingMinibarModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Posting Minibar</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="pOSM_btnPrint" class="mui-button mui-button-new">View</button>

                        <button id="pOSM_btnExportExcel" class="mui-button mui-button-new" type="button">  Excel</button>
                        <button id="pOSM_btnExportPdf" class="mui-button mui-button-new" type="button">
                            PDF
                        </button>
                        <button id="pOSM_btnUpdateMinibar" class="mui-button mui-button-new" type="button">Posting</button>
                        <button class="mui-button mui-button-new" id="pOSM_btnClose">Close</button>
                    </div>

                </div>
                <div class="mui-card">
                    <div id="pOSM_gridContainer" class="gridContainer mt-2"></div>
                </div>
                <div id="pOSM_loadingSpinner"
                    style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                    z-index: 999;background: rgba(255, 255, 255, 0.55); backdrop-filter: blur(2px);width: 100%;
                    height: 100%;display: flex;align-items: center;justify-content: center;">
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pOSM_popupChooseFolio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header py-2">
                <h6 class="modal-title" id="pOSM_folioTitle">Minibar</h6>
            </div>

            <!-- BODY -->
            <div class="modal-body p-3"  >
                <!-- BUTTON -->
                <div class="d-flex justify-content-start mb-3 gap-2  pt-2">
                    <button id="pOSM_btnContinue"
                            class="mui-button mui-button-search">
                        Continue
                    </button>

                    <button type="button"
                            id="pOSM_btnClosePopup"
                            class="mui-button mui-button-new">
                        Close
                    </button>
                </div>
         
                <!-- GRID -->
                <div id="pOSM_logGridContainer"  class="gridContainer mt-2">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pOSM_popupChooseArticle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header py-2">
                <h6 class="modal-title" id="pOSM_articleTitle">Minibar</h6>
            </div>

            <!-- BODY -->
            <div class="modal-body p-3"  >
                <!-- BUTTON -->
                <div class="d-flex justify-content-start mb-3 gap-2  pt-2">
                    <button id="pOSM_btnSave"
                            class="mui-button mui-button-search">
                        Save
                    </button>

                    <button type="button"
                            id="pOSM_btnClosePopupArticle"
                            class="mui-button mui-button-new">
                        Close
                    </button>
                </div>
         
                <!-- GRID -->
                <div id="pOSM_logGridArticleContainer" class="gridContainer mt-2">
                </div>

            </div>
        </div>
    </div>
</div>


<script>

     window.openPostingMinibarModal = function () {
            $("#pOSM_postingMinibarModal").modal("show");
            openPostingMinibar.init();
    };


    var openPostingMinibar = {

             selectedRoom : null,
             selectedFolio : null,
             selectedArticle : null,
            init: function () {
                const self = this;
                $(document).ready(function () {
                    self.loadData();
                });
                self.bindEvents();
            },

            bindEvents: function () {
                const self = this;

                $(document).off("click", "#pOSM_btnPrint").on("click", "#pOSM_btnPrint", function () {
                    self.loadData();
                });

                $(document).off("click", "#pOSM_btnClose").on("click", "#pOSM_btnClose", function () {
                        $("#pOSM_postingMinibarModal").modal("hide");
                });
                $(document).off("click", "#pOSM_btnSave").on("click", "#pOSM_btnSave", function () {
                      self.editSave();
                });

               $("#pOSM_btnUpdateMinibar").click(function () {
          
                      self.loadMinibarByRoomId();
               });

                $("#pOSM_btnContinue").off("click").on("click", function () {
                     self.loadMinibarByArticle();
                });

                $("#pOSM_btnClosePopup").off("click").on("click", function () {
                               $('#pOSM_popupChooseFolio').modal('hide');
                });
                    $("#pOSM_btnClosePopupArticle").off("click").on("click", function () {
                                $('#pOSM_popupChooseArticle').modal('hide');
                });
                $("#pOSM_btnExportExcel").off("click").on("click", function () {
                    self.exportToExcel();
                });
                 $("#pOSM_btnExportPdf").off("click").on("click", function () {
                    self.exportToPDF();
                });
            },
            loadData: function () {
                  const self = this;
                $("#pOSM_loadingSpinner").show();

                $.ajax({
                    url: '/HouseKeeping/HKPStatusData',
                    type: 'GET',
                    crossDomain: false,
                    headers: {
                        "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (result) {
                        console.log(result);
                        self.initializeGrid(result);
                        $("#pOSM_loadingSpinner").hide();
                    },
                    error: function () {
                        alert("Không thể tải báo cáo.");
                        $("#pOSM_loadingSpinner").hide();
                    }
                });
            },
            initializeGrid: function (data) {
                const self = this;
                $("#pOSM_gridContainer").dxDataGrid({
                    dataSource: data,
                    keyExpr: "id",
                    allowColumnResizing: true,
                    columnAutoWidth: false,
                    columns: [
                        { dataField: "id", caption: "ID", visible: false },
                        { dataField: "roomNo", caption: "Room No", width: 80 },
                        { dataField: "roomTypeCode", caption: "Room Type", width: 100 },
                        { dataField: "roomName", caption: "Room Name", minWidth: 120, cssClass: "col-description"},
                        { dataField: "roomStatus", caption: "Room Status", width: 150 },
                        { dataField: "floor", caption: "Floor", width: 80, dataType: "number", format: "#,##0" },
                        { dataField: "createdDate", caption: "Create Date", width: 100, dataType: "date", format: "dd/MM/yyyy" },
                        { dataField: "updatedDate", caption: "Update Date", width: 100, dataType: "date", format: "dd/MM/yyyy" }
                    ],
                    selection: { mode: "single" },
                    paging: { pageSize: 25 },
                    pager: {
                        visible: true,
                        allowedPageSizes: [25,50, 100, "all"],
                        showPageSizeSelector: true,
                        showInfo: true,
                        showNavigationButtons: true
                    },
                    filterRow: { visible: true },
                    headerFilter: { visible: true },
                    scrolling: { mode: "standard" },
                    onSelectionChanged: function (e) {
                        self.selectedRoom = e.selectedRowsData[0] || null;
                    },

                    onRowPrepared: function (e) {
                        if (e.rowType === "data" && e.data?.isTotal) {
                            e.rowElement.css({
                                "font-weight": "bold",
                                "background-color": "#f6f6f6"
                            });
                        }
                    }
                });
            },
            loadMinibarByRoomId: function () {
                    const self = this;
                   console.log(self.selectedRoom);
                  if (!self.selectedRoom) {
                         showToast('Warning', "Please select a row first", false);
                        return;
                   }
                $("#pOSM_loadingSpinner").show();

                $.ajax({
                    url: '/HouseKeeping/GetFolioMiniBar',
                    type: 'GET',
                    data: {
                        roomId: self.selectedRoom.id
                    },
                    headers: {
                        "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (result) {

                        self.initializeGetFolioGrid(result);

                        $('#pOSM_popupChooseFolio').modal('show');
                    },
                    error: function () {
                        alert("Không thể tải dữ liệu minibar.");
                    },
                    complete: function () {
                        $("#pOSM_loadingSpinner").hide();
                    }
                });
            },
            initializeGetFolioGrid: function (data) {
                 const self = this;
                $("#pOSM_logGridContainer").dxDataGrid({
                    dataSource: data,
                    keyExpr: "id",
                    allowColumnResizing: true,
                    columnAutoWidth: false,

                    columns: [
                        { dataField: "id", caption: "ID", visible: false },
                        { dataField: "folioDate", caption: "Folio Date", width: "20%", dataType: "date", format: "dd/MM/yyyy" },
                        { dataField: "folioNo", caption: "Folio No", width: "30%" },
                        { dataField: "accountName", caption: "Account Name", width: "50%" }
                    ],

                    selection: {
                        mode: "single"
                    },

                    paging: { pageSize: 25 },

                    scrolling: {
                        useNative: true,
                        showScrollbar: "always"
                    },

                    pager: {
                        visible: true,
                        allowedPageSizes: [25, 50, 'all'],
                        showPageSizeSelector: true,
                        showInfo: true,
                        showNavigationButtons: true
                    },

                    filterRow: { visible: true, applyFilter: "auto" },
                    headerFilter: { visible: true },
                    showBorders: true,

                    /* 🔴 TỰ ĐỘNG CHỌN HÀNG ĐẦU TIÊN */
                    onContentReady: function (e) {
                        const grid = e.component;

                        if (grid.getVisibleRows().length > 0 && !grid.option("selectedRowKeys")?.length) {
                            grid.selectRowsByIndexes([0]);
                        }
                    },

                    /* 🔴 LẤY HÀNG ĐƯỢC CHỌN */
                    onSelectionChanged: function (e) {
                        self.selectedFolio = e.selectedRowsData[0] || null;

                        if (self.selectedFolio) {
                            console.log("selectedFolio:", self.selectedFolio);
                        }
                    }
                });
            },
            loadMinibarByArticle: function () {
                $("#pOSM_loadingSpinner").show();

                 const self = this;
                if (!self.selectedFolio) {
                    showToast('Warning', 'Please select a folio before loading minibar data.', false);
                    return;
                }

                $.ajax({
                    url: '/HouseKeeping/GetMinibarByArticle',
                    type: 'GET',
                    data: {

                    },
                    headers: {
                        "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (result) {

                        self.initializeGetMinibarByArticleGrid(result);

                        $('#pOSM_popupChooseArticle').modal('show');
                    },
                    error: function () {
                        alert("Không thể tải dữ liệu minibar.");
                    },
                    complete: function () {
                        $("#pOSM_loadingSpinner").hide();
                    }
                });
            },
            initializeGetMinibarByArticleGrid: function (data) {
                const self = this;
                 data.forEach(item => {
                    if (item.quantity === undefined || item.quantity === null) {
                        item.quantity = 1;
                    }
                });

                $("#pOSM_logGridArticleContainer").dxDataGrid({
                    dataSource: data,
                    keyExpr: "id",
                    height: 500,
                    columnAutoWidth: false,

                    /* 🔴 KHÔNG CHO EDIT TỰ DO */
                    editing: {
                        mode: "cell",
                        allowUpdating: false
                    },

                    columns: [
                        { dataField: "id", visible: false },

                        { dataField: "code", caption: "Code", width: 100 },

                        { dataField: "description", caption: "Description", minWidth: 120, cssClass: "col-description" },

                        { dataField: "transactionCode", caption: "Transaction Code", width: 100 },

                        { dataField: "defaultPrice", caption: "Price", width: 100 , dataType: "number", format: "#,##0"},

                        {
                            dataField: "quantity",
                            caption: "Quantity",
                            width: 100,
                            dataType: "number",
                            editorOptions: {
                                min: 1,
                                showSpinButtons: false
                            }
                        }
                    ],
                    /* 🔴 CHỈ CHỌN 1 HÀNG */
                    selection: {
                        mode: "single"
                    },

                    paging: { pageSize: 25 },

                    pager: {
                        visible: true,
                        allowedPageSizes: [25, 50, "all"],
                        showPageSizeSelector: true,
                        showInfo: true,
                        showNavigationButtons: true
                    },

                    filterRow: { visible: true, applyFilter: "auto" },
                    headerFilter: { visible: true },
                    showBorders: true,

                    /* 🔴 LOGIC CHỈ EDIT CỘT QUANTITY */
                    onCellClick: function (e) {
                        if (e.rowType !== "data") return;

                        const grid = e.component;
                        const selectedRowKey = grid.getSelectedRowKeys()[0];

                        // Phải click đúng hàng đang được chọn
                        if (selectedRowKey !== e.key) return;

                        // Chỉ cho edit cột quantity
                        if (e.column.dataField === "quantity") {
                            grid.editCell(e.rowIndex, e.columnIndex);
                        }
                    },

                    onRowClick: function (e) {
                        self.selectedArticle = e.data || null;
                    }
                });
            },
            editSave: function () {
                const userName = JSON.parse(localStorage.getItem("Loginname"));
                const userID = JSON.parse(localStorage.getItem("userID"));
                const self = this;
                console.log(self);
                if (!self.selectedArticle) {
                    showToast('Warning', 'Please select an article before posting.', false);
                    return;
                }
                $.ajax({
                    url: '/HouseKeeping/PostingFolio',
                    type: 'POST',
                     data: {
                        roomId: self.selectedRoom.id,
                        roomNo: self.selectedRoom.roomNo,
                        roomTypeCode: self.selectedRoom.roomTypeCode,
                        roomTypeID: self.selectedRoom.roomTypeID,
                        folioid: self.selectedFolio.id,
                        accountName: self.selectedFolio.accountName,
                        _RsvID: self.selectedFolio.reservationID,
                        transactionCode: self.selectedArticle.transactionCode,
                        _CurrencyID: self.selectedArticle.currencyID,
                        quantity: self.selectedArticle.quantity,
                        articleCode: self.selectedArticle.code,
                        price: self.selectedArticle.defaultPrice,
                          userID:userID,
                          userName:userName
                    },
                    crossDomain: false,
                    headers: {
                        "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (result) {
                        if (result.success) {
                            $('#pOSM_popupChooseFolio').modal('hide');
                                $('#pOSM_popupChooseArticle').modal('hide');
                            showToast('Success', result.message, true);

                        } else {
                            showToast('Error', result.message, false);
                            // xử lý khi sai
                        }

                    },
                    error: function () {
                        alert("Không thể tải báo cáo.");
                        $("#pOSM_loadingSpinner").hide();
                    }
                });
            },
            exportToExcel: function () {
                const grid = $("#pOSM_gridContainer").dxTreeList("instance");
                    const selectedReport = 'PostingMinibar';

                const workbook = new ExcelJS.Workbook();
                const worksheet = workbook.addWorksheet("Sheet 1");

                worksheet.addRow(['Công ty Cổ phần Giải pháp Công nghệ CS-Solution']);
                worksheet.mergeCells('A1:E1');
                worksheet.getRow(1).font = { bold: true };
                worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

                const now = new Date();
                worksheet.addRow(['', '', '', '', ' ' + now.toLocaleString("vi-VN")]);
                worksheet.mergeCells('E2:H2');
                worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

                worksheet.addRow([]);
                worksheet.addRow([]);

                const reportRow = worksheet.addRow(['', '', selectedReport]);
                worksheet.mergeCells('C5:F5');
                reportRow.font = { bold: true, size: 14 };
                reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

                worksheet.addRow([]);

                DevExpress.excelExporter.exportDataGrid({
                    component: grid,
                    worksheet: worksheet,
                    autoFilterEnabled: true,
                    topLeftCell: { row: 7, column: 1 }
                }).then(function () {
                    const lastRow = worksheet.lastRow.number + 2;
                    worksheet.getCell(`A${lastRow}`).value = "--- END ---";
                    worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
                    worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
                    worksheet.getCell(`A${lastRow}`).font = { italic: true };

                    let fileName = selectedReport + ".xlsx";
                    workbook.xlsx.writeBuffer().then(function (buffer) {
                        saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
                    });
                });
            },
            exportToPDF: function () {
               const { jsPDF } = window.jspdf; // ?? B? sung dòng này

                const doc = new jsPDF();

                DevExpress.pdfExporter.exportDataGrid({
                    jsPDFDocument: doc,
                    component: $("#pOSM_gridContainer").dxDataGrid("instance"),
                    autoTableOptions: {
                        styles: { cellPadding: 2, fontSize: 8 },
                        margin: { top: 20 }
                    }
                }).then(() => {
                    doc.save("BaoCao.pdf");
                });
            }
    }


</script>
