/* You can apply your own colors below!  */
:root {
  --main-light-color: #f5f5f5; /*is the light grey */
  --main-dark-color: #121331; /* is the text*/
  --main-active-color: #009444; /*  is the highlight
    you can just add like red, or blue or any helx you like! */
}

.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 210px;
  z-index: -1;
}

.datepicker-container::before,
.datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.datepicker-dropdown {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}

.datepicker-inline {
  position: static;
}

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f;
}

.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after {
  border-top: 0;
  left: 10px;
  top: -5px;
}

.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: #39f;
}

.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: #fff;
  top: -4px;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}

.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px;
}

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f;
}

.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #fff;
  bottom: -4px;
}

.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px;
}

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%;
}

.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}

.datepicker-panel > ul::after {
  clear: both;
}

.datepicker-panel > ul > li {
  background-color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30px;
}

.datepicker-panel > ul > li:hover {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}

.datepicker-panel > ul > li.highlighted {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.highlighted:hover {
  background-color: rgb(204, 229, 255);
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px;
}

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 150px;
}

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px;
}

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #fff;
  cursor: default;
}

.datepicker-hide {
  display: none;
}

body {
  color: #333;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.ms-page-wrap {
  z-index: 2;
  background-color: #fff;
  width: 100%;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
}

.ms-container {
  max-width: 100%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.ms-column-wrap {
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-bottom: 4vh;
  display: flex;
}

.ms-column {
  grid-row-gap: 20px;
  flex-direction: column;
  width: 30%;
  display: flex;
}

.ms-column._50 {
  width: 47%;
}

.ms-column._50.padding {
  background-color: var(--white-smoke-2);
  border-radius: 16px;
  padding: 10%;
}

.ms-section-description {
  margin-bottom: 20px;
}

.ms-section-description.cta {
  font-size: 18px;
  line-height: 1.7em;
}

.ms-iframe {
  z-index: 2147483647;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70px;
  display: flex;
  position: fixed;
  inset: auto auto 0% 0%;
}

.ms-iframe-embed {
  justify-content: flex-end;
  align-items: flex-end;
  width: 180px;
  height: 70px;
  display: none;
  position: relative;
  overflow: visible;
}

.ms-header {
  padding-top: 6vh;
  padding-bottom: 4vh;
}

.ms-header.cta {
  background-image:
    url("https://cdn.prod.website-files.com/696d90ec7cacc2dcd95b52a9/696d90ee7cacc2dcd95b531b_noise.png"),
    linear-gradient(to top, var(--midnight-blue), #000);
  color: var(--white-smoke);
  text-align: center;
  background-position:
    0 0,
    0 0;
  background-size: 300px, auto;
  border: 1px solid #000;
  border-radius: 16px;
  padding-bottom: 6vh;
}

.ms-ui-kit {
  z-index: 1;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  max-height: 100vh;
  margin-bottom: 0;
  display: block;
  position: relative;
  overflow: scroll;
}

.cta-h1 {
  font-size: 58px;
  line-height: 1.2em;
}

.ms-100 {
  width: 100%;
}

.ms-input {
  color: #121331;
  background-color: #fff;
  border: 1px solid #12133140;
  border-radius: 5px;
  /* min-height: 40px; */
  /* margin-bottom: 20px; */
  padding: 8px 12px;
  transition:
    box-shadow 0.2s,
    border-color 0.2s;
  position: relative;
  box-shadow: 0 5px 10px -5px #0000001a;
}

.ms-input:hover {
  z-index: 2;
  box-shadow: none;
  border-color: #2962ff;
}

.ms-input::placeholder {
  color: #909090;
}

.ms-input.icon-left {
  padding-left: 40px;
}

.ms-input-label {
  color: #121331;
  margin-bottom: 5px;
  font-weight: 700;
}

.ms-input-wrap {
  /* padding: 0; */
  display: flex;
  position: relative;
}

.ms-code {
  background-color: var(--white-smoke-2);
  border-radius: 12px;
  padding: 9px;
  font-family: Inconsolata, monospace;
}

.ms-svg {
  z-index: 3;
  color: #12133140;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 20px;
  display: flex;
  position: absolute;
  inset: 50% 10px auto auto;
  transform: translateY(-50%);
}

.ms-embed {
  background-color: #ededed;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin-bottom: 10px;
  font-style: italic;
  display: flex;
}
.datepicker-dropdown {
  border-radius: 6px !important;
  border: 0 !important;
  -webkit-box-shadow: 0px 48px 88px rgba(23, 9, 54, 0.08);
  box-shadow: 0px 48px 88px rgba(23, 9, 54, 0.08);
  box-sizing: border-box;
}

.datepicker-panel > ul[data-view="week"] > li {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  height: initial;
  padding-top: 3px;
  margin-bottom: 4px;
}

.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  border-radius: 0px;
}

.datepicker-panel > ul[data-view="week"] li:first-child {
  border-radius: 6px 0 0 6px;
}

.datepicker-panel > ul[data-view="week"] li:last-child {
  border-radius: 0 6px 6px 0;
}

.datepicker-top-left::before,
.datepicker-top-left::after {
  display: none;
}

.datepicker-panel > ul > li.highlighted {
  color: var(--main-active-color);
  background: none !important;
  border: 1px solid var(--main-light-color);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: var(--main-active-color);
  background: var(--main-light-color);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

li[data-view="month current"],
li[data-view="year current"] {
  text-align: left;
  color: var(--main-dark-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 24px; */
  padding-left: 15px;
  border-radius: 6px;
}

.datepicker-panel > ul > li:hover {
  background: var(--main-light-color);
  border-radius: 6px;
}

/* Mặc định và is-compact (< 120px): Vẫn hiện icon */
.ms-input-wrap .ms-svg {
  display: flex;
}

/* Khi vào ngưỡng Extra Small (< 100px): Mới ẩn icon */
.ms-input-wrap.is-extra-small .ms-svg {
  display: none !important;
}

/* Điều chỉnh padding của input tương ứng */
.ms-input-wrap.is-extra-small .date-ui {
  padding-right: 5px !important; /* Bỏ khoảng trống bên phải khi icon mất */
  text-align: center;
  font-size: 11px !important;
}

/* Khi ở mức compact nhưng chưa extra-small: Icon vẫn còn nên cần padding */
.ms-input-wrap.is-compact:not(.is-extra-small) .date-ui {
  padding-right: 25px;
  font-size: 12px;
}

li[data-view="month current"],
li[data-view="year current"],
li[data-view="years current"] {
  margin-bottom: 4px !important;
}

@media screen and (min-width: 768px) {
  .datepicker-dropdown {
    width: 364px;
    padding: 12px;
  }

  .datepicker-panel > ul > li {
    width: 48px;
    height: 48px;
    padding-top: 10px;
  }

  li[data-view="month next"],
  li[data-view="year next"],
  li[data-view="years next"] {
    position: absolute;
    right: 18px;
  }

  li[data-view="month prev"],
  li[data-view="year prev"],
  li[data-view="years prev"] {
    position: absolute;
    right: 66px;
  }

  ul[data-view="months"] li,
  ul[data-view="years"] li {
    padding-top: 0px;
    width: 57px !important;
  }
}

@media screen and (max-width: 768px) {
  .datepicker-panel {
    transform: scale(0.97);
  }
}
