<div class="modal fade modal-xl" id="modalMembership" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-full-height">

            <div class="modal-header">
                <h5 class="modal-title">Memberships</h5>
            </div>

            <div class="modal-body d-flex flex-column" style="height: calc(100vh - 120px);">

                <div class="py-2 flex-shrink-0">
                    <button class="mui-button mui-button-new" id="op_membership_btnSearch">Search</button>
                    <button class="mui-button mui-button-new" id="op_membership_btnNew">New</button>
                    <button class="mui-button mui-button-new" id="op_membership_btnEdit">Edit</button>
                    <button class="mui-button mui-button-new" id="op_membership_btnDelete">Delete</button>
                    <button class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <div class="row mt-2 align-items-center flex-shrink-0">

                    <!-- Member Name -->
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <label class="col-md-4 col-form-label text-end pe-2">
                                Member Name
                            </label>

                            <div class="col-md-8">
                                <input id="op_membership_memberName"
                                       class="form-control form-control-sm"
                                       readonly />
                            </div>
                        </div>
                    </div>

                    <!-- Show Active -->
                    <div class="col-md-3 d-flex align-items-center">
                        <div class="form-check">
                            <input type="checkbox"
                                   id="op_membership_showActive"
                                   class="">

                            <label class="form-check-label ms-1"
                                   for="op_membership_showActive">
                                Show active
                            </label>
                        </div>
                    </div>

                </div>

                <div class="mui-card mt-2 d-flex flex-column flex-grow-1 overflow-hidden">
                    <div id="op_membership_gridContainer" class="mt-2 gridContainer flex-grow-1 h-100"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNewMembership" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="op_membership_modalTitle">New Membership</h5>
            </div>

            <div class="modal-body">
                <div class="mt-2">
                    <button class="mui-button mui-button-new" id="op_membership_btnSave">OK</button>
                    <button class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <div class="row mt-2">
                    <div class="form-group-new-reservation">
                        <label>Member Name</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="op_membership_memberNameAdd" class="form-control form-control-sm" readonly />
                        </div>
                    </div>
                    <div class="form-group-new-reservation">
                        <label>Type</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <select id="op_membership_memberTypeAdd" class="form-select form-select-sm" asp-items="ViewBag.cboMemberType">
                            </select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation">
                        <label>Name on Card</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="op_membership_nameOnCardAdd" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation">
                        <label>Card Number</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="op_membership_cardNumberAdd" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation">
                        <label>Expire Date</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="op_membership_expireDateAdd" type="date" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation">
                        <label>Sequence</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="op_membership_sequenceAdd" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation">
                        <label>Description</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="op_membership_descriptionAdd" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation mt-2 d-flex align-items-center">
                        <div style="margin-left:1px;margin-right:2px">
                            <input type="checkbox" id="op_membership_inactiveAdd">
                        </div>
                        <label class="mb-0 ms-1">Inactive</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var op_membership_Module = {
        profileID: 0,
        profileName: "",
        membershipID: "", 

        init: function (profileID, profileName) {
            this.profileID = profileID || 0;
            this.profileName = profileName || "";
            this.membershipID = "";

            $('#op_membership_memberName').val(this.profileName);

            this.initDOMEvents();
            this.loadData();
        },

        initDOMEvents: function () {
            const self = this;

            $('#op_membership_btnSearch').off('click').on('click', () => self.loadData());
            $('#op_membership_btnNew').off('click').on('click', () => self.openForm('New'));
            $('#op_membership_btnEdit').off('click').on('click', () => self.openForm('Edit'));
            $('#op_membership_btnDelete').off('click').on('click', () => self.deleteMembership());

            $('#op_membership_btnSave').off('click').on('click', () => self.saveMembership());

            $('#op_membership_showActive').off('change').on('change', () => self.loadData());

            $('#op_membership_memberTypeAdd').off('change').on('change', function () {
                let typeId = $(this).val();
                if (typeId && typeId != 0) {
                    self.loadMemberTypeByID(typeId);
                }
            });

            $('#modalNewMembership').off('hidden.bs.modal').on('hidden.bs.modal', function () {
                self.membershipID = "";
            });
        },

        loadData: function () {
            const self = this;
            let showActive = $('#op_membership_showActive').is(':checked') ? '' : '0';

            $.ajax({
                url: '/Profile/SearchProfileMembership',
                type: 'GET',
                data: {
                    profileID: self.profileID,
                    inactive: showActive
                },
                success: function (data) {
                    self.renderGrid(data);
                },
                error: function () {
                    alert('Error retrieving membership data.');
                }
            });
        },

        renderGrid: function (data) {
            $("#op_membership_gridContainer").dxDataGrid({
                dataSource: data,
                height: "100%",             
                width: "100%",              

                allowColumnResizing: true,  
                columnAutoWidth: true,      

                scrolling: {
                    mode: "standard",              
                    rowRenderingMode: "virtual",   
                    columnRenderingMode: "virtual",
                    showScrollbar: "always",        
                    useNative: false                
                },
                columns: [
                    { dataField: "id", caption: "ID", visible: false },
                    { dataField: "sequence", caption: "Seq" },
                    { dataField: "memberType", caption: "Type" },
                    { dataField: "memberNo", caption: "Card Number" },
                    { dataField: "expiry", caption: "Expiration Date" },
                    { dataField: "memberTypeName", caption: "Card on Name" },
                    { dataField: "description", caption: "Description" },
                    { dataField: "inactive", caption: "Inactive" },
                    { dataField: "createdBy", caption: "Created By" },
                    { dataField: "createdDate", caption: "Created Date", dataType: "date", format: "dd/MM/yyyy" },
                    { dataField: "updatedBy", caption: "Updated By" },
                    { dataField: "updatedDate", caption: "Updated Date", dataType: "date", format: "dd/MM/yyyy" },
                ],
                paging: { pageSize: 15 },
                pager: {
                    visible: true,
                    allowedPageSizes: [15, 20, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                selection: {
                    mode: "single", 
                },
                showBorders: false,
                onSelectionChanged: function (e) {
                   
                }
            });
        },

        openForm: function (action) {
            const self = this;

            if (action === 'New') {
                self.resetForm();
                self.membershipID = "";
                $('#op_membership_modalTitle').text("New Membership");
                $('#modalNewMembership').modal('show');
            }

            if (action === 'Edit') {
                var grid = $("#op_membership_gridContainer").dxDataGrid("instance");
                var selectedRowsData = grid.getSelectedRowsData();

                if (!selectedRowsData || selectedRowsData.length !== 1) {
                    showToast('Error', "Please select exactly one record to edit.", false);
                    return;
                }

                self.membershipID = selectedRowsData[0].ID;
                self.resetForm();
                $('#op_membership_modalTitle').text("Edit Membership");
                self.loadMembershipByID(self.membershipID);
                $('#modalNewMembership').modal('show');
            }
        },

        resetForm: function () {
            $('#op_membership_memberNameAdd').val(this.profileName);
            $('#op_membership_memberTypeAdd').val(0);
            $('#op_membership_nameOnCardAdd').val('');
            $('#op_membership_cardNumberAdd').val('');
            const today = new Date().toISOString().split('T')[0];
            $('#op_membership_expireDateAdd').val(today);
            $('#op_membership_sequenceAdd').val('');
            $('#op_membership_descriptionAdd').val('');
            $('#op_membership_inactiveAdd').prop('checked', false);
        },

        loadMembershipByID: function (id) {
            const self = this;
            $.ajax({
                url: '/Profile/GetMembershipByID',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    $('#op_membership_memberTypeAdd').val(data.memberTypeID);
                    self.loadMemberTypeByID(data.memberTypeID);
                    $('#op_membership_cardNumberAdd').val(data.memberNo);
                    $("#op_membership_sequenceAdd").val(data.sequence);
                    if (data.expiry) {
                        $("#op_membership_expireDateAdd").val(data.expiry.split('T')[0]);
                    }
                    $("#op_membership_descriptionAdd").val(data.description);
                    $('#op_membership_inactiveAdd').prop('checked', data.inActive == 1);
                },
                error: function () {
                    alert('Error retrieving membership data.');
                }
            });
        },

        loadMemberTypeByID: function (typeId) {
            $.ajax({
                url: '/Profile/GetMemberTypeByID',
                type: 'GET',
                data: { id: typeId },
                success: function (data) {
                    $('#op_membership_nameOnCardAdd').val(data.name);
                },
                error: function () {
                    alert('Error retrieving member type data.');
                }
            });
        },

        deleteMembership: function () {
            const self = this;
            var grid = $("#op_membership_gridContainer").dxDataGrid("instance");
            var selectedRowsData = grid.getSelectedRowsData();

            if (!selectedRowsData || selectedRowsData.length !== 1) {
                showToast('Error', "Please select exactly one record to delete.", false);
                return;
            }

            var mId = selectedRowsData[0].ID;
            if (!confirm("Are you sure you want to delete this member card?")) return;

            $.ajax({
                url: '/Profile/DeleteNewMembership',
                type: 'GET',
                data: { id: mId },
                success: function (data) {
                    if (data.code == 0) {
                        showToast('Success', data.msg, true);
                        self.loadData();
                    } else {
                        showToast('Error', data.msg, false);
                    }
                },
                error: function () {
                    alert('Error deleting membership data.');
                }
            });
        },

        saveMembership: function () {
            const self = this;
            var formData = new FormData();

            // Fix lấy dữ liệu parse JSON loginName an toàn
            let userName = "";
            try {
                userName = JSON.parse(localStorage.getItem("Loginname"));
            } catch (e) {
                userName = localStorage.getItem("Loginname") || "";
            }

            formData.append('ID', self.membershipID || 0);
            formData.append('profileID', self.profileID);
            formData.append('userName', userName);
            formData.append('memberNo', $('#op_membership_cardNumberAdd').val());
            formData.append('memberTypeID', $('#op_membership_memberTypeAdd').val());
            formData.append('description', $('#op_membership_descriptionAdd').val());
            formData.append('expiry', $('#op_membership_expireDateAdd').val());
            formData.append('sequence', $("#op_membership_sequenceAdd").val());
            formData.append('inactive', $('#op_membership_inactiveAdd').is(':checked') ? 1 : 0);

            $.ajax({
                url: '/Profile/SaveMembership',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    if (result.code == 0) {
                        self.loadData();
                        showToast('Success', result.msg, true);
                        $('#modalNewMembership').modal('hide');
                        self.membershipID = "";
                    } else {
                        showToast('Error', result.msg, false);
                    }
                }
            });
        }
    };

    // Hàm Global để gọi mở Modal từ file cha (Ví dụ: SearchProfile.cshtml)
    window.openModalMembership = function (profileID, profileName) {
        if (window.op_membership_Module) {
            window.op_membership_Module.init(profileID, profileName);
        }
        $('#modalMembership').modal('show');
    };
</script>
