@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" /> *@

<div class="header mt-2" style="border-bottom:none;justify-content:center">
    <h3 id="content-title">
        Cashiering Manager
    </h3>
</div>
<div class="search-filter">
    <div>
        <button class="mui-button mui-button-new" onclick="searchReservation()">Search</button>

        <button class="mui-button mui-button-new" onclick="resetForm()">Clear</button>
    </div>
    <div class="mt-1" id="guestSearchFilter">
        <div class="row">

            <!-- Room -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Room</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="room">
                    </div>
                </div>
            </div>

            <!-- Conf No -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Conf. No</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="confirmationNo">
                    </div>
                </div>
            </div>

            <!-- Name -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Name</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="name">
                    </div>
                </div>
            </div>

            <!-- CRS No -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">CRS No</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="crsNo">
                    </div>
                </div>
            </div>

            <!-- Group -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Group</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="group">
                    </div>
                </div>
            </div>

            <!-- Package -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Package</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="package">
                    </div>
                </div>
            </div>

            <!-- Company -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Company</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="company">
                    </div>
                </div>
            </div>

            <!-- Block -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Block</label>
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control clearable" id="block">
                    </div>
                </div>
            </div>

            <!-- Zone -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Zone</label>
                    <div class="col-12 col-md-8">
                        <select class="clearable" id="zone" asp-items="ViewBag.cboZone"></select>
                    </div>
                </div>
            </div>

            <!-- Guest Type -->
            <div class="col-12 col-md-2 mt-2">
                <div class="row g-2">
                    <label class="col-12 col-md-4 col-form-label text-md-end">Guest Type</label>
                    <div class="col-12 col-md-8">
                        <select class="clearable" id="guestType">
                            <option value="0" selected>All</option>
                            <option value="1">Main Guest</option>
                            <option value="2">Room Sharer</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Arrival From -->
                <div class="col-12 col-md-2 mt-2">
                    <div class="row g-2">
                        <label class="col-12 col-md-4 col-form-label text-md-end">Arrival From</label>
                        <div class="col-12 col-md-8 d-flex align-items-center gap-2">
                            <div class="col-12 col-md-8">
                                <div class="clearable" data-date-input data-format="DD/MM/YYYY" business-date
                                    data-name="chooseArrivalForm">
                                    <input type="text" class="date-ui form-control clearable" placeholder="dd/mm/yyyy"
                                        autocomplete="off" disabled />
                                </div>
                            </div>
                            <input type="checkbox" class="clearable" id="chooseArrivalForm">
                        </div>
                    </div>
                </div>

                <!-- Arrival To -->
                <div class="col-12 col-md-2 mt-2">
                    <div class="row g-2">
                        <label class="col-12 col-md-4 col-form-label text-md-end">Arrival To</label>
                        <div class="col-12 col-md-8 d-flex align-items-center gap-2">
                            <input type="date" class="form-control clearable" id="arrivalTo" disabled>
                            <input type="checkbox" class="clearable" id="chooseArrivalTo">
                        </div>
                    </div>
                </div>

                <!-- Departure -->
                <div class="col-12 col-md-2 mt-2">
                    <div class="row g-2">
                        <label class="col-12 col-md-4 col-form-label text-md-end">Departure</label>
                        <div class="col-12 col-md-8 d-flex align-items-center gap-2">
                            <input type="date" class="form-control clearable" id="departure" disabled>
                            <input type="checkbox" class="clearable" id="chooseDeparture">
                        </div>
                    </div>
                </div>

                <!-- Search Type -->
                <div class="col-12 col-md-5 mt-2">
                    <div class="row g-2">
                        <label class="col-12 col-md-2 col-form-label text-md-end">Search Type</label>
                        <div class="col-12 col-md-10 d-flex flex-wrap gap-3 align-items-center">
                            <div>
                                <input type="radio" class="clearable" name="searchType" value="0" checked>
                                <label class="form-check-label">Guest In House</label>
                            </div>
                            <div>
                                <input type="radio" class="clearable" name="searchType" value="1">
                                <label class="form-check-label">Checked Out</label>
                            </div>
                            <div>
                                <input type="radio" class="clearable" name="searchType" value="3">
                                <label class="form-check-label">Due Out</label>
                            </div>
                            <div>
                                <input type="radio" class="clearable" name="searchType" value="4">
                                <label class="form-check-label">Checked Out Today</label>
                            </div>
                            <div>
                                <input type="radio" class="clearable" name="searchType" value="5">
                                <label class="form-check-label">Check Out Today</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="mui-card">
    <div id="gridContainer" class="gridContainer mt-2"></div>
</div>
<script>
    $(document).ready(function () {
        searchReservation();
    });
    function searchReservation() {
        getBusinessDate().then(function () {
            $.ajax({
                url: '/Cashiering/GuestInHouse',
                type: 'get',
                dataType: 'json',
                data: {
                    room: $('#room').val(),
                    name: $('#name').val(),
                    block: $('#block').val(),
                    group: $('#group').val(),
                    company: $('#company').val(),
                    confirmationNo: $('#confirmationNo').val(),
                    arrivalDate: $('#arrivalForm').val(),
                    arrivalTo: $('#arrivalTo').val(),
                    departure: $('#departure').val(),
                    crsNo: $('#crsNo').val(),
                    package: $('#package').val(),
                    guestName: $('#guestType').val(),
                    zone: $('#zone').val(),
                    typeSearch: $('input[name="searchType"]:checked').val(),
                    chooseArrivalFrom: $('#chooseArrivalForm').is(':checked') ? 1 : 0,
                    chooseArrivalTo: $('#chooseArrivalTo').is(':checked') ? 1 : 0,
                    chooseDeparture: $('#chooseDeparture').is(':checked') ? 1 : 0,

                },
                crossDomain: false,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    initializeDataGridBilling(result);
                },
                error: function (xhr, statusText, err) {
                    if (xhr.status == 401) {
                        sessionTimeout();
                    }
                },

            });
        }).catch(function (xhr, statusText, err) {
            if (xhr.status == 401) {
                sessionTimeout();
            }
        });
    }
    function getBusinessDate() {
        return $.ajax({
            url: '/Reservation/GetBusinessDate',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#arrivalForm').val(result.split('T')[0]);
                $('#arrivalTo').val(result.split('T')[0]);
                $('#departure').val(result.split('T')[0]);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridBilling(data) {
        $("#gridContainer").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnResizingMode: "widget", // cho phép kéo giãn cột mượt mà
            columnAutoWidth: true,        // <<< Đây là dòng quan trọng nhất để cột tự động fit nội dung

            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual'
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },


        });
    }

    function toggleDateInput(checkboxId, inputId) {
        const $checkbox = $('#' + checkboxId);
        const $input = $('#' + inputId);

        // Khi thay đổi trạng thái checkbox
        $checkbox.on('change', function () {
            if (this.checked) {
                $input.prop('disabled', false);   // bật input
            } else {
                $input.prop('disabled', true);    // tắt input
            }
        });
    }
    toggleDateInput('chooseArrivalForm', 'arrivalForm');
    toggleDateInput('chooseArrivalTo', 'arrivalTo');
    toggleDateInput('chooseDeparture', 'departure');
</script>
