@using DevExpress.XtraReports.UI
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var selectedReport = @ViewBag.ReportHeader;
    var tlplist = ViewBag.TransactionGroupList;
    var transg = ViewBag.TransactionSubGroupList;
    var user = ViewBag.UsersList;
    var trans = ViewBag.TransactionsList;
}

<style>
   

    .modal-body {
        padding: 0 12px 0 12px !important;
    }

    .mui-card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        min-height: 50vh;
        padding: 10px;
    }
</style>


<div class="modal fade" id="cashierAudit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content modal-full-height">
            <div class="modal-header">
                <h5 class="modal-title">Cashier Audit</h5>
            </div>

            <div class="modal-body">

                <div class="search-filter">
                    <div class="pb-2  pt-1">
                        <button id="btnPrint" class="mui-button mui-button-new">View</button>
                        <button id="btnDetail" class="mui-button mui-button-new"> Detail</button>
                        <button id="btnExportExcel" class="mui-button mui-button-new" type="button"> Excel</button>
                        <button id="close" class="mui-button mui-button-new" onclick="window.location.href='/Home/Index'">Close</button>
                    </div>
                    <div class="row g-2 mb-2">

                        <!-- From Date -->
                        <div class="col-md-3">
                            <div class="d-flex align-items-center flex-nowrap">
                                <label class="me-2 mb-0 text-nowrap" style="min-width: 80px;">
                                    From Date:
                                </label>
                                <div class="flex-grow-1">
                                    <div data-date-input data-format="DD/MM/YYYY" business-date data-name="fromDate">
                                        <input type="text"
                                               class="date-ui form-control form-control-sm"
                                               placeholder="dd/mm/yyyy"
                                               autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- To Date -->
                        <div class="col-md-3">
                            <div class="d-flex align-items-center flex-nowrap">
                                <label class="me-2 mb-0 text-nowrap" style="min-width: 70px;">
                                    To Date:
                                </label>
                                <div class="flex-grow-1">
                                    <div data-date-input data-format="DD/MM/YYYY" business-date data-name="toDate">
                                        <input type="text"
                                               class="date-ui form-control form-control-sm"
                                               placeholder="dd/mm/yyyy"
                                               autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Login Name -->
                        <div class="col-md-4">
                            <div class="d-flex align-items-center flex-nowrap">
                                <label class="me-2 mb-0 text-nowrap" style="min-width: 95px;">
                                    Login Name:
                                </label>
                                <select id="userName" class="tomselect-custom flex-grow-1" multiple>
                                    @foreach (var u in ViewBag.UsersList)
                                    {
                                        <option value="@u.LoginName">@u.LoginName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!-- Shift -->
                        <div class="col-md-2">
                            <div class="d-flex align-items-center flex-nowrap">
                                <label class="me-2 mb-0 text-nowrap" style="min-width: 55px;">
                                    Shift:
                                </label>
                                <input type="text"
                                       id="shiftID"
                                       class="form-control form-control-sm" />
                            </div>
                        </div>

                        <!-- Option -->
                        <div class="col-md-4">
                            <div class="d-flex align-items-center flex-nowrap">
                                <label class="me-2 mb-0 text-nowrap" style="min-width: 60px;">
                                    Option:
                                </label>

                                <div class="form-check me-3">
                                    <input 
                                           type="radio"
                                           name="optionFilter"
                                           id="allShift"
                                           value="All"
                                           checked>
                                    <label class="form-check-label text-nowrap" for="allShift">
                                        All shift
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input 
                                           type="radio"
                                           name="optionFilter"
                                           id="onlyTransaction"
                                           value="Only">
                                    <label class="form-check-label text-nowrap" for="onlyTransaction">
                                        Only Transaction Posted
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>


                <div class="mui-card">

                    <div id="gridWrapper" class="mt-2" style="max-height: 500px;">
                        <div class="gridContainer" id="gridContainer"></div>
                    </div>
                </div>

                <div id="loadingSpinner"
                    style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaldetailGrid" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header py-2">
                <h6 class="modal-title">Transactions Shift Detail</h6>
            </div>

            <div class="modal-body">
                <div class="mb-2 mt-1">
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>
                <!-- HEADER INFO -->
                <div class="row g-2 mb-2">

                    <!-- Cashier No -->
                    <div class="col-lg-4 col-md-4 col-8 d-flex align-items-center">
                        <label class="col-5 me-2 text-end">Cashier No</label>
                        <input id="m-cashierNo" class="form-control form-control-sm flex-grow-1" readonly />
                    </div>

                    <!-- Shift No -->
                    <div class="col-lg-4 col-md-4 col-8 d-flex align-items-center">
                        <label class="col-5 me-2 text-end">Shift No</label>
                        <input id="m-shiftNo" class="form-control form-control-sm flex-grow-1" readonly />
                    </div>

                    <!-- Shift Date -->
                    <div class="col-lg-4 col-md-4 col-8 d-flex align-items-center">
                        <label class="col-5 me-2 text-end">Shift Date</label>

                        <div data-date-input data-format="DD/MM/YYYY" data-name="m-shiftDate" class="flex-grow-1">
                            <input type="text" id="m-shiftDate" class="date-ui form-control form-control-sm"
                                placeholder="dd/mm/yyyy" autocomplete="off" disabled />
                        </div>
                    </div>

                    <!-- User Name -->
                    <div class="col-lg-4 col-md-4 col-8 d-flex align-items-center">
                        <label class="col-5 me-2 text-end">User Name</label>
                        <input id="m-userName" class="form-control form-control-sm flex-grow-1" readonly />
                    </div>

                    <!-- Login Time -->
                    <div class="col-lg-4 col-md-4 col-8 d-flex align-items-center">
                        <label class="col-5 me-2 text-end">Login Time</label>
                        <input id="m-loginTime" class="form-control form-control-sm flex-grow-1" readonly />
                    </div>

                    <!-- Full Name -->
                    <div class="col-lg-4 col-md-4 col-8 d-flex align-items-center">
                        <label class="col-5 me-2 text-end">Full Name</label>
                        <input id="m-fullName" class="form-control form-control-sm flex-grow-1" readonly />
                    </div>

                </div>


                <!-- DETAIL GRID -->
                <div class="mui-card">
                    <div id="gridShiftDetail" class="gridContainer" style="height:420px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(async function () {
        initializeTomSelects();
        await window.initDateInputs();
        loadPostingJournal(isInitial = true);
        $('#cashierAudit').modal('show');
    });

    var selectedRowData = null;
    var detailGridInstance = null;


    function initializeTomSelects() {
        const selectors = ["#userName"];

        for (const id of selectors) {
            const el = document.querySelector(id);
            if (!el) continue;

            if (el.tomselect) el.tomselect.destroy();

            const ts = new TomSelect(el, {
                plugins: ['remove_button'],
                create: false,
                maxItems: null,
                allowEmptyOption: true,
                placeholder: '',
                persist: false,
                render: {
                    option: function (data, escape) {
                        return `<div>${escape(data.text)}</div>`;
                    }
                }
            });

        }
    }

    function initializeDetailGrid() {

        if (detailGridInstance) return;

        detailGridInstance = $("#gridShiftDetail").dxDataGrid({
            dataSource: [],
            showBorders: true,
            height: "500px",
            grouping: { autoExpandAll: true },
            columns: [
                { dataField: "paymentType", caption: "Payment", groupIndex: 0 },
                { dataField: "currencyID", caption: "Currency", groupIndex: 1 },
                { dataField: "transactionCode", caption: "Trans. Code" },
                { dataField: "description", caption: "Description" },
                { dataField: "amount", caption: "Amount", dataType: "number", format: "#,##0.00" },
                { dataField: "transactionDate", caption: "Date", dataType: "date", format: "dd/MM/yyyy" },
                {
                    caption: "Time",
                    dataType: "datetime",
                    format: "HH:mm:ss",
                    calculateCellValue: row => new Date(row.transactionDate)
                },
                { dataField: "reference", caption: "Reference" },
                { dataField: "supplement", caption: "Supplement" },
                { dataField: "folioID", caption: "FolioNo" },
                { dataField: "roomNo", caption: "Room" },
                { dataField: "account", caption: "Account" }
            ]
        }).dxDataGrid("instance");
    }

    $("#btnDetail").on("click", function () {
        if (!selectedRowData) {
            showToast("Warning", "Please select 1 row to update.", false);
            return;
        }
        const id = selectedRowData.shiftNo;
        loadGetShiftDetail(id);
    });


    let originalData = [];
    async function loadPostingJournal(isInitial = false) {
        try {
            let fromDateISO = $("#fromDate").val() || '';
            let toDateISO = $("#toDate").val() || '';

            // Nếu là load lần đầu (initial) và fromDate chưa có → bắt buộc chờ business date
            if (isInitial && !fromDateISO || !toDateISO) {
                fromDateISO = await waitForBusinessDate("fromDate", 10000); // timeout 10s để an toàn
                toDateISO = await waitForBusinessDate("toDate", 10000); // timeout 10s để an toàn
            }

            // Nếu vẫn rỗng sau khi chờ → báo lỗi hoặc fallback (tùy yêu cầu)
            if (!fromDateISO || !toDateISO) {
                console.log("Không tải được ngày mặc định. Vui lòng chọn From Date thủ công.");
                $("#loadingSpinner").hide();
                return;
            }

            $.ajax({
                url: "/Cashiering/GetCashierAudit",
                type: "GET",
                data: {
                    userName: $("#userName").val()?.map(r => r.replace("''", "'")).join("','") || "",
                    fromDate: fromDateISO,   // YYYY-MM-DD an toàn
                    toDate: toDateISO,
                    shiftID: $("#shiftID").val() || "",
                },
                success: function (data) {
                    console.log("Data loaded:", data);
                    originalData = data;
                    applyFilterAndReload();
                    $("#loadingSpinner").hide();
                },
                error: function (xhr, status, error) {
                    console.error("Lỗi tải dữ liệu:", status, error);
                    alert("Không thể tải dữ liệu. Vui lòng thử lại.");
                    $("#loadingSpinner").hide();
                }
            });

        } catch (err) {
            console.error("Lỗi khi chờ business date hoặc gọi API:", err);
            $("#loadingSpinner").hide();
        }
    }

    function loadGetShiftDetail(id) {

        $.ajax({
            url: "/Cashiering/GetShiftDetail",
            type: "GET",
            data: { shiftID: id, type: 0 },
            success: function (data) {

                // 1️⃣ Init grid nếu chưa có
                initializeDetailGrid();

                // 2️⃣ Set datasource
                detailGridInstance.option("dataSource", data.details || []);

                $('#m-cashierNo').val(selectedRowData.cashierNo ?? '');
                $('#m-shiftNo').val(selectedRowData.shiftNo ?? '');
                const iso = selectedRowData.date?.split("T")[0];

                const dateInput = document
                    .querySelector('[data-name="m-shiftDate"]')
                    ?.dateInput;

                console.log('date', dateInput);


                dateInput?.setISO(selectedRowData.date);

                $('#m-userName').val(selectedRowData.userName ?? '');
                $('#m-loginTime').val(selectedRowData.loginTime ?? '');
                $('#m-fullName').val(selectedRowData.fullName ?? '');


                // 3️⃣ Mở modal
                new bootstrap.Modal("#modaldetailGrid").show();
            },
            error: function () {
                alert("Không thể tải dữ liệu chi tiết");
            }
        });
    }

    function applyFilterAndReload() {
        let option = $("input[name='optionFilter']:checked").val();
        let filteredData = [];

        if (option === "Only") {
            filteredData = originalData.filter(x => Number(x.countTransaction) > 0);
        } else {
            filteredData = originalData; // all
        }

        loadPostingJournalGrid(filteredData);
    }

    $("#btnPrint").on("click", function () {
        loadPostingJournal();
    });

    $("input[name='optionFilter']").on("change", function () {
        applyFilterAndReload();
    });
    function loadPostingJournalGrid(data) {
        $("#gridContainer").dxDataGrid({
            dataSource: data,
            height: "500px",
            allowColumnResizing: true,
            selection: { mode: "single" },

            columns: [
                { dataField: "date", caption: "Date", width: "8%", dataType: "date", format: "dd/MM/yyyy" },

                {
                    dataField: "shiftNo",
                    caption: "Shift.No",
                    width: "8%",
                    cellTemplate: function (container, options) {
                        let count = options.data?.countTransaction || 0;
                        $("<span>")
                            .text(`${options.value} (${count})`)
                            .css("font-weight", count > 0 ? "bold" : "normal")
                            .appendTo(container);
                    }
                },

                { dataField: "cashierNo", caption: "Cashier.No", width: "8%" },

                {
                    dataField: "amountVND",
                    caption: "Amount (VND)",
                    width: "9%",
                    dataType: "number",
                    customizeText: function (e) {
                        return e.value?.toLocaleString("vi-VN", {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        });
                    }
                },

                { dataField: "amountUSD", caption: "Amount (USD)", width: "8%", dataType: "number" },

                { dataField: "userName", caption: "User", width: "8%" },

                { dataField: "fullName", caption: "Full Name", width: "16%" },

                { dataField: "loginTime", caption: "Login Time", width: "11%" },

                { dataField: "logoutTime", caption: "Logout Time", width: "11%", dataType: "date" },

                { dataField: "status", caption: "Status", width: "7%" },

                { dataField: "countTransaction", visible: false }
            ],

            scrolling: {
                mode: "standard", // Không dùng virtual để footer hiển thị đúng
                showScrollbar: "always",
                scrollByContent: true
            },
            paging: {
                pageSize: 50
            },
            pager: {
                visible: true,
                allowedPageSizes: [50, 100, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            showBorders: true,
            width: "100%",
            height: "500px",

            onRowPrepared: function (e) {
                if (e.data && e.data.isSubtotal) {
                    e.rowElement.css({ "font-weight": "bold" });
                }
                if (e.data && e.data.isGrandTotal) {
                    e.rowElement.css({ "font-weight": "bold" });
                }
            },
            onRowClick: function (e) {
                selectedRowData = e.data;
                console.log('onRowClick:', selectedRowData);

            }
        });
    }

    $("#btnExportExcel").click(function () {
        const grid = $("#gridContainer").dxDataGrid("instance");   // 🔥 khai báo grid

        const workbook = new ExcelJS.Workbook();
        const companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
        const worksheet = workbook.addWorksheet("Sheet 1");

        // === Dòng 1: Tên công ty (merge theo 4 cột) ===
        worksheet.addRow([companyName]);
        worksheet.mergeCells('A1:D1');
        worksheet.getRow(1).font = { bold: true };
        worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

        // === Dòng 2: Ngày giờ xuất (bên phải) ===
        const now = new Date();
        const exportDate = now.toLocaleString("vi-VN");
        worksheet.addRow(['', '', '', exportDate]);
        worksheet.mergeCells('D2:D2');  // cột D thôi
        worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

        // === Dòng 3–4: trống
        worksheet.addRow([]);
        worksheet.addRow([]);

        // === Dòng 5: Tiêu đề báo cáo (ở giữa) ===
        const reportRow = worksheet.addRow(['Cashier Audit']);
        worksheet.mergeCells('A5:D5');
        reportRow.font = { bold: true, size: 14 };
        reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

        // === Dòng 6: trống
        worksheet.addRow([]);

        // === Xuất dữ liệu grid bắt đầu từ dòng 7 ===
        DevExpress.excelExporter.exportDataGrid({
            component: grid,
            worksheet: worksheet,
            autoFilterEnabled: true,
            topLeftCell: { row: 7, column: 1 }
        }).then(function () {
            // Footer (sau cùng)
            const lastRow = worksheet.lastRow.number + 2;
            worksheet.mergeCells(`A${lastRow}:D${lastRow}`);
            worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
            worksheet.getCell(`A${lastRow}`).font = { italic: true };

            // Ghi file
            let fileName = "Cashier Audit.xlsx";
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
            });
        });
    });
</script>
