<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eim_modal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="eim_modal" tabindex="-1" aria-labelledby="eim_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-4by3">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eim_modalLabel">Upload Invoice</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button class="mui-button mui-button-new" onclick="eim_Module.searchInvoiceOrInvoiceDetail()"
                            >Search</button
                        >
                        <button class="mui-button mui-button-new">New Invoice</button>
                        <button class="mui-button mui-button-new">Edit</button>
                        <button class="mui-button mui-button-new">Delete</button>
                        <button class="mui-button mui-button-new">RSV</button>
                        <button class="mui-button mui-button-new">Billing</button>
                        <button class="mui-button mui-button-new">E Invoice</button>
                        <button class="mui-button mui-button-new">Excel</button>
                        <button class="mui-button mui-button-new" data-bs-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </div>
                    <div class="mt-1">
                        <div class="row g2 mt-1 align-items-center">
                            <!-- Name -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label for="eim_searchName" class="col-3 col-md-4 text-lg-end mb-0 text-nowrap">
                                        Name
                                    </label>
                                    <div class="col-9 col-md-8 align-items-end">
                                        <input type="text" id="eim_searchName" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <!-- Conf.No. -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label for="eim_ConfNo" class="col-3 col-sm-5 text-lg-end mb-0 text-nowrap">
                                        Conf.No.
                                    </label>
                                    <div class="col-9 col-sm-7">
                                        <input type="text" id="eim_ConfNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <!-- Folio No. -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label for="eim_FolioNo" class="col-3 col-sm-5 text-lg-end mb-0 text-nowrap">
                                        Folio No.
                                    </label>
                                    <div class="col-9 col-sm-7">
                                        <input type="text" id="eim_FolioNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice No. -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label
                                        for="eim_InvoiceNo"
                                        class="col-3 col-sm-5 col-md-4 text-lg-end mb-0 text-nowrap"
                                    >
                                        Invoice No.
                                    </label>
                                    <div class="col-9 col-sm-7 col-md-8">
                                        <input type="text" id="eim_InvoiceNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice Serial -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label
                                        for="eim_InvoiceSerial"
                                        class="col-3 col-sm-5 col-md-4 text-lg-end mb-0 text-nowrap"
                                    >
                                        Invoice Serial
                                    </label>

                                    <div class="col-9 col-sm-7 col-md-8">
                                        <select
                                            name="eim_InvoiceSerial"
                                            id="eim_InvoiceSerial"
                                            class="tomselect-custom"
                                        >
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Print -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label for="eim_Print" class="col-3 col-sm-4 text-lg-end mb-0 text-nowrap">
                                        Print
                                    </label>

                                    <div class="col-9 col-sm-8">
                                        <select name="eim_Print" id="eim_Print" class="tomselect-custom">
                                            <option value="0">Printed & Unprinted</option>
                                            <option value="1">Printed</option>
                                            <option value="2">Unprinted</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Res. Type -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label
                                        for="eim_ResType"
                                        class="col-3 col-sm-5 col-md-4 col-lg-5 text-lg-end mb-0 text-nowrap"
                                    >
                                        Res. Type
                                    </label>

                                    <div class="col-9 col-sm-7 col-md-8 col-lg-7">
                                        <select name="eim_ResType" id="eim_ResType" class="tomselect-custom">
                                            <option value="-1">All</option>
                                            <option value="0">By Day</option>
                                            <option value="1">By mouth</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- View By -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label
                                        for="eim_ViewBy"
                                        class="col-3 col-sm-3 col-lg-4 text-lg-end mb-0 text-nowrap"
                                    >
                                        View By
                                    </label>

                                    <div class="col-9 col-sm-9 col-lg-8">
                                        <select name="eim_ViewBy" id="eim_ViewBy" class="tomselect-custom">
                                            <option value="0">Invoice</option>
                                            <option value="1">Invoice Details</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice Date (From) -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label
                                        for="eim_InvoiceFormDate"
                                        class="col-5 col-lg-4 text-lg-end mb-0 text-nowrap"
                                    >
                                        Invoice Date
                                    </label>
                                    <div class="col-7 col-lg-8">
                                        <div
                                            class="clearable"
                                            data-date-input
                                            data-format="DD/MM/YYYY"
                                            business-date
                                            data-name="eim_InvoiceFormDate"
                                        >
                                            <input
                                                type="text"
                                                id="tss_display_fromDate"
                                                class="date-ui form-control form-control-sm clearable"
                                                placeholder="dd/mm/yyyy"
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice Date (To) -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                                <div class="row g-1 align-items-center">
                                    <label
                                        for="eim_InvoiceToDate"
                                        class="col-sm-5 col-md-1 col-lg-4 text-lg-end mb-0 text-nowrap"
                                    >
                                        To
                                    </label>
                                    <div class="col-md-11 col-sm-7 col-lg-8">
                                        <div
                                            class="clearable"
                                            data-date-input
                                            data-format="DD/MM/YYYY"
                                            business-date
                                            data-name="eim_InvoiceToDate"
                                        >
                                            <input
                                                type="text"
                                                id="tss_display_fromDate"
                                                class="date-ui form-control form-control-sm clearable"
                                                placeholder="dd/mm/yyyy"
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mui-card">
                    <div id="emi_gridInvoice" class="gridContainer mt-2"></div>
                    <div id="emi_gridInvoiceDetail" class="gridContainer mt-2" style="display: none"></div>
                    <div id="emi_loadingSpinner" class="mt-3 text-center" style="display: none">
                        <div style="height: 300px" class="position-relative">
                            <div class="position-absolute top-50 start-50 translate-middle">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var eim_Module = {
        init: function () {
            initTomSelect('#eim_InvoiceSerial');
            this.setUpInvoiceSerial();
        },
        setUpInvoiceSerial: function () {
            $.get('/Cashiering/SetUpInvoiceSerial', function (res) {
                const ts = getTomSelect('#eim_InvoiceSerial');
                if (ts) {
                    ts.clearOptions(); // Xóa sạch option cũ

                    res.forEach((item) => {
                        ts.addOption({
                            value: item.SerialNo,
                            text: item.SerialNo,
                        });
                    });

                    ts.refreshOptions(false); // Cập nhật lại giao diện
                    // TỰ ĐỘNG SELECT CÁI ĐẦU TIÊN
                    if (res.length > 0) {
                        // Sử dụng addItem để chọn giá trị dựa trên 'value' của option đầu tiên
                        ts.addItem(res[0].SerialNo);
                    }
                }
            });
        },
        getFilters: function () {
            return {
                fromDate: $('#eim_InvoiceFormDate').val() || dateSystem,
                toDate: $('#eim_InvoiceToDate').val() || dateSystem,
                searchName: $('#eim_searchName').val(),
                confNo: $('#eim_ConfNo').val(),
                folioNo: $('#eim_FolioNo').val(),
                invoiceNo: $('#eim_InvoiceNo').val(),
                invoiceSerial: $('#eim_InvoiceSerial').val(),
                print: $('#eim_Print').val(),
                resType: $('#eim_ResType').val(),
                viewBy: $('#eim_ViewBy').val(),
            };
        },
        //Search Invoice
        searchInvoiceOrInvoiceDetail: function () {
            const filters = this.getFilters();
            const self = this; // Gán self để dùng bên trong AJAX

            $('#emi_gridInvoice, #emi_gridInvoiceDetail').hide();
            $('#emi_loadingSpinner').show();

            $.ajax({
                url: '/Cashiering/searchInvoiceOrInvoiceDetail',
                type: 'GET',
                data: filters,
                traditional: true,
                success: function (result) {
                    $('#emi_loadingSpinner').hide();

                    if (filters.viewBy == '0') {
                        $('#emi_gridInvoice').show();
                        self.initializeInvoice(result);
                    } else {
                        $('#emi_gridInvoiceDetail').show();
                        // Đảm bảo bạn đã định nghĩa hàm này để vẽ Grid chi tiết
                        self.initializeInvoiceDetail(result);
                    }

                    // Các xử lý phụ khác (nếu có)
                    if ($('#logGridContainer').length > 0) {
                        self.initializeTaskSheetStatusPopGrid(result);
                    }
                },
                error: function (xhr) {
                    console.error(xhr);
                    alert('Lỗi khi tải dữ liệu từ: ' + apiUrl);
                    $('#emi_loadingSpinner').hide();
                },
            });
        },

        //Khởi tạo grid hiển thị invoice
        initializeInvoice: function (data) {
            $('#emi_gridInvoice').dxDataGrid({
                dataSource: data,
                allowColumnResizing: true,
                columnAutoWidth: false,
                allowColumnResizing: true,
                height: '100%',
                selection: {
                    mode: 'multiple', // Cho phép chọn nhiều hàng
                    showCheckBoxesMode: 'always', // Luôn hiện checkbox
                },
                columns: [
                    {
                        // Cột Checkbox để chọn hàng
                        type: 'selection',
                        width: 50,
                    },
                    {
                        dataField: 'ID',
                        caption: 'ID',
                        width: 80,
                        visible: false, // Ẩn nếu không cần thiết
                    },
                    {
                        dataField: 'VATDate',
                        caption: 'VAT Date',
                        dataType: 'date',
                        format: 'dd/MM/yyyy',
                        width: 110,
                    },
                    {
                        dataField: 'SerialNo',
                        caption: 'Serial No.',
                        width: 90,
                    },
                    {
                        dataField: 'InvoiceNo',
                        caption: 'Invoice No.',
                        width: 80,
                    },
                    {
                        dataField: 'AmountIncludedTax',
                        caption: 'Amount Inc. Tax',
                        dataType: 'number',
                        format: '#,##0',
                        width: 120,
                    },
                    {
                        dataField: 'Customer_Name',
                        caption: 'Guest',
                        width: 200,
                    },
                    {
                        dataField: 'RoomNo',
                        caption: 'Room No.',
                        width: 90,
                    },
                    {
                        dataField: 'ConfirmationNo',
                        caption: 'Conf No.',
                        width: 100,
                    },
                    {
                        dataField: 'PaymentMethod',
                        caption: 'Payment Method',
                        width: 90,
                    },
                    {
                        dataField: 'EStatus',
                        caption: 'E Status',
                        width: 100,
                    },
                    {
                        dataField: 'Note',
                        caption: 'Note',
                        width: 150,
                    },
                ],
            });
        },
        initializeInvoiceDetails: function (data) {
            $('#emi_gridInvoiceDetail').dxDataGrid({
                dataSource: data,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: '100%',
                columns: [
                    { dataField: 'colIndex', caption: 'No', width: 50 },
                    { dataField: 'roomNo', caption: 'RoomNo' },
                    { dataField: 'hkstatusID', caption: 'Room Status' },
                    { dataField: 'fostatus', caption: 'FOStatus' },
                    { dataField: 'attendant', caption: 'Attendant' },
                    {
                        dataField: 'taskDate',
                        caption: 'Task Date',
                        dataType: 'date',
                        format: 'dd/MM/yyyy',
                    },
                    { dataField: 'complete', caption: 'Status' },
                ],
            });
        },
    };
    document.addEventListener('DOMContentLoaded', function () {
        var modalEl = document.getElementById('eim_modal');
        var modal = new bootstrap.Modal(modalEl);
        modal.show();
        eim_Module.init();
    });
</script>
