<div class="modal fade" id="rmRate_modal" tabindex="-1" aria-labelledby="rmRate_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-4by3">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tss_modalLabel">Night Audit Room Rate</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button class="mui-button mui-button-new" onclick="rmRate_Module.loadData()">Search</button>
                        <button id="rmRate_btnExportpopExcel" class="mui-button mui-button-new">Excel</button>
                        <button class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                    </div>
                    <div class="mt-1">
                        <div class="row g-2 mt-1 align-items-center">

                            <!-- Date & Time -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="row g-1 align-items-center">
                                    <label class="col-4 text-md-end mb-0 text-nowrap">
                                        Date
                                    </label>
                                    <div class="col-8">
                                        <div class="clearable" data-date-input data-format="DD/MM/YYYY" business-date
                                            data-name="rmRate_toDate">
                                            <input type="text" id="rmRate_display_toDate"
                                                class="date-ui form-control form-control-sm clearable"
                                                placeholder="dd/mm/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Types -->
                            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                                <div class="row g-1 align-items-center">
                                    <label class="col-md-2 text-md-end mb-0 fw-semibold text-nowrap">
                                        Type
                                    </label>
                                    <div class="col-md-10 d-flex flex-wrap gap-2">

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_warning">
                                            <label class="form-check-label" for="rmRate_warning">Warning</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_reservation" checked>
                                            <label class="form-check-label" for="rmRate_reservation">Reservation</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_checkIn" checked>
                                            <label class="form-check-label" for="rmRate_checkIn">Check In</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_checkOut" checked>
                                            <label class="form-check-label" for="rmRate_checkOut">Check Out</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_dueIn" checked>
                                            <label class="form-check-label" for="rmRate_dueIn">Due In</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_dueOut" checked>
                                            <label class="form-check-label" for="rmRate_dueOut">Due Out</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input type="checkbox" id="rmRate_cancel" checked>
                                            <label class="form-check-label" for="rmRate_cancel">Cancel</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Comment -->
                            <div class="col-12 col-md-12 col-lg-3 col-xl-3">
                                <div class="row g-1 align-items-center">
                                    <label class="col-4 col-md-2 col-lg-4 text-md-end mb-0 text-nowrap">
                                        Comment
                                    </label>
                                    <div class="col-8 col-md-10 col-lg-8">
                                        <textarea type="text" id="rmRate_comment"
                                            class="form-control form-control-sm comment-input" style="height: 55px;"
                                            readonly></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="mui-card">
                    <div id="rmRate_gridContainer" class="gridContainer mt-2"></div>
                </div>
                <div id="rmRate_loadingSpinner"
                    style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
                    <i class="fa-solid fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var rmRate_Module = {
        selectedRow: null,

        init: function () {
            this.loadData();
            this.bindEvents();
        },
        getFilters: function () {
            return {
                date: $("#rmRate_toDate").val(),
                warning: $("#rmRate_warning").is(':checked'),
                reservation: $("#rmRate_reservation").is(':checked'),
                checkIN: $("#rmRate_checkIn").is(':checked'),
                checkOut: $("#rmRate_checkOut").is(':checked'),
                dueIn: $("#rmRate_dueIn").is(':checked'),
                dueOut: $("#rmRate_dueOut").is(':checked'),
                cancel: $("#rmRate_cancel").is(':checked')
            };
        },

        loadData: function () {
            var filters = this.getFilters();
            $("#rmRate_loading").show();

            $.ajax({
                url: '/NightAudit/SearchRoomRate',
                type: 'GET',
                data: filters,
                success: function (data) {
                    $("#rmRate_loading").hide();

                    rmRate_Module.renderGrid(data);
                },
                error: function (err) {
                    $("#rmRate_loading").hide();
                    showToast("Error", "Could not load room rate data", false);
                }
            });
        },

        renderGrid: function (data) {
            $("#rmRate_gridContainer").dxDataGrid({
                dataSource: data,
                showBorders: true,
                columnAutoWidth: true,
                allowColumnResizing: true,
                filterRow: { visible: true },
                paging: { pageSize: 50 },
                height: "100%",
                pager: {
                    visible: true,
                    allowedPageSizes: [50, 100, 500],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                selection: { mode: "single" },
                columns: [
                    { dataField: "ID", caption: "ID", visible: false },
                    { dataField: "RoomNumber", caption: "Room", width: 70, },
                    { dataField: "LastName", caption: "Guest Name", minWidth: 150 },

                    // Tăng width cho Date để tránh bị hiện ##########
                    {
                        dataField: "ArrivalDate",
                        caption: "Arr.",
                        dataType: "date",
                        format: "dd/MM/yyyy",
                        width: 100,
                    },
                    {
                        dataField: "DepartureDate",
                        caption: "Dep.",
                        dataType: "date",
                        format: "dd/MM/yyyy",
                        width: 100,
                    },

                    { dataField: "TransactionCode", caption: "Trans.Code", width: 90, },

                    { dataField: "Description", caption: "Description", minWidth: 180 },
                    { dataField: "AmountUSD", caption: "Amt USD", format: "#,##0", dataType: "number", width: 90, },
                    { dataField: "AmountNetUSD", caption: "Net USD", format: "#,##0", dataType: "number", width: 90, },
                    { dataField: "AmountVND", caption: "Amt VND",  format: "#,##0", dataType: "number", width: 110, },
                    { dataField: "AmountNetVND", caption: "Net VND", format: "#,##0", dataType: "number", width: 110, },

                    { dataField: "CurrencyID", caption: "Curr.", width: 60, },
                    { dataField: "Packages", caption: "Package", minWidth: 100 },
                    { dataField: "Status", caption: "Status", width: 110, },
                    { dataField: "ConfirmationNo", caption: "Conf. No", width: 90, },

                    { dataField: "ReservationHolder", caption: "Rsv. Holder", minWidth: 150 },
                    { dataField: "Market", caption: "Market", width: 100 },
                    { dataField: "Source", caption: "Source", width: 100 },

                    { dataField: "RoomRate", caption: "Rate", format: "#,##0", visible: false },
                    { dataField: "CreatedDate", caption: "Created", dataType: "datetime", format: "dd/MM/yyyy HH:mm", visible: false },
                ],
                onSelectionChanged: function (e) {
                    var selectedRows = e.selectedRowsData;

                    if (selectedRows.length > 0) {
                        var rowData = selectedRows[0];

                        $("#rmRate_comment").val(rowData.Comment);

                        rmRate_Module.selectedRow = rowData;
                    } else {
                        $("#rmRate_comment").val("");
                        rmRate_Module.selectedRow = null;
                    }
                },
            });
        },
        bindEvents: function () {
            const self = this;
            $("#rmRate_btnExportpopExcel").off("click").on("click", function () {
                const grid = $("#rmRate_gridContainer").dxDataGrid("instance");
                if (!grid) {
                    alert("The data report is not yet available.");
                    return;
                }
                self.exportToExcel(grid, 'Night Audit Room Rate');
            });
        },
        exportToExcel: function (gridInstance, reportName) {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet("Sheet 1");

            // Header Công ty
            worksheet.addRow(['Công ty Cổ phần Giải pháp Công nghệ CS-Solution']);
            worksheet.mergeCells('A1:E1');
            worksheet.getRow(1).font = { bold: true };

            // Tên báo cáo
            const reportRow = worksheet.addRow(['', '', reportName]);
            worksheet.mergeCells('C5:F5');
            reportRow.font = { bold: true, size: 14 };
            reportRow.alignment = { horizontal: 'center' };

            DevExpress.excelExporter.exportDataGrid({
                component: gridInstance,
                worksheet: worksheet,
                topLeftCell: { row: 7, column: 1 }
            }).then(() => {
                workbook.xlsx.writeBuffer().then((buffer) => {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), reportName + ".xlsx");
                });
            });
        }

    };

    window.openModalHKPRmRate = function () {
        rmRate_Module.init();
    };

    // Tự dọn dẹp biến khi Modal đóng để tránh rò rỉ bộ nhớ
    $("#rmRate_modal").on("hidden.bs.modal", function () {
        if (rmRate_Module.selectedRow) rmRate_Module.selectedRow.destroy();
    });
</script>
