@{
    var listsc = ViewBag.ShortcutKeyList;
    var listfromandfuc = ViewBag.FormAndFunctionGroupList;
}

<div class="modal fade" id="shortcutModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-full-height">
            <div class="modal-header">
                <h5 class="modal-title">Add Functions To List</h5>
            </div>
            <div class="modal-body">
                <div class="sticky-header bg-white p-2 shadow-sm z-3">
                    <div class="pb-2">
                        <button id="btnPrint" class="mui-button mui-button-view">View</button>
                        <button id="btnExportExcel" class="mui-button button-report-excel" type="button">Excel</button>
                        <button id="btnNewTheKeyboard" class="mui-button mui-button-new" type="button">New</button>
                        <button id="btnEditAppoin" class="mui-button mui-button-edit" type="button">Edit</button>
                        <button id="btnDeleteAppoin" class="mui-button mui-button-delete" type="button">Delete</button>
                        <button class="mui-button mui-button-new" id="btnClose">Close</button>
                    </div>
                    <div class="container-fluid pt-2 filter-panel">
                        <div class="row g-2 align-items-center">

                            <!-- Code tag -->
                            <div class="col-md-4">
                                <div class="d-flex align-items-center gap-2">
                                    <label for="codetag" class="form-label mb-0 text-nowrap" style="min-width: 90px;">
                                        Code tag
                                    </label>
                                    <input type="text" id="codetag" class="form-control form-control-sm">
                                </div>
                            </div>

                            <!-- Name rights -->
                            <div class="col-md-4">
                                <div class="d-flex align-items-center gap-2">
                                    <label for="namerights" class="form-label mb-0 text-nowrap" style="min-width: 100px;">
                                        Name rights
                                    </label>
                                    <input type="text" id="namerights" class="form-control form-control-sm">
                                </div>
                            </div>

                            <!-- Type -->
                            <div class="col-md-4">
                                <div class="d-flex align-items-center gap-3">
                                    <label class="form-label mb-0 text-nowrap" style="min-width: 60px;">
                                        Type
                                    </label>

                                    <div class="form-check form-check-inline mb-0">
                                        <input  type="radio" name="rightsType" id="functionsRights" value="0" checked>
                                        <label class="form-check-label text-nowrap" for="functionsRights">
                                            Functions rights
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline mb-0">
                                        <input  type="radio" name="rightsType" id="dataRights" value="1">
                                        <label class="form-check-label text-nowrap" for="dataRights">
                                            Data rights
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="mui-card">
                    <div id="gridContainerAddfu" class="gridContainer mt-2"></div>
                </div>

                <div id="loadingSpinner" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup New / Edit -->
<div class="modal fade" id="popupNewGrid" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title">The Keyboard Shortcut</h5>
            </div>
            <div class="modal-body p-3">
                <div class="d-flex justify-content-start mb-3 gap-2 pt-2">
                    <button id="btnSaveAtt" class="mui-button mui-button-search">Save</button>
                    <button type="button" id="btnClosePopup" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="container-fluid">
                    <div class="row g-3">
                        <input type="hidden" id="txtid" name="txtid" />
                        <div class="col-md-7">
                            <fieldset class="border p-2 h-100">
                                <legend class="float-none w-auto px-2 small fw-bold">Information</legend>
                                <div class="row align-items-center mb-2">
                                    <div class="col-md-4"><label class="mb-0">Code Tag</label></div>
                                    <div class="col-md-8"><input type="text" id="codetagnew" class="form-control form-control-sm"></div>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <div class="col-md-4"><label class="mb-0">Name rights</label></div>
                                    <div class="col-md-8"><input type="text" id="namerightnew" class="form-control form-control-sm"></div>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <div class="col-md-4"><label class="mb-0">Description</label></div>
                                    <div class="col-md-8"><input type="text" id="descriptionnew" class="form-control form-control-sm"></div>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <div class="col-md-4"><label class="mb-0">Mapping Link Web</label></div>
                                    <div class="col-md-8"><input type="text" id="mappingLinkWeb" class="form-control form-control-sm"></div>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <div class="col-md-4"><label class="mb-0">Group</label></div>
                                    <div class="col-md-8">
                                        <select id="groupnew" class="form-control form-control-sm">
                                            <option value=""></option>
                                            @foreach (var item in listfromandfuc)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <div class="form-check">
                                            <input class="form-check-input me-2" type="checkbox" id="chkHide">
                                            <label class="form-check-label" for="chkHide">Is Hide</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-5">
                            <fieldset class="border p-2 h-100">
                                <legend class="float-none w-auto px-2 small fw-bold">Shortcuts</legend>
                                <div class="form-check mb-2"><input class="form-check-input me-2" type="checkbox" id="chkShift"><label>Keys Shift</label></div>
                                <div class="form-check mb-2"><input class="form-check-input me-2" type="checkbox" id="chkCtrl"><label>Keys Ctrl</label></div>
                                <div class="form-check mb-3"><input class="form-check-input me-2" type="checkbox" id="chkAlt"><label>Keys Alt</label></div>
                                <div class="row align-items-center">
                                    <div class="col-md-5"><label class="mb-0">Functions Keys</label></div>
                                    <div class="col-md-7">
                                        <select id="functionkeynew" class="form-control form-control-sm">
                                            <option value=""></option>
                                            @foreach (var item in listsc)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div id="logGridContainer" class="gridContainer mt-2" style="max-height:250px; overflow:auto;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    window.openShortcutModal = function () {
        $("#shortcutModal").modal("show");
        shortcut_Module.init();
    };

    $("#shortcutModal").on("hidden.bs.modal", function () {
        shortcut_Module.destroy && shortcut_Module.destroy();
    });

    var shortcut_Module = {
        selectedRowData: null,

        init: function () {
            const self = this;
            $(document).ready(function () {
                self.loadData();
            });
            self.bindEvents();
        },

        bindEvents: function () {
            const self = this;

            $(document).off("click", "#btnPrint").on("click", "#btnPrint", function () {
                self.loadData();
            });

            $(document).off("click", "#btnClose").on("click", "#btnClose", function () {
                $("#shortcutModal").modal("hide");
            });

            $("#btnNewTheKeyboard").click(function () {
                self.clearForm();
                $("#popupNewGrid").modal("show");
            });

            $("#btnEditAppoin").off("click").on("click", function () {
                self.editSelected();
            });

            $("#btnDeleteAppoin").off("click").on("click", function () {
                self.deleteSelected();
            });

            $("#btnSaveAtt").off("click").on("click", function () {
                self.saveForm();
            });

            $("#btnExportExcel").off("click").on("click", function () {
                self.exportToExcel();
            });
        },
        loadData: function () {
              const self = this;
            $("#loadingSpinner").show();
            const rightsType = $('input[name="rightsType"]:checked').val();

            $.ajax({
                url: '/Security/AddFuncitionsToListData',
                type: 'GET',
                data: {
                    codetag: $("#codetag").val(),
                    namerights: $("#namerights").val(),
                    isDataRight: rightsType,
                },
                traditional: true,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    console.log(result);
                    self.initializeGrid(result);
                    $("#loadingSpinner").hide();
                },
                error: function () {
                    alert("Không thể tải báo cáo.");
                    $("#loadingSpinner").hide();
                }
            });
        },
        initializeGrid: function (data) {
            const self = this;
            $("#gridContainerAddfu").dxTreeList({
                dataSource: data,
                keyExpr: "id",
                parentIdExpr: "parentID",
                rootValue: 0,
                height: 500,
                showBorders: true,
                columnAutoWidth: true,
                autoExpandAll: false,
                columns: [
                    { dataField: "name", caption: "Name Rights", width: "30%" },
                    { dataField: "code", caption: "Code Tag", width: "20%" },
                    { dataField: "mappingLinkWeb", caption: "Mapping Link Web", width: "20%" },
                    booleanColumn("shiftKey", "Shift", "6%"),
                    booleanColumn("ctrlKey", "Ctrl", "6%"),
                    booleanColumn("altKey", "Alt", "6%"),
                    { dataField: "shortcutKey", caption: "The Keyboard Shortcut", width: "20%" },
                    booleanColumn("isHide", "Hide", "6%")
                ],
                selection: { mode: "single" },
                filterRow: { visible: true },
                headerFilter: { visible: true },
                paging: { enabled: false },
                scrolling: { mode: "standard" },
                onRowClick: function (e) {
                    self.selectedRowData = e.data;
                    console.log("Selected:", self.selectedRowData);
                },
                onRowPrepared: function (e) {
                    if (e.rowType === "data" && e.node.hasChildren) {
                        e.rowElement.css({ "font-weight": "bold", "background-color": "#f8f9fa" });
                    }
                }
            });
        },

        editSelected: function () {
            const self = this;
            if (!self.selectedRowData) {
                showToast('Warning', 'Vui lòng chọn một dòng trước khi chỉnh sửa.', false);
                return;
            }

            const rightsType = $('input[name="rightsType"]:checked').val();
            $("#loadingSpinner").show();

            $.ajax({
                url: '/Security/AddFuncitionsToListDetail',
                type: 'GET',
                data: {
                    id: self.selectedRowData.id,
                    isDataRight: rightsType,
                },
                traditional: true,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (res) {
                    const result = res[0] || {};
                    self.populateForm(result, rightsType);
                    $("#popupNewGrid").modal("show");
                    $("#loadingSpinner").hide();
                },
                error: function () {
                    alert("Không thể tải chi tiết.");
                    $("#loadingSpinner").hide();
                }
            });
        },

        populateForm: function (data, rightsType) {
            $("#txtid").val(data.id || "");
            $("#codetagnew").val(data.code || "");
            $("#namerightnew").val(data.name || "");
            $("#descriptionnew").val(data.description || data.name || "");
            $("#mappingLinkWeb").val(data.mappingLinkWeb || "");
            $("#chkHide").prop("checked", data.isHide === true);

            if (rightsType == "1") {
                $("#groupnew").val(data.formAndFunctionDataGroupID || "");
            } else {
                $("#chkShift").prop("checked", data.shiftKey === true);
                $("#chkCtrl").prop("checked", data.ctrlKey === true);
                $("#chkAlt").prop("checked", data.altKey === true);
                $("#functionkeynew").val(data.shortcutKey || "");
                $("#groupnew").val(data.formAndFunctionGroupID || "");
            }
        },

        clearForm: function () {
            $("#txtid").val("");
            $("#codetagnew").val("");
            $("#namerightnew").val("");
            $("#descriptionnew").val("");
            $("#mappingLinkWeb").val("");
            $("#groupnew").val("");
            $("#chkHide").prop("checked", false);
            $("#chkShift").prop("checked", false);
            $("#chkCtrl").prop("checked", false);
            $("#chkAlt").prop("checked", false);
            $("#functionkeynew").val("");
        },

        saveForm: function () {
            const self = this;
            const rightsType = $('input[name="rightsType"]:checked').val();

            const data = {
                ID: $("#txtid").val(),
                codetagnew: $("#codetagnew").val(),
                namerightnew: $("#namerightnew").val(),
                descriptionnew: $("#descriptionnew").val(),
                mappingLinkWeb: $("#mappingLinkWeb").val(),
                groupnew: $("#groupnew").val(),
                isHide: $('#chkHide').is(':checked') ? 1 : 0,
                isShift: $('#chkShift').is(':checked') ? 1 : 0,
                isCtrl: $('#chkCtrl').is(':checked') ? 1 : 0,
                isAlt: $('#chkAlt').is(':checked') ? 1 : 0,
                functionkeynew: $("#functionkeynew").val(),
                _IsDataRight: rightsType,
                userName: JSON.parse(localStorage.getItem("Loginname")),
                userID: JSON.parse(localStorage.getItem("userID"))
            };

            $.ajax({
                url: '/Security/UpdateFormAndFunction',
                type: 'POST',
                data: data,
                traditional: true,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (response) {
                    if (response.success) {
                        showToast('Success', response.message, true);
                        $("#popupNewGrid").modal("hide");
                        self.loadData();
                        self.clearForm();
                    } else {
                        showToast('Warning', response.message, false);
                    }
                },
                error: function () {
                    showToast('Error', 'Không thể lưu dữ liệu.', false);
                }
            });
        },

        deleteSelected: function () {
            const self = this;
            if (!self.selectedRowData) {
                showToast('Warning', 'Vui lòng chọn một dòng trước khi xóa.', false);
                return;
            }

            if (!confirm("Bạn chắc chắn muốn xóa mục này?")) return;

            $.ajax({
                url: '/Security/DeleteFormAndFunction', // sửa endpoint nếu backend khác
                type: 'POST',
                data: { ID: self.selectedRowData.id },
                traditional: true,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (response) {
                    if (response.success) {
                        showToast('Success', response.message, true);
                        self.loadData();
                        self.selectedRowData = null;
                    } else {
                        showToast('Warning', response.message, false);
                    }
                },
                error: function () {
                    showToast('Error', 'Không thể xóa.', false);
                }
            });
        },

        exportToExcel: function () {
            const grid = $("#gridContainerAddfu").dxTreeList("instance");
            const selectedReport = 'AddFuncitionsToList';

            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet("Sheet 1");

            worksheet.addRow(['Công ty Cổ phần Giải pháp Công nghệ CS-Solution']);
            worksheet.mergeCells('A1:E1');
            worksheet.getRow(1).font = { bold: true };
            worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

            const now = new Date();
            worksheet.addRow(['', '', '', '', ' ' + now.toLocaleString("vi-VN")]);
            worksheet.mergeCells('E2:H2');
            worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

            worksheet.addRow([]);
            worksheet.addRow([]);

            const reportRow = worksheet.addRow(['', '', selectedReport]);
            worksheet.mergeCells('C5:F5');
            reportRow.font = { bold: true, size: 14 };
            reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

            worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: grid,
                worksheet: worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const lastRow = worksheet.lastRow.number + 2;
                worksheet.getCell(`A${lastRow}`).value = "--- END ---";
                worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
                worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
                worksheet.getCell(`A${lastRow}`).font = { italic: true };

                let fileName = selectedReport + ".xlsx";
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
                });
            });
        }
    }

    function booleanColumn(field, caption, width) {
        return {
            dataField: field,
            caption: caption,
            width: width || "6%",
            alignment: "center",
            cellTemplate: function (container, options) {
                $("<div>")
                    .dxCheckBox({
                        value: options.value,
                        readOnly: true
                    })
                    .css({
                        transform: "scale(0.85)",
                        margin: "0 auto"
                    })
                    .appendTo(container);
            }
        };
    }
</script>
