@{

    var listusg = ViewBag.UserGroupList;
    var listjt = ViewBag.JobTitleList;
}

<div class="modal fade" id="ousm_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-full-height">

            <div class="modal-header">
                <h5 class="modal-title">Overbooking Search</h5>
            </div>

            <div class="modal-body">
                <div class="sticky-header bg-white p-2 shadow-sm z-3">
                    <div class="">
                        <button id="btnPrint" class="mui-button mui-button-view">View</button>
                        <button id="btnNewAppoin" class="mui-button mui-button-new" type="button"> New </button>
                        <button id="btnEditAppoin" class="mui-button mui-button-edit" type="button">Edit </button>
                        <button id="btnDeleteAppoin" class="mui-button mui-button-delete" type="button">
                            Delete
                        </button>
                    </div>
                    <div class="d-flex flex-wrap align-items-center gap-2 mb-1 pt-2 filter-panel">
                        <!-- From Date -->

                        <div class="row g-3 align-items-center filter-panel">
                            <div class="container-fluid filter-panel pt-2">
                                <div class="row g-2 align-items-center">

                                    <!-- Last Name -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Last Name</label>
                                            <div class="col-md-8">
                                                <input id="lastName" type="text" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- User Status -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">User Status</label>
                                            <div class="col-md-8">
                                                <select id="userStatus" class="form-select form-select-sm">
                                                    <option value="0">Active</option>
                                                    <option value="1">Inactive</option>
                                                    <option value="2">Terminated</option>
                                                    <option value="3">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- User Group -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">User Group</label>
                                            <div class="col-md-8">
                                                <select id="usergroup"
                                                        name="usergroup"
                                                        class="form-control form-control-sm">
                                                    <option value=""></option>
                                                    @foreach (var item in listusg)
                                                    {
                                                        <option value="@item.Code">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- First Name -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">First Name</label>
                                            <div class="col-md-8">
                                                <input type="text"id="firstName" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cashier Status -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Cashier status</label>
                                            <div class="col-md-8">
                                                <select id="cashierStatus" class="form-select form-select-sm">
                                                    <option value="0">Cashier</option>
                                                    <option value="1">None Cashier</option>
                                                    <option value="2">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Job Title -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Job Title</label>
                                            <div class="col-md-8">
                                                <select id="jobtitle"
                                                        name="jobtitle"
                                                        class="form-control form-control-sm">
                                                    <option value=""></option>
                                                    @foreach (var item in listjt)
                                                    {
                                                        <option value="@item.Code">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Login name -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Login name</label>
                                            <div class="col-md-8">
                                                <input type="text" id="loginName" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

          

                        </div>

                    </div>

                </div>

                <div class="mui-card">
                    <div id="gridContainer" class="gridContainer mt-2"></div>
                </div>
                <div id="loadingSpinner"
                     style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    window.openModalOusm = function () {
        $("#ousm_modal").modal("show");
        ousm_Module.init();
    };

    // Cleanup when main modal closes
    $("#ousm_modal").on("hidden.bs.modal", function () {
        ousm_Module.destroy();
    });

    var ousm_Module = {
         selectedRowData: null,
          init: function () {
            const self = this;

            $(document).ready(async function () {
     
            });

            self.bindEvents();
          },

        bindEvents: function () {
             const self = this;
             $(document).off("click", "#btnPrint").on("click", "#btnPrint", function () {
                 self.usersManagementData();             
             });

        },
        usersManagementData: async function () {
              $("#loadingSpinner").show();
                $.ajax({
                    url: '/Security/UsersManagementData',
                    type: 'GET',
                    data: {
                        lastName: $("#lastName").val(),
                        firstName: $("#firstName").val(),
                        loginName: $("#loginName").val(),
                        userStatus: $("#userStatus").val(),
                        cashierStatus: $("#cashierStatus").val(),
                        jobtitle: $("#jobtitle").val(),
                        department: $("#usergroup").val(),
                    },
                    traditional: true,
                    crossDomain: false,
                    headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                    success: function (result) {
                        // $("#reportViewerContainer").html(result);
                        // $("#loadingSpinner").hide();
                        console.log(result);
                       self.initializeUsersManagementGrid(result);
                        $("#loadingSpinner").hide();
                    },
                    error: function () {
                        alert("Không th? t?i báo cáo.");
                        $("#loadingSpinner").hide();
                    }
                });
         },

         initializeUsersManagementGrid: function (data) {
              const self = this;
            $("#gridContainer").dxDataGrid({
                dataSource: data,
                height: 500,

                allowColumnResizing: true,
                columnAutoWidth: true,

                grouping: {
                    autoExpandAll: true
                },
                groupPanel: {
                    visible: false // không cần panel kéo thả
                },

                columns: [
                    {
                        dataField: "department",
                        caption: "Department",
                        groupIndex: 0,          // 👈 GROUP THEO DEPARTMENT
                        visible: false,         // Ẩn cột, chỉ hiển thị ở group header
                        groupCellTemplate: function (container, options) {
                            $("<div>")
                                .text("Department: " + options.value)
                                .css({
                                    "font-weight": "600",
                                    "font-size": "14px"
                                })
                                .appendTo(container);
                        }
                    },

                    { dataField: "statusText", caption: "Status", width: "14%" },
                    { dataField: "loginName", caption: "Login Name", width: "14%" },
                    { dataField: "fullName", caption: "Full Name", width: "10%" },
                    { dataField: "sex", caption: "Sex", width: "8%" },

                    {
                        dataField: "birthOfDate",
                        caption: "Birth Date",
                        dataType: "date",
                        format: "dd/MM/yyyy",
                        width: "12%"
                    },

                    { dataField: "telephone", caption: "Tel", width: "12%" },
                    { dataField: "handPhone", caption: "Mobile", width: "12%" },
                    { dataField: "homeAddress", caption: "Home Address", width: "16%" },
                    { dataField: "resident", caption: "Resident", width: "12%" },
                    { dataField: "postalCode", caption: "Postal", width: "8%" },

                    {
                        dataField: "isCashier",
                        caption: "Cashier",
                        width: "6%",
                        alignment: "center",
                        cellTemplate: function (container, options) {
                            $("<div>")
                                .dxCheckBox({
                                    value: options.value,
                                    readOnly: true
                                })
                                .css({
                                    transform: "scale(0.85)",
                                    margin: "0 auto"
                                })
                                .appendTo(container);
                        }
                    },

                    { dataField: "jobTitle", caption: "Job Title", width: "14%" },
                    { dataField: "createBy", caption: "Create By", width: "12%" },
                    {
                        dataField: "createDate",
                        caption: "Create Date",
                        dataType: "date",
                        format: "dd/MM/yyyy",
                        width: "12%"
                    },
                    { dataField: "updateBy", caption: "Update By", width: "12%" },
                    {
                        dataField: "updateDate",
                        caption: "Update Date",
                        dataType: "date",
                        format: "dd/MM/yyyy",
                        width: "12%"
                    }
                ],

                paging: { pageSize: 25 },
                pager: {
                    visible: true,
                    allowedPageSizes: [25, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },

                filterRow: { visible: true, applyFilter: "auto" },
                headerFilter: { visible: true },

                selection: {  mode: "single" },
                showBorders: true,

                onRowClick: function (e) {
                     self.selectedRowData = e.data;
                }
            });
        } 
     },
</script>
