@{

    var listusg = ViewBag.UserGroupList;
    var listjt = ViewBag.JobTitleList;
}

<div class="modal fade" id="ousm_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-full-height">

            <div class="modal-header">
                <h5 class="modal-title">UsersManagement</h5>
            </div>

            <div class="modal-body">
                <div class="sticky-header bg-white p-2 shadow-sm z-3">
                    <div class="pb-2">
                        <button id="btnPrint" class="mui-button mui-button-view">View</button>
                        <button id="btnNewUsermana" class="mui-button mui-button-new" type="button"> New </button>
                        <button id="btnEditUsermana" class="mui-button mui-button-edit" type="button">Edit </button>
                        <button id="btnDeleteUsermana" class="mui-button mui-button-delete" type="button">
                            Delete
                        </button>
                        <button class="mui-button mui-button-new" id="btnClose">Close</button>
                    </div>
                    <div class="d-flex flex-wrap align-items-center gap-2 mb-1 pt-2 filter-panel">
                        <!-- From Date -->

                        <div class="row g-3 align-items-center filter-panel">
                            <div class="container-fluid filter-panel pt-2">
                                <div class="row g-2 align-items-center">

                                    <!-- Last Name -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Last Name</label>
                                            <div class="col-md-8">
                                                <input id="lastName" type="text" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- User Status -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">User Status</label>
                                            <div class="col-md-8">
                                                <select id="userStatus" class="form-select form-select-sm">
                                                    <option value="0">Active</option>
                                                    <option value="1">Inactive</option>
                                                    <option value="2">Terminated</option>
                                                    <option value="3">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- User Group -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">User Group</label>
                                            <div class="col-md-8">
                                                <select id="usergroup"
                                                        name="usergroup"
                                                        class="form-control form-control-sm">
                                                    <option value=""></option>
                                                    @foreach (var item in listusg)
                                                    {
                                                        <option value="@item.Code">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- First Name -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">First Name</label>
                                            <div class="col-md-8">
                                                <input type="text"id="firstName" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cashier Status -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Cashier status</label>
                                            <div class="col-md-8">
                                                <select id="cashierStatus" class="form-select form-select-sm">
                                                    <option value="0">Cashier</option>
                                                    <option value="1">None Cashier</option>
                                                    <option value="2">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Job Title -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Job Title</label>
                                            <div class="col-md-8">
                                                <select id="jobtitle"
                                                        name="jobtitle"
                                                        class="form-control form-control-sm">
                                                    <option value=""></option>
                                                    @foreach (var item in listjt)
                                                    {
                                                        <option value="@item.Code">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Login name -->
                                    <div class="col-md-4">
                                        <div class="row align-items-center">
                                            <label class="col-md-4 col-form-label text-end">Login name</label>
                                            <div class="col-md-8">
                                                <input type="text" id="loginName" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

          

                        </div>

                    </div>

                </div>

                <div class="mui-card">
                    <div id="gridContainer" class="gridContainer mt-2"></div>
                </div>
                <div id="loadingSpinner"
                     style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Popup New / Edit -->
<div class="modal fade" id="popupNewGrid" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title">New User</h5>
            </div>
            <div class="modal-body p-3">
                <div class="d-flex justify-content-start mb-3 gap-2 pt-2">
                    <button id="btnSaveAtt" class="mui-button mui-button-search">Save</button>
                    <button type="button" id="btnClosePopup" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="container-fluid">
                    <div class="row g-2">

                        <!-- LEFT -->
                        <div class="col-md-6">

                            <!-- User basic -->
                            <div class="border p-2 mb-2">
                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Last Name</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">First / Middle</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Sex</div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="sex">
                                            <label class="form-check-label">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="sex">
                                            <label class="form-check-label">Female</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Job Title</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                  
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Department</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                   
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-6 text-end text-nowrap">User Group</div>
                                    <div class="col-md-6">
                                        <input class="form-control form-control-sm">
                                    </div>
                                   
                                </div>

                                <div class="row g-2 align-items-center">
                                    <div class="col-md-6 text-end text-nowrap">Date of Birth</div>
                                    <div class="col-md-6">
                                        <div data-date-input data-format="DD/MM/YYYY" data-name="dateofbirth"
                                             business-date>
                                            <input type="text" class="date-ui form-control form-control-sm"
                                                   placeholder="dd/mm/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row g-2 align-items-center">
                                 
                                    <div class="col-md-6 text-end text-nowrap">Working Date</div>
                                    <div class="col-md-6">
                                        <div data-date-input data-format="DD/MM/YYYY" data-name="workingdate"
                                             business-date>
                                            <input type="text" class="date-ui form-control form-control-sm"
                                                   placeholder="dd/mm/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Address -->
                            <div class="border p-2">
                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Address</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Telephone</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Hand phone</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Communication</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Postal Code</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center">
                                    <div class="col-md-4 text-end text-nowrap">Resident</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- RIGHT -->
                        <div class="col-md-6">

                            <div class="border p-2 mb-2">
                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Login Name</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Password</div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Confirm password</div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Pws expire date</div>
                                    <div class="col-md-4">
                                        <input type="date" class="form-control form-control-sm">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-outline-secondary btn-sm w-100">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Email Address</div>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-1">
                                    <div class="col-md-4 text-end text-nowrap">Cashier status</div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label">Is Cashier</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control form-control-sm" placeholder="Cashier No">
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center">
                                    <div class="col-md-4 text-end text-nowrap">Status</div>
                                    <div class="col-md-8">
                                        <select class="form-select form-select-sm">
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-2">
                                <strong>Application Access Control:</strong>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked>
                                    <label class="form-check-label">Property Management System (PMS)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked>
                                    <label class="form-check-label">Point Of Sale (POS)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked>
                                    <label class="form-check-label">Inventory</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked>
                                    <label class="form-check-label">PBX</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Smart Card</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Booking Online</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="logGridContainer" class="gridContainer mt-2" style="max-height:250px; overflow:auto;"></div>
            </div>
        </div>
    </div>
</div>
<script>

    window.openModalOusm = function () {
        $("#ousm_modal").modal("show");
        ousm_Module.init();
    };

    // Cleanup when main modal closes
    $("#ousm_modal").on("hidden.bs.modal", function () {
        ousm_Module.destroy();
    });

    var ousm_Module = {
         selectedRowData: null,
          init: function () {
            const self = this;

              $(document).ready(async function () {
              self.usersManagementData();
            });

            self.bindEvents();
          },

        bindEvents: function () {
             const self = this;
             $(document).off("click", "#btnPrint").on("click", "#btnPrint", function () {
                 self.usersManagementData();             
             });
             $(document).off("click", "#btnClose").on("click", "#btnClose", function () {
                $("#ousm_modal").modal("hide");
            });
            $("#btnNewUsermana").click(function () {
                initDateInputs();
                $("#popupNewGrid").modal("show");
            });

        },
        usersManagementData:  function () {
             const self = this;
              $("#loadingSpinner").show();
                $.ajax({
                    url: '/Security/UsersManagementData',
                    type: 'GET',
                    data: {
                        lastName: $("#lastName").val(),
                        firstName: $("#firstName").val(),
                        loginName: $("#loginName").val(),
                        userStatus: $("#userStatus").val(),
                        cashierStatus: $("#cashierStatus").val(),
                        jobtitle: $("#jobtitle").val(),
                        department: $("#usergroup").val(),
                    },
                    traditional: true,
                    crossDomain: false,
                    headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                    success: function (result) {
                        // $("#reportViewerContainer").html(result);
                        // $("#loadingSpinner").hide();
                        console.log(result);
                        self.initializeDataGridSearch(result);
                        $("#loadingSpinner").hide();
                    },
                    error: function () {
                        alert("Không th? t?i báo cáo.");
                        $("#loadingSpinner").hide();
                    }
                });
         },

      initializeDataGridSearch: function (data) {
        const self = this;

        $("#gridContainer").dxDataGrid({
            dataSource: data,
            height: 500,

            allowColumnResizing: true,
            columnAutoWidth: true,

            grouping: { autoExpandAll: true },
            groupPanel: { visible: false },

            columns: [
                {
                    dataField: "department",
                    caption: "Department",
                    groupIndex: 0,
                    visible: false,
                    groupCellTemplate: function (container, options) {
                        $("<div>")
                            .text("Department: " + options.value)
                            .css({ fontWeight: "600", fontSize: "14px" })
                            .appendTo(container);
                    }
                },

                { dataField: "statusText", caption: "Status", width: 120 },
                { dataField: "loginName", caption: "Login Name", width: 140 },
                { dataField: "fullName", caption: "Full Name", width: 160 },
                { dataField: "sex", caption: "Sex", width: 80 },

                {
                    dataField: "birthOfDate",
                    caption: "Birth Date",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                    width: 120
                },

                { dataField: "telephone", caption: "Tel", width: 120 },
                { dataField: "handPhone", caption: "Mobile", width: 120 },
                { dataField: "homeAddress", caption: "Home Address", width: 120 },
                { dataField: "resident", caption: "Resident", width: 120 },
                { dataField: "postalCode", caption: "Postal", width: 90 },

                {
                    dataField: "isCashier",
                    caption: "Cashier",
                    width: 100,
                    alignment: "center",
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .dxCheckBox({
                                value: options.value,
                                readOnly: true
                            })
                            .css({
                                transform: "scale(0.85)",
                                margin: "0 auto"
                            })
                            .appendTo(container);
                    }
                },

                { dataField: "jobTitle", caption: "Job Title", width: 160 },
                { dataField: "createBy", caption: "Create By", width: 120 },
                {
                    dataField: "createDate",
                    caption: "Create Date",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                    width: 120
                },
                { dataField: "updateBy", caption: "Update By", width: 120 },
                {
                    dataField: "updateDate",
                    caption: "Update Date",
                    dataType: "date",
                    format: "dd/MM/yyyy",
                    width: 120
                }
            ],

            paging: { pageSize: 25 },
            pager: {
                visible: true,
                allowedPageSizes: [25, 50, "all"],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },

            filterRow: { visible: true, applyFilter: "auto" },
            headerFilter: { visible: true },

            selection: { mode: "single" },
            showBorders: true,

            onRowClick: function (e) {
                self.selectedRowData = e.data;
            }
        });
    }

     }
</script>
