@{
    ViewData["Title"] = "Home Page";
}

<style>
    .note-textarea {
        height: 160px;
    }

    .ts-wrapper .ts-control {
        margin: 0 0 0 -8px !important;
        padding: 0px 0px 0px 5px !important;
    }

    .nav-link {
        color: #009444 !important;
    }

    /* Ensure modals scroll correctly */
    .gridContainer {
        min-height: 200px;
    }

    .mui-card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        min-height: 500px;
        padding: 10px !important;
    }

    .modal-body {
        padding: 0 12px 0 12px !important;
    }

        .modal-body .tab-content .tab-pane {
            padding: 0px;
        }

    .my-2 {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
</style>

<div class="modal fade bd-example-modal-sm" id="pro_index_profileTypeModal" data-bs-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="pro_index_profileTypeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Profile Type</h5>
            </div>
            <div class="modal-body p-2">
                <div class="mb-2 mt-1">
                    <button type="button" class="mui-button mui-button-new" onclick="pro_index_Module.chooseProfileType();">OK</button>
                    <button type="button" class="mui-button mui-button-close" data-bs-dismiss="modal"> Close </button>
                </div>
                <hr class="my-2 pb-1">
                <div class="form-check d-block">
                    <input class=" " type="radio" name="pro_index_inlineRadioOptions" id="pro_index_radio1" value="0" checked>
                    <label class="form-check-label" for="pro_index_radio1"><b>Individual</b></label>
                </div>
                <div class="form-check d-block">
                    <input class=" " type="radio" name="pro_index_inlineRadioOptions" id="pro_index_radio2" value="2">
                    <label class="form-check-label" for="pro_index_radio2"><b>Company</b></label>
                </div>
                <div class="form-check d-block">
                    <input class=" " type="radio" name="pro_index_inlineRadioOptions" id="pro_index_radio3" value="1">
                    <label class="form-check-label" for="pro_index_radio3"><b>Travel Agent</b></label>
                </div>
                <div class="form-check d-block">
                    <input class=" " type="radio" name="pro_index_inlineRadioOptions" id="pro_index_radio4" value="3">
                    <label class="form-check-label" for="pro_index_radio4"><b>Source</b></label>
                </div>
                <div class="form-check d-block">
                    <input class="" type="radio" name="pro_index_inlineRadioOptions" id="pro_index_radio5" value="4">
                    <label class="form-check-label" for="pro_index_radio5"><b>Group</b></label>
                </div>
                <div class="form-check d-block">
                    <input class=" " type="radio" name="pro_index_inlineRadioOptions" id="pro_index_radio6" value="5">
                    <label class="form-check-label" for="pro_index_radio6"><b>Contract</b></label>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var pro_index_Module = {
        profileTypeValue: 0,

        init: function () {
            const self = this;
            this.bindGlobalEvents();

        },

        bindGlobalEvents: function () {
            const self = this;

            window.openModalProIndex = function () {
                initTomSelect(".tomselect-custom");
                initDateInputs();

            };
        },

        chooseProfileType: function () {
            const self = this;
            if (document.activeElement) {
                document.activeElement.blur();
            }
            const radios = document.getElementsByName('pro_index_inlineRadioOptions');
            let selectedType = null;

            for (let i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    selectedType = radios[i].value;
                    break;
                }
            }

            if (selectedType === null) return;

            const url = '/Profile/SearchProfile';
            const modalId = 'pro_search_mainModal';

            ModalManager.load(url, modalId, function() {
                $(".btn-save-profile").off("click").on("click", function() {
                    if (window.pro_search_Module) {
                        window.pro_search_Module.saveProfile(selectedType);
                    }
                });

                $('#pro_index_profileTypeModal').one('hidden.bs.modal', function () {
                    const targetModal = {
                        '0': '#modalProfileIndividual',
                        '2': '#modalProfileCompany',
                        '1': '#modalProfileCompany',
                        '3': '#modalProfileCompany',
                        '4': '#modalProfileGroup',
                        '5': '#modalProfileContact'
                    }[selectedType];

                    if (targetModal) {
                        $(targetModal).modal('show');
                    }
                });

                $('#pro_index_profileTypeModal').modal('hide');

            }, false); 
        },

    };

</script>
