

<div class="modal fade" id="pro_search_mainModal" tabindex="-1" aria-labelledby="pro_search_title" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-full-height">

            <div class="modal-header">
                <h3 class="modal-title" id="pro_search_title">Search Profile</h3>
            </div>

            <div class="modal-body d-flex flex-column" style="height: calc(100vh - 120px);">
                <div class="py-2">
                    <button id="pro_search_btnSearch" class="mui-button mui-button-new">Search</button>
                    <button id="pro_search_btnNew" class="mui-button mui-button-new">New</button>
                    <button id="pro_search_btnEdit" class="mui-button mui-button-new">Edit</button>
                    <button id="pro_search_btnClear" class="mui-button mui-button-new">Clear</button>
                    <button id="pro_search_btnOption" class="mui-button mui-button-new">Option</button>
                    <button class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="mui-card mb-2 bg-light border-0 d-flex flex-column flex-grow-1 overflow-hidden">
                    <div class="p-3 flex-shrink-0 border-bottom">
                        <div class="row g-3 align-items-center">
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtType" class="col-form-label text-end me-2" style="width: 85px;">View By</label>
                                    <select id="pro_search_txtType" class="form-select flex-grow-1 form-select-sm">
                                        <option value="" selected>View by All</option>
                                        <option value="1">Travel Agent</option>
                                        <option value="2">Company</option>
                                        <option value="3">Source</option>
                                        <option value="0">Individual</option>
                                        <option value="4">Group</option>
                                        <option value="5">Contact</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtCity" class="col-form-label text-end me-2" style="width: 85px;">City</label>
                                    <select id="pro_search_txtCity" class="tomselect-custom flex-grow-1"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtArea" class="col-form-label text-end me-2" style="width: 85px;">Area</label>
                                    <select id="pro_search_txtArea" class="form-select flex-grow-1 form-select-sm" disabled>
                                        <option value="value">PMSh The Arena</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check ms-2">
                                    <input type="checkbox" class="me-2" id="pro_search_txtShowSaleInCharge">
                                    <label class="form-check-label shadow-none" for="pro_search_txtShowSaleInCharge" style="font-size: 0.9rem; white-space: nowrap;">
                                        Show Sale In Charge
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 align-items-center">
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtAccount" class="col-form-label text-end me-2" style="width: 85px;">Name</label>
                                    <input type="text" id="pro_search_txtAccount" class="form-control form-control-sm flex-grow-1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtKeyword" class="col-form-label text-end me-2" style="width: 85px;">Keyword</label>
                                    <input type="text" id="pro_search_txtKeyword" class="form-control form-control-sm flex-grow-1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtFirstName" class="col-form-label text-end me-2" style="width: 85px;">First Name</label>
                                    <input type="text" id="pro_search_txtFirstName" class="form-control form-control-sm flex-grow-1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <label for="pro_search_txtCode" class="col-form-label text-end me-2" style="width: 85px;">Code</label>
                                    <input type="text" id="pro_search_txtCode" class="form-control form-control-sm flex-grow-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gridContainer mt-2 d-flex flex-column flex-grow-1 overflow-auto">
                        <div id="pro_search_gridContainer"></div>
                    </div>

                </div>
            </div>    
                  
        </div>
    </div>
</div>

<div class="modal fade managed-modal" tabindex="-1" role="dialog" id="pro_search_modelReservation" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-full-height">
            <div class="modal-header">
                <h5 class="modal-title">Reservation New</h5>
            </div>
            <div class="modal-body">
                <div style="height:1px;background-color:#ececec" class="mt-3"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                <button type="button" class="mui-button mui-button-new">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade managed-modal" id="pro_search_modalOption" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="toolbar-menu mt-2 row" id="pro_search_functionAndOption">
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnChanges">Changes</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnDelete">Delete</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnFuture">Future</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnHistory">History</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnMembership">Memberships</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnMerge">Merge</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnNegRate">Neg.Rates</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnProfileUpdate">Profile Update</a>
                    <a href="#" class="font-semibold col-md-6 mb-1" id="pro_search_btnRelationship">Relationships</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade managed-modal" id="pro_search_modalHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">History</h5>
            </div>
            <div class="modal-body">
                <div class="py-2">
                    <button class="mui-button mui-button-new" onclick="AttachAccompanying();">Attach</button>
                    <button class="mui-button mui-button-new" onclick="detach()">Detach</button>
                    <button class="mui-button mui-button-new" onclick="openModalViewProfile()">Profile</button>
                    <button class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="mui-card mt-2">
                    <div id="pro_search_gridContainerHistory" class="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var pro_search_Module = {
        // --- State ---
        saleInChargeData: [],
        profileID: 0,
        profileType: 0,
        profileName: "",
        gridInstance: null,
        selectedCallback: null,

        // --- Khởi tạo ---
        init: function (callback) {
            this.selectedCallback = callback;
        
            this.bindEvents();
            this.initDOMEvents();
            
            this.loadInitialData();
        
            this.initializeDataGrid();
        },

        initDOMEvents: function () {
            const self = this;
        
            $("#pro_search_btnSearch").on("click", () => self.getAllProfiles());
            $("#pro_search_btnClear").on("click", () => self.clearSearchForm());
            $("#pro_search_btnOption").on("click", () => self.openModalOption());
            $("#pro_search_btnHistory").on("click", () => self.GetProfileHistory());
            $("#pro_search_btnDelete").on("click", () => self.deleteProfile());
            $("#pro_search_btnChanges").on("click", () => self.openChangesModal());
            $("#pro_search_btnFuture").off("click").on("click", () => self.openFutureModal());
            $("#pro_search_btnMembership").off("click").on("click", () => self.openMembershipModal());
            $("#pro_search_btnNegRate").off("click").on("click", () => self.openRateCodeNegotiatedModal());

            $("#pro_search_txtType").on("change", function () {
                self.getAllProfiles();
                const by = $("#pro_search_txtType").val();
                console.log(" view by: "+ by);
            });

            // Nút New của modal SearchProfile
            $("#pro_search_btnNew").click(function () {
                const type = $("#pro_search_txtType").val();

                switch (type) {
                    case "0": // Individual
                        if (typeof openModalIndividual === 'function') {
                            openModalIndividual();
                        }
                        break;

                    case "1": // Travel Agent
                    case "2": // Company
                    case "3": // Source
                        if (typeof openModalCompany === 'function') {
                            openModalCompany(parseInt(type));
                        }
                        break;

                    case "4": // Group
                        if (typeof openModalGroup === 'function') {
                            openModalGroup();
                        }
                        break;

                    case "5": // Contact
                        if (typeof openModalContact === 'function') {
                            openModalContact();
                        }
                        break;

                    default:
                        showToast("Warning","Please choose profile type (View by)",false);
                }
            });

            // Nút edit của modal SearchProfile
            $("#pro_search_btnEdit").click(function () {
                if (!self.profileID || self.profileID <= 0) {
                    showToast("Warning", "Please select a profile to edit", false);
                    return;
                }

                const id = self.profileID;
                const type = String(self.profileType);

                switch (type) {
                    case "0": // Individual
                        ModalManager.load('/Profile/Individual', 'modalIndividual', function() {
                            waitForFunction("pro_ind_Module", () => {
                                window.pro_ind_Module.init();
                                if (window.pro_ind_Module.loadProfileByID) {
                                    setTimeout(() => window.pro_ind_Module.loadProfileByID(id), 300);
                                }
                            });
                        });
                        break;
                    case "1": // Travel Agent
                    case "2": // Company
                    case "3": // Source
                        ModalManager.load('/Profile/Company', 'modalCompany', function() {
                            waitForFunction("pro_com_Module", () => {
                                window.pro_com_Module.init(parseInt(type));
                                if (window.pro_com_Module.loadProfileByID) {
                                    setTimeout(() => window.pro_com_Module.loadProfileByID(id), 300);
                                }
                            });
                        });
                        break;
                    case "4": // Group
                        ModalManager.load('/Profile/Group', 'modalGroup', function() {
                            waitForFunction("pro_gro_Module", () => {
                                window.pro_gro_Module.init();
                                if (window.pro_gro_Module.loadProfileByID) {
                                    setTimeout(() => window.pro_gro_Module.loadProfileByID(id), 300);
                                }
                            });
                        });
                        break;
                    case "5": // Contact
                        ModalManager.load('/Profile/Contact', 'modalContact', function() {
                            waitForFunction("pro_con_Module", () => {
                                window.pro_con_Module.init();
                                if (window.pro_con_Module.loadProfileByID) {
                                    setTimeout(() => window.pro_con_Module.loadProfileByID(id), 300);
                                }
                            });
                        });
                        break;
                    default:
                        showToast("Warning", "Edit logic for this type is under development", false);
                }
            });

        },

        bindEvents: function () {
            const self = this;
            
        },

        loadInitialData: function() {
            initTomSelect('.tomselect-custom');
            const mapCode = (item) => ({
                value: item.id || item.ID,
                text: (item.code || item.Code) + "-" + (item.name || item.Name),
                data: item
            });
            loadDataToTomSelect("#pro_search_txtCity", "/Profile/GetAllCity", mapCode);


        }, 

        getAllProfiles: function () {
            if (this.gridInstance) {
                this.gridInstance.refresh();
            } else {
                this.initializeDataGrid();
            }
        },

        initializeDataGrid: function () {
            const self = this;
            var dataSource = new DevExpress.data.CustomStore({
                key: "id",
                load: function (loadOptions) {
                    var d = $.Deferred();
                    var params = {
                        skip: loadOptions.skip || 0,
                        take: loadOptions.take || 20,
                        code: $('#pro_search_txtCode').val(),
                        account: $('#pro_search_txtAccount').val(),
                        firstName: $('#pro_search_txtFirstName').val(),
                        keyWord: $('#pro_search_txtKeyword').val(),
                        city: $('#pro_search_txtCity').val(),
                        type: $('#pro_search_txtType').val(),
                        showSaleInCharge: $("#pro_search_txtShowSaleInCharge").is(":checked")
                    };

                    $.ajax({
                        url: '/Profile/GetAllProfileTest',
                        type: 'GET',
                        loadingGrid: '#pro_search_gridContainer',
                        dataType: 'json',
                        data: params,
                        cache: false,
                        success: function (result) {
                            d.resolve({
                                data: result.data,
                                totalCount: result.totalCount
                            });
                        },
                        error: function () {
                            d.reject("Error loading data from the server.");
                        }
                    });
                    return d.promise();
                }
            });

            var columnWidth = 150;
            var typeValue = $("#pro_search_txtType").val();

            var taxCodeColumn = {
                dataField: "taxCode",
                caption: "Tax Code",
                width: columnWidth - 30
            };

            // 1. Khởi tạo mảng columns cơ bản
            var columns = [
                { dataField: "id", caption: "ID", width: columnWidth - 80, visible: false },
                { dataField: "code", caption: "Code", width: columnWidth - 50 },
                {
                    dataField: "vip",
                    caption: "Vip",
                    width: columnWidth - 80,
                    visible: typeValue != "1"
                },
                { dataField: "account", caption: "Account", width: columnWidth * 2 },
            ];

            // 2. Thêm Tax Code nếu là Travel Agent (Type 1)
            if (typeValue === "1") {
                columns.push(taxCodeColumn);
            }

            // 3. Ghép các cột thông tin cá nhân/liên lạc
            columns = columns.concat([
                {
                    dataField: "dateOfBirth",
                    caption: "Date Of Birth",
                    width: columnWidth,
                    dataType: "date",
                    format: "dd/MM/yyyy",
                    visible: typeValue != "1",
                    calculateCellValue: function (data) {
                        if (!data.dateOfBirth) return null;
                        // Xử lý format chuỗi dd.MM.yyyy từ server
                        const parts = data.dateOfBirth.split(".");
                        if (parts.length === 3) {
                            return new Date(parts[2], parts[1] - 1, parts[0]);
                        }
                        return data.dateOfBirth;
                    }
                },
                { dataField: "passPort", caption: "PassPort", width: columnWidth, visible: typeValue != "1" },
                { dataField: "identityCard", caption: "Identity Card", width: columnWidth, visible: typeValue != "1" },
                { dataField: "city", caption: "City", width: columnWidth },
                { dataField: "nationality", caption: "Nat", width: columnWidth - 60 },
                { dataField: "address", caption: "Address", width: columnWidth + 50 },
                { dataField: "handPhone", caption: "HandPhone", width: columnWidth },
                { dataField: "telephone", caption: "Telephone", width: columnWidth },
                { dataField: "email", caption: "Email", width: columnWidth },
                { dataField: "website", caption: "Website", width: columnWidth }
            ]);

            // 4. Thêm Tax Code phía sau nếu không phải Type 1
            if (typeValue !== "1") {
                columns.push(taxCodeColumn);
            }

            // 5. Ghép các cột thông tin doanh nghiệp và quản lý
            columns = columns.concat([
                { dataField: "fullAccount", caption: "Company", width: columnWidth },
                { dataField: "homeAddress", caption: "Business Address", width: columnWidth + 30 },
                { dataField: "arNo", caption: "ARNo", width: columnWidth, visible: typeValue == "1" },
                { dataField: "postalCode", caption: "Postal Code", width: columnWidth },
                { dataField: "keyword", caption: "Keyword", width: columnWidth },
                { dataField: "acctContact", caption: "Acct.Contact", width: columnWidth, visible: typeValue == "1" },
                { dataField: "description", caption: "Description", width: columnWidth },
                { dataField: "returnGuest", caption: "Return", width: columnWidth - 60, visible: typeValue != "1" },
                { dataField: "stayNo", caption: "Stay No", width: columnWidth - 60, visible: typeValue != "1" },
                {
                    dataField: "personInChargeID",
                    caption: "Sale In Charge",
                    width: columnWidth,
                    lookup: {
                        dataSource: self.saleInChargeData, // Lấy từ biến của Module
                        valueExpr: "id",
                        displayExpr: function (item) {
                            return item ? item.name : "";
                        }
                    }
                }
            ]);

            // 6. Khởi tạo Grid Instance vào thẻ HTML có prefix
            this.gridInstance = $("#pro_search_gridContainer").dxDataGrid({
                dataSource: dataSource,
                remoteOperations: {
                    paging: true,
                    filtering: false,
                    sorting: false
                },
                columns: columns,
                height: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: { mode: "single" },
                hoverStateEnabled: true,
                paging: { pageSize: 20 },
                pager: {
                    visible: true,
                    showPageSizeSelector: true,
                    allowedPageSizes: [20, 50, 100],
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: {
                    mode: "standard",
                    showScrollbar: "always"
                },
                loadPanel: {
                    enabled: false
                },
                onRowClick: function (e) {
                    self.profileID = e.data.id || e.data.ID;
                    self.profileType = e.data.type !== undefined ? e.data.type : e.data.Type;
                    self.profileName = e.data.account || e.data.Account;

                    console.log("Selected Profile:", self.profileID, "Type:", self.profileType);
                },
                onRowDblClick: function(e) {
                    // Thực thi callback trả dữ liệu về modal gọi nó nếu có
                    if (self.selectedCallback && typeof self.selectedCallback === "function") {
                        self.selectedCallback(e.data);
                        const modalEl = document.getElementById('pro_search_mainModal');
                        const modal = bootstrap.Modal.getInstance(modalEl);
                        if (modal) modal.hide();
                    }
                },
            }).dxDataGrid("instance");
        },

        clearSearchForm: function () {
            $('#pro_search_txtAccount, #pro_search_txtKeyword, #pro_search_txtFirstName, #pro_search_txtCode').val('');
            $('#pro_search_txtType').val('');
            $('#pro_search_txtCity').val(null);
            if ($('#pro_search_txtCity')[0]?.tomselect) {
                $('#pro_search_txtCity')[0].tomselect.clear();
            }
            $("#pro_search_txtShowSaleInCharge").prop("checked", false);
        },

        openModalOption: function() {
            $('#pro_search_modalOption').modal('show');
        },

        // Hàm History (Prefix)
        GetProfileHistory: function () {
            const self = this;
            $.ajax({
                url: '/Profile/SearchProfileHistory',
                data: { profileID: this.profileID },
                success: function (result) {
                    $('#pro_search_modalHistory').modal('show'); // Prefix
                    self.initializeDataGridHistory(result);
                }
            });
        },

        checkFullName: function (options) {
            return new Promise(function (resolve, reject) {
                const { fullNameSelector, firstNameSelector, middleNameSelector, lastNameSelector, salutationSelector, titleSelector, idForm } = options;
                const $fullName = $(fullNameSelector);
                if (!$fullName.length) { resolve(true); return; }
                const input = $fullName.val().trim();
                if (input === '') { resolve(true); return; }

                $.ajax({
                    url: '/Profile/FullNameChange',
                    type: 'POST',
                    dataType: 'json',
                    headers: { "X-CSRF-TOKEN-HEADERNAME": $('input[name="__RequestVerificationToken"]').val() },
                    data: { fullName: input },
                    success: function (res) {
                        if (res && res.success) {
                            $fullName.val(res.fullName);
                            if (firstNameSelector) $(firstNameSelector).val(res.firstName || '');
                            if (middleNameSelector) $(middleNameSelector).val(res.middleName || '');
                            if (lastNameSelector) $(lastNameSelector).val(res.lastName || '');
                            if (salutationSelector) $(salutationSelector).val(res.salutation || '');
                            if (res.titleID && titleSelector) {
                                let select = $(titleSelector)[0]?.tomselect;
                                if (select) select.setValue(res.titleID);
                            }
                            resolve(true);
                        } else {
                            if (typeof applyValidationErrors === "function") applyValidationErrors(res.errors, idForm);
                            resolve(false);
                        }
                    },
                    error: function () { resolve(false); }
                });
            });
        },

        deleteProfile: function () {
            const self = this;
            if (!self.profileID || self.profileID <= 0) {
                showToast("Error", "Please choose 1 profile to delete", false);
                return;
            }
            if (!confirm("Are you sure you want to delete this profile?")) return;

            $.ajax({
                url: '/Profile/DeleteProfile',
                type: 'POST',
                data: { profileID: self.profileID },
                success: function (res) {
                    if (res.success) {
                        showToast("Success", res.message, true);
                        $("#pro_search_modalOption").modal("hide");
                        self.getAllProfiles();
                    } else {
                        showToast("Error", res.message, false);
                    }
                }
            });
        },

        openChangesModal: function () {
            const self = this;

            if (!self.profileID || self.profileID <= 0) {
                showToast("Warning", "Please select a profile first", false);
                return;
            }

            // $("#pro_search_modalOption").modal("hide");

            if (typeof window.openModalChanges === "function") {
                window.openModalChanges(self.profileID);
            }
            else { 
                ModalManager.load('/Profile/Changes', 'modalChanges', function() {
                    waitForFunction("openModalChanges", () => {
                        window.openModalChanges(self.profileID);
                    });
                });
            }
        },

        openFutureModal: function () {
            const self = this;

            if (!self.profileID || self.profileID <= 0) {
                showToast("Warning", "Please select a profile first", false);
                return;
            }

            // $("#pro_search_modalOption").modal("hide");

            ModalManager.load('/Profile/Future', 'modalFuture', function() {
                waitForFunction("openModalFuture", () => {
                    window.openModalFuture(self.profileID, self.profileType);
                });
            });
        },

        openMembershipModal: function () {
            const self = this;

            if (!self.profileID || self.profileID <= 0) {
                showToast("Warning", "Please select a profile first", false);
                return;
            }

            // $("#pro_search_modalOption").modal("hide");

            ModalManager.load('/Profile/Membership', 'modalMembership', function() {
                waitForFunction("openModalMembership", () => {
                    window.openModalMembership(self.profileID, self.profileName);
                });
            });
        },

        openRateCodeNegotiatedModal: function () {
            const self = this;

            if (!self.profileID || self.profileID <= 0) {
                showToast("Warning", "Please select a profile first", false);
                return;
            }

            ModalManager.load('/Profile/RateCodeNegotiated', 'modalRateCodeNegotiated', function() {
                waitForFunction("openModalRateCodeNegotiated", () => {
                    window.openModalRateCodeNegotiated(self.profileID, self.profileName);
                });
            });
        },

        initializeDataGridHistory: function (data) {
            const columnWidth = 150;

            const columns = [
                { dataField: 'ConfirmationNo', caption: 'Conf.No', visible: true, width: columnWidth },
                { dataField: 'CRSNo', caption: 'CRSNo', visible: true, width: columnWidth },
                { dataField: 'ArrivalDate', caption: 'ArrivalDate', visible: true, width: columnWidth, dataType: "date", format: "dd/MM/yyyy" },
                { dataField: 'DepartureDate', caption: 'DepartureDate', visible: true, width: columnWidth, dataType: "date", format: "dd/MM/yyyy" },
                { dataField: 'RoomNo', caption: 'Room', visible: true, width: columnWidth },
                { dataField: 'RoomType', caption: 'Room Type', visible: true, width: columnWidth },
                { dataField: 'Rate', caption: 'Rate', visible: true, width: columnWidth },
                { dataField: 'CurrencyID', caption: 'Currency', visible: true, width: columnWidth },
                { dataField: 'RateCode', caption: 'Rate Code', visible: true, width: columnWidth },
                { dataField: 'NoOfAdult', caption: 'A', visible: true, width: columnWidth },
                { dataField: 'NoOfChild', caption: 'C', visible: true, width: columnWidth },
                { dataField: 'NoOfChild1', caption: 'C1', visible: true, width: columnWidth },
                { dataField: 'NoOfChild2', caption: 'C2', visible: true, width: columnWidth },
                { dataField: 'LastName', caption: 'Guest Name', visible: true, width: columnWidth },
                { dataField: 'BusinessBlockCode', caption: 'Block', visible: true, width: columnWidth },
                { dataField: 'MarketCode', caption: 'Market', visible: true, width: columnWidth },
                { dataField: 'SourceCode', caption: 'Source', visible: true, width: columnWidth },
                { dataField: 'ReservationHolder', caption: 'Reservation Holder', visible: true, width: columnWidth },
                { dataField: 'Status', caption: 'Status', visible: true, width: columnWidth },
                { dataField: 'TotalRevenue', caption: 'Total Rev', visible: true, width: columnWidth },
                { dataField: 'RoomRevenue', caption: 'Room Rev', visible: true, width: columnWidth },
                { dataField: 'FBRevenue', caption: 'F&B Rev', visible: true, width: columnWidth },
                { dataField: 'ExtraRevenue', caption: 'Extra Rev', visible: true, width: columnWidth },
                { dataField: 'NonRevenue', caption: 'Non Rev', visible: true, width: columnWidth },
                { dataField: 'UserInsert', caption: 'Created By', visible: true, width: columnWidth },
                { dataField: 'CreateDate', caption: 'Created On', visible: true, width: columnWidth },
                { dataField: 'UserUpdate', caption: 'Updated By', visible: true, width: columnWidth },
                { dataField: 'UpdateDate', caption: 'Update On', visible: true, width: columnWidth },
            ];

            $("#pro_search_gridContainerHistory").dxDataGrid({
                dataSource: data,
                columns: columns,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: false,
                selection: {
                    mode: "multiple",
                    showCheckBoxesMode: "none"
                },
                paging: { pageSize: 15 },
                pager: {
                    visible: true,
                    allowedPageSizes: [15, 20, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                scrolling: {
                    mode: "standard",
                    showScrollbar: "always"
                },
                onRowClick: function (e) {
                    console.log("History clicked: ");
                }
            });
        },


    };


</script>
