@using DevExpress.XtraReports.UI
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@* <link asp-append-version="true" href="~/css/reservation.css" rel="stylesheet" /> *@

<div class="text-center" id="reportTitle" style="font-size: 20px"></div>
<div class="sticky-header bg-white p-2 shadow-sm z-3">
    <div class="">
        <button id="btnPrint" class="mui-button mui-button-view">View</button>
       
        <button id="btnNewMapTransaction" class="mui-button mui-button-new" type="button"> New </button>
        <button id="btnEditMapTransaction" class="mui-button mui-button-edit" type="button">Edit </button>
        <button id="btnDeleteAppoin" class="mui-button mui-button-delete" type="button">
            Delete
        </button>
        <button id="btnExportExcel" class="mui-button button-report-excel" type="button"> Excel</button>
    </div>
  
</div>

<div class="modal fade" id="popupNewGrid" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header py-2">
                <h5 id="mapTransactionTitle" class="modal-title">New Map Transaction Code</h5>
            </div>

            <!-- BODY -->
            <div class="modal-body p-3">

                <!-- BUTTON -->
                <div class="d-flex gap-2 mb-3">
                    <button class="mui-button mui-button-search">Save</button>
                    <button class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>

                <!-- FORM -->
                <div class="container-fluid">
                    <input type="hidden" id="txtid" name="txtid" />
                    <!-- ROW 1 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">ProfitCenter</label>
                                <div class="col-7">
                                    <input id="profitCenter" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">Tran.Code</label>
                                <div class="col-7">
                                    <input id="transactionCode" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">Description</label>
                                <div class="col-7">
                                    <input id="description" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 2 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">AccountCode</label>
                                <div class="col-7">
                                    <input id="accountCode" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">TK_No</label>
                                <div class="col-7">
                                    <input id="tK_No" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">TK_Co</label>
                                <div class="col-7">
                                    <input id="tK_Co" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 3 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">TK_Co_Deposit</label>
                                <div class="col-7">
                                    <input id="tK_Co_Deposit" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaBP_ACC</label>
                                <div class="col-7">
                                    <input id="maBP_ACC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaDT_ACC</label>
                                <div class="col-7">
                                    <input id="maDT_ACC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 4 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaCN_ACC</label>
                                <div class="col-7">
                                    <input id="maCN_ACC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">PerDT</label>
                                <div class="col-7">
                                    <input id="perDT" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaBCDT</label>
                                <div class="col-7">
                                    <input id="maBCDT" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 5 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaBPDC</label>
                                <div class="col-7">
                                    <input id="maBPDC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="mui-card">
    <div id="gridContainer" class="gridContainer mt-2"></div>
</div>
<div id="loadingSpinner"
     style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
    <i class="fa-solid fa-spinner fa-spin"></i>
</div>
<script>
 
    $(document).ready(function () {

        document.getElementById("reportTitle").innerText = 'Map Transaction Code';

              $("#btnPrint").trigger("click");
    });


    $('#btnClosePopup').click(function () {
       $('#popupNewGrid input').val('');
        $('#txtid').val('');
        $('#attendantPointTitle').text('New Map Transaction Code');
        selectedRowData = null;
    });
       $('#btnNewMapTransaction').click(function () {

             $('#mapTransactionTitle').text('New Map Transaction Code');
        
       
       $('#popupNewGrid').modal('show');;
    });
      function clearMapTransactionForm() {
        $('#popupNewGrid input').val('');
        $('#txtid').val('');
        $('#attendantPointTitle').text('New Map Transaction Code');
        selectedRowData = null;
    }

    $('#btnClosePopup').on('click', clearMapTransactionForm);


    $(document).off("click", "#btnPrint").on("click", "#btnPrint", function () {
        $("#loadingSpinner").show();
        $.ajax({
            url: '/FrontDesk/MapTransactionCodeData',
            type: 'GET',
            data: {
              
            },
            traditional: true,
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                // $("#reportViewerContainer").html(result);
                // $("#loadingSpinner").hide();
                console.log(result);
                initializeMapTransactionGrid(result);
                $("#loadingSpinner").hide();
            },
            error: function () {
                alert("Không th? t?i báo cáo.");
                $("#loadingSpinner").hide();
            }
        });
    });

    let selectedRowData = null;

    function initializeMapTransactionGrid(data) {

        $("#gridContainer").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: true,
            height:500,
            columns: [
                { dataField: "profitCenter", caption: "ProfitCenter", width: "9%" },
                {
                    dataField: "transactionCode",
                    caption: "TransactionCode",
                    width: "9%",
                    sortOrder: "asc",
                    sortIndex: 0,
                    calculateSortValue: function (rowData) {
                        if (rowData.transactionCode === null ||
                            rowData.transactionCode === undefined ||
                            rowData.transactionCode === "") {
                            return Number.MAX_SAFE_INTEGER; // đẩy xuống cuối
                        }
                        return rowData.transactionCode;
                    }
                },

                { dataField: "description", caption: "Description", width: "18%" },

                { dataField: "accountCode", caption: "AccountCode", width: "8%" },
                { dataField: "tK_No", caption: "TK_No", width: "7%" },
                { dataField: "tK_Co", caption: "TK_Co", width: "7%" },
                { dataField: "tK_Co_Deposit", caption: "TK_Co_Deposit", width: "8%" },

                { dataField: "maBP_ACC", caption: "MaBP_ACC", width: "7%" },
                { dataField: "maDT_ACC", caption: "MaDT_ACC", width: "7%" },
                { dataField: "maCN_ACC", caption: "MaCN_ACC", width: "7%" },

                { dataField: "perDT", caption: "PerDT", width: "5%" },
                { dataField: "maBCDT", caption: "MaBCDT", width: "5%" },
                { dataField: "maBPDC", caption: "MaBPDC", width: "6%" }
            ],



            paging: { pageSize: 25 },
            scrolling: {
                useNative: true,
                showScrollbar: "always"
            },
            pager: {
                visible: true,
                allowedPageSizes: [25, 50, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: { visible: true, applyFilter: "auto" },
            headerFilter: { visible: true },
            selection: { mode: "multiple", showCheckBoxesMode: "none" },
            showBorders: true,
            onRowClick: function (e) {
                selectedRowData = e.data; // lưu dòng được chọn
            },


            onRowPrepared: function (e) {
                if (e.rowType === "data") {

                    if (e.data?.isTotal) {
                        e.rowElement.css({
                            "font-weight": "bold",
                            "background-color": "#f6f6f6"
                        });
                    }
                }
            }
        });
    }
     $('#btnEditMapTransaction').on('click', function () {

        if (!selectedRowData) {
            showToast('Warning', 'Please select a row before clicking Edit.', false);
            return;
        }

        // ID (ẩn)
        $('#txtid').val(selectedRowData.id || '');

        // Title
        if (selectedRowData.id) {
            $('#mapTransactionTitle').text('Edit Map Transaction Code');
        } else {
            $('#mapTransactionTitle').text('New Map Transaction Code');
        }

        // ===== GÁN DỮ LIỆU VÀO INPUT =====
        $('#profitCenter').val(selectedRowData.profitCenter ?? '');
        $('#transactionCode').val(selectedRowData.transactionCode ?? '');
        $('#description').val(selectedRowData.description ?? '');

        $('#accountCode').val(selectedRowData.accountCode ?? '');
        $('#tK_No').val(selectedRowData.tK_No ?? '');
        $('#tK_Co').val(selectedRowData.tK_Co ?? '');

        $('#tK_Co_Deposit').val(selectedRowData.tK_Co_Deposit ?? '');
        $('#tK_No_DT').val(selectedRowData.tK_No_DT ?? '');

        $('#maBP_ACC').val(selectedRowData.maBP_ACC ?? '');
        $('#maDT_ACC').val(selectedRowData.maDT_ACC ?? '');
        $('#maCN_ACC').val(selectedRowData.maCN_ACC ?? '');

        $('#perDT').val(selectedRowData.perDT ?? '');
        $('#maBCDT').val(selectedRowData.maBCDT ?? '');
        $('#maBPDC').val(selectedRowData.maBPDC ?? '');

        // ===== SHOW POPUP =====
        $('#popupNewGrid').modal('show');
    });


    $(document).off("click", "#btnDeleteAppoin").on("click", "#btnDeleteAppoin", function () {
        console.log(selectedRowData);
        if (!selectedRowData) {
            showToast('Warning', 'Please select a row before clicking Edit.', false);
            return;
        }



        // Send AJAX
        $.ajax({
            url: '/FrontDesk/DeleteTransactionCode',
            type: 'POST',
            data: {
                ID: selectedRowData.id,

            },
            traditional: true,
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (response) {
                if (response.success) {
                    showToast('Success', response.message, true);
                    $("#btnPrint").trigger("click");
                    selectedRowData = null;
                } else {
                    showToast('Warning', response.message, false);
                }
            },
            error: function () {
                showToast('Warning', response.message, false);
                $("#loadingSpinner").hide();
            }
        });
    });
      $(document).off("click", "#btnSaveAtt").on("click", "#btnSaveAtt", function () {

        const dataPost = {
            ID: $('#txtid').val() || 0,

            ProfitCenter: $('#profitCenter').val() || '',
            TransactionCode: $('#transactionCode').val() || '',
            Description: $('#description').val() || '',

            AccountCode: $('#accountCode').val() || '',
            TK_No: $('#tK_No').val() || '',
            TK_Co: $('#tK_Co').val() || '',

            TK_Co_Deposit: $('#tK_Co_Deposit').val() || '',
            TK_No_DT: $('#tK_No_DT').val() || '',

            MaBP_ACC: $('#maBP_ACC').val() || '',
            MaDT_ACC: $('#maDT_ACC').val() || '',
            MaCN_ACC: $('#maCN_ACC').val() || '',

            PerDT: $('#perDT').val() ? parseInt($('#perDT').val()) : 0,
            MaBCDT: $('#maBCDT').val() || '',
            MaBPDC: $('#maBPDC').val() || ''
        };

        $.ajax({
            url: '/FrontDesk/UpdateMapTransactionCode',
            type: 'POST',
            data: dataPost,
            headers: {
                "X-CSRF-TOKEN-HEADERNAME": $('input[name="__RequestVerificationToken"]').val()
            },
            success: function () {
                if (response && response.success) {
                    showToast('Success', response.message || 'Save successfully.', true);

                    // Đóng popup
                    $('#popupNewGrid').modal('hide');

                    // Clear form
                    clearMapTransactionForm();

                    // Reload / refresh grid nếu cần
                    // reloadMapTransactionGrid();

                } else {
                    showToast('Error', response.message || 'Save failed.', false);
                }
            },
            error: function () {
                showToast('Error', 'Save failed.', false);
            }
        });
    });


    $("#btnExportExcel").click(function () {
        const grid = $("#gridContainer").dxDataGrid("instance");
        var selectedReport = 'MapTransactionCode';
        if (!selectedReport) {
            alert("Vui lòng ch?n báo cáo tru?c khi xu?t Excel.");
            return;
        }

        const workbook = new ExcelJS.Workbook(); const companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
        const worksheet = workbook.addWorksheet("Sheet 1");

        // === T?o header công ty (dòng 1) ===
        worksheet.addRow(['Công ty C? ph?n Gi?i pháp Công ngh? CS-Solution']);
        worksheet.mergeCells('A1:E1');
        worksheet.getRow(1).font = { bold: true };
        worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

        // === Dòng 2: Th?i gian xu?t (ph?i) ===
        const now = new Date();
        const exportDate = now.toLocaleString("vi-VN");
        worksheet.addRow(['', '', '', '', ' ' + exportDate]);
        worksheet.mergeCells('E2:H2');
        worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

        // === Dòng 3–4: Tr?ng
        worksheet.addRow([]);
        worksheet.addRow([]);

        // === Dòng 5: Tên báo cáo ? gi?a ===
        const reportRow = worksheet.addRow(['', '', selectedReport]);
        worksheet.mergeCells('C5:F5');
        reportRow.font = { bold: true, size: 14 };
        reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

        // === Dòng 6: Tr?ng tru?c khi xu?t d? li?u
        worksheet.addRow([]);

        // === Export d? li?u t? DevExtreme (b?t d?u t? dòng 7)
        DevExpress.excelExporter.exportDataGrid({
            component: grid,
            worksheet: worksheet,
            autoFilterEnabled: true,
            topLeftCell: { row: 7, column: 1 } // d? li?u b?t d?u t? dòng 7
        }).then(function () {
            // Footer
            const lastRow = worksheet.lastRow.number + 2;
            worksheet.getCell(`A${lastRow}`).value = "--- END  ---";
            worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
            worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
            worksheet.getCell(`A${lastRow}`).font = { italic: true };

            // Ghi file
            let fileName = selectedReport + ".xlsx";
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
            });
        });
    });
</script>
