@using DevExpress.XtraReports.UI
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@* <link asp-append-version="true" href="~/css/reservation.css" rel="stylesheet" /> *@

<!-- MAIN MODAL -->
<div class="modal fade" id="ara_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-4by3 modal-dialog-centered">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header py-2">
                <h5 class="modal-title" id="ara_reportTitle"></h5>
            </div>

            <!-- BODY -->
            <div class="modal-body p-2">

                <div class="search-filter">
                    <div class="">
                        <button id="ara_btnPrint" class="mui-button mui-button-view">View</button>

                        <button id="ara_btnNewMapTransaction" class="mui-button mui-button-new" type="button"> New
                        </button>
                        <button id="ara_btnEditMapTransaction" class="mui-button mui-button-edit" type="button">Edit
                        </button>
                        <button id="ara_btnDeleteAppoin" class="mui-button mui-button-delete" type="button">
                            Delete
                        </button>
                        <button id="ara_btnExportExcel" class="mui-button button-report-excel"
                                type="button">Excel</button>
                        <button type="button" class="mui-button button-report-excel" data-bs-dismiss="modal"
                                aria-label="Close">Close</button>
                    </div>

                </div>

                <div class="mui-card">
                    <div id="ara_gridContainer" class="gridContainer mt-2"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- POPUP MODAL -->
<div class="modal fade" id="ara_popupNewGrid" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header py-2">
                <h5 id="ara_mapTransactionTitle" class="modal-title">New Map Transaction Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- BODY -->
            <div class="modal-body p-3">

                <!-- BUTTON -->
                <div class="d-flex gap-2 mb-3">
                    <button id="ara_btnSaveAtt" class="mui-button mui-button-search">Save</button>
                    <button id="ara_btnClosePopup" class="mui-button mui-button-new"
                            data-bs-dismiss="modal">Close</button>
                </div>

                <!-- FORM -->
                <div class="container-fluid">
                    <input type="hidden" id="ara_txtid" name="ara_txtid" />

                    <!-- ROW 1 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">ProfitCenter</label>
                                <div class="col-7">
                                    <input id="ara_profitCenter" name="ara_profitCenter"
                                           class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">Tran.Code</label>
                                <div class="col-7">
                                    <input id="ara_transactionCode" name="ara_transactionCode"
                                           class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">Description</label>
                                <div class="col-7">
                                    <input id="ara_description" name="ara_description"
                                           class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 2 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">AccountCode</label>
                                <div class="col-7">
                                    <input id="ara_accountCode" name="ara_accountCode"
                                           class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">TK_No</label>
                                <div class="col-7">
                                    <input id="ara_tK_No" name="ara_tK_No" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">TK_Co</label>
                                <div class="col-7">
                                    <input id="ara_tK_Co" name="ara_tK_Co" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 3 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">TK_Co_Deposit</label>
                                <div class="col-7">
                                    <input id="ara_tK_Co_Deposit" name="ara_tK_Co_Deposit"
                                           class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaBP_ACC</label>
                                <div class="col-7">
                                    <input id="ara_maBP_ACC" name="ara_maBP_ACC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaDT_ACC</label>
                                <div class="col-7">
                                    <input id="ara_maDT_ACC" name="ara_maDT_ACC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 4 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaCN_ACC</label>
                                <div class="col-7">
                                    <input id="ara_maCN_ACC" name="ara_maCN_ACC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">PerDT</label>
                                <div class="col-7">
                                    <input id="ara_perDT" name="ara_perDT" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaBCDT</label>
                                <div class="col-7">
                                    <input id="ara_maBCDT" name="ara_maBCDT" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 5 -->
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="row g-2 align-items-center">
                                <label class="col-5 col-form-label">MaBPDC</label>
                                <div class="col-7">
                                    <input id="ara_maBPDC" name="ara_maBPDC" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ara_loadingSpinner"
     style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
    <i class="fa-solid fa-spinner fa-spin"></i>
</div>

<script>
    var ara_Module = {

        postingGrid: null,
        selectedRowData: null,

        init: function () {

            document.getElementById("ara_reportTitle").innerText = 'Map Transaction Code';

            $("#ara_btnPrint").trigger("click");

            this.bindEvents();
        },

        destroy: function () {

            try {
                const gridInstance = $("#ara_gridContainer").dxDataGrid("instance");
                if (gridInstance) {
                    gridInstance.dispose();
                }
            } catch (e) {
                // keep silent
            }

            try {
                $("#ara_gridContainer").empty();
            } catch (e) {
                // keep silent
            }

            this.postingGrid = null;
            this.selectedRowData = null;
        },

        clearMapTransactionForm: function () {
            $('#ara_popupNewGrid input').val('');
            $('#ara_txtid').val('');
            $('#ara_attendantPointTitle').text('New Map Transaction Code');
            ara_Module.selectedRowData = null;
        },

        initializeMapTransactionGrid: function (data) {

            $("#ara_gridContainer").dxDataGrid({
                dataSource: data,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 500,
                columns: [
                    { dataField: "profitCenter", caption: "ProfitCenter", width: 120 },
                    {
                        dataField: "transactionCode",
                        caption: "Trans. Code",
                        width: 100,
                        sortOrder: "asc",
                        sortIndex: 0,
                        calculateSortValue: function (rowData) {
                            if (!rowData.transactionCode) return Number.MAX_SAFE_INTEGER;
                            return rowData.transactionCode;
                        }
                    },
                    // Cột này KHÔNG để width để nó tự giãn phủ nốt 100% màn hình
                    { dataField: "description", caption: "Description", minWidth: 250,width:300 },

                    { dataField: "accountCode", caption: "Acc. Code", width: 90 },
                    { dataField: "tK_No", caption: "TK_No", width: 70 },
                    { dataField: "tK_Co", caption: "TK_Co", width: 70 },
                    { dataField: "tK_Co_Deposit", caption: "TK_Co_Deposit", width: 120 },

                    { dataField: "maBP_ACC", caption: "MaBP_ACC", width: 100 },
                    { dataField: "maDT_ACC", caption: "MaDT_ACC", width: 100 },
                    { dataField: "maCN_ACC", caption: "MaCN_ACC", width: 100 },

                    { dataField: "perDT", caption: "PerDT", width: 70 },
                    { dataField: "maBCDT", caption: "MaBCDT", width: 80 },
                    { dataField: "maBPDC", caption: "MaBPDC", width: 80 }
                ],
                paging: { pageSize: 25 },
                scrolling: {
                    useNative: true,
                    showScrollbar: "always"
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [25, 50, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                filterRow: { visible: true, applyFilter: "auto" },
                headerFilter: { visible: true },
                selection: { mode: "multiple", showCheckBoxesMode: "none" },
                showBorders: true,
                onRowClick: function (e) {
                    ara_Module.selectedRowData = e.data; // lưu dòng được chọn
                },

                onRowPrepared: function (e) {
                    if (e.rowType === "data") {

                        if (e.data?.isTotal) {
                            e.rowElement.css({
                                "font-weight": "bold",
                                "background-color": "#f6f6f6"
                            });
                        }
                    }
                }
            });
        },

        bindEvents: function () {

            $(document).ready(function () {

                document.getElementById("ara_reportTitle").innerText = 'Map Transaction Code';

                $("#ara_btnPrint").trigger("click");
            });

            $('#ara_btnClosePopup').click(function () {
                $('#ara_popupNewGrid input').val('');
                $('#ara_txtid').val('');
                $('#ara_attendantPointTitle').text('New Map Transaction Code');
                ara_Module.selectedRowData = null;
            });

            $('#ara_btnNewMapTransaction').click(function () {

                $('#ara_mapTransactionTitle').text('New Map Transaction Code');

                $('#ara_popupNewGrid').modal('show');;
            });

            function clearMapTransactionForm() {
                $('#ara_popupNewGrid input').val('');
                $('#ara_txtid').val('');
                $('#ara_attendantPointTitle').text('New Map Transaction Code');
                ara_Module.selectedRowData = null;
            }

            $('#ara_btnClosePopup').on('click', clearMapTransactionForm);

            $(document).off("click", "#ara_btnPrint").on("click", "#ara_btnPrint", function () {
                $("#ara_loadingSpinner").show();
                $.ajax({
                    url: '/FrontDesk/MapTransactionCodeData',
                    type: 'GET',
                    data: {

                    },
                    traditional: true,
                    crossDomain: false,
                    headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                    success: function (result) {
                        // $("#reportViewerContainer").html(result);
                        // $("#loadingSpinner").hide();
                        console.log(result);
                        ara_Module.initializeMapTransactionGrid(result);
                        $("#ara_loadingSpinner").hide();
                    },
                    error: function () {
                        alert("Không th? t?i báo cáo.");
                        $("#ara_loadingSpinner").hide();
                    }
                });
            });

            $('#ara_btnEditMapTransaction').on('click', function () {

                if (!ara_Module.selectedRowData) {
                    showToast('Warning', 'Please select a row before clicking Edit.', false);
                    return;
                }

                // ID (ẩn)
                $('#ara_txtid').val(ara_Module.selectedRowData.id || '');

                // Title
                if (ara_Module.selectedRowData.id) {
                    $('#ara_mapTransactionTitle').text('Edit Map Transaction Code');
                } else {
                    $('#ara_mapTransactionTitle').text('New Map Transaction Code');
                }

                // ===== GÁN DỮ LIỆU VÀO INPUT =====
                $('#ara_profitCenter').val(ara_Module.selectedRowData.profitCenter ?? '');
                $('#ara_transactionCode').val(ara_Module.selectedRowData.transactionCode ?? '');
                $('#ara_description').val(ara_Module.selectedRowData.description ?? '');

                $('#ara_accountCode').val(ara_Module.selectedRowData.accountCode ?? '');
                $('#ara_tK_No').val(ara_Module.selectedRowData.tK_No ?? '');
                $('#ara_tK_Co').val(ara_Module.selectedRowData.tK_Co ?? '');

                $('#ara_tK_Co_Deposit').val(ara_Module.selectedRowData.tK_Co_Deposit ?? '');
                $('#ara_tK_No_DT').val(ara_Module.selectedRowData.tK_No_DT ?? '');

                $('#ara_maBP_ACC').val(ara_Module.selectedRowData.maBP_ACC ?? '');
                $('#ara_maDT_ACC').val(ara_Module.selectedRowData.maDT_ACC ?? '');
                $('#ara_maCN_ACC').val(ara_Module.selectedRowData.maCN_ACC ?? '');

                $('#ara_perDT').val(ara_Module.selectedRowData.perDT ?? '');
                $('#ara_maBCDT').val(ara_Module.selectedRowData.maBCDT ?? '');
                $('#ara_maBPDC').val(ara_Module.selectedRowData.maBPDC ?? '');

                // ===== SHOW POPUP =====
                $('#ara_popupNewGrid').modal('show');
            });

            $(document).off("click", "#ara_btnDeleteAppoin").on("click", "#ara_btnDeleteAppoin", function () {
                console.log(ara_Module.selectedRowData);
                if (!ara_Module.selectedRowData) {
                    showToast('Warning', 'Please select a row before clicking Edit.', false);
                    return;
                }

                // Send AJAX
                $.ajax({
                    url: '/FrontDesk/DeleteTransactionCode',
                    type: 'POST',
                    data: {
                        ID: ara_Module.selectedRowData.id,

                    },
                    traditional: true,
                    crossDomain: false,
                    headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                    success: function (response) {
                        if (response.success) {
                            showToast('Success', response.message, true);
                            $("#ara_btnPrint").trigger("click");
                            ara_Module.selectedRowData = null;
                        } else {
                            showToast('Warning', response.message, false);
                        }
                    },
                    error: function () {
                        showToast('Warning', response.message, false);
                        $("#ara_loadingSpinner").hide();
                    }
                });
            });

            $(document).off("click", "#ara_btnSaveAtt").on("click", "#ara_btnSaveAtt", function () {

                const dataPost = {
                    ID: $('#ara_txtid').val() || 0,

                    ProfitCenter: $('#ara_profitCenter').val() || '',
                    TransactionCode: $('#ara_transactionCode').val() || '',
                    Description: $('#ara_description').val() || '',

                    AccountCode: $('#ara_accountCode').val() || '',
                    TK_No: $('#ara_tK_No').val() || '',
                    TK_Co: $('#ara_tK_Co').val() || '',

                    TK_Co_Deposit: $('#ara_tK_Co_Deposit').val() || '',
                    TK_No_DT: $('#ara_tK_No_DT').val() || '',

                    MaBP_ACC: $('#ara_maBP_ACC').val() || '',
                    MaDT_ACC: $('#ara_maDT_ACC').val() || '',
                    MaCN_ACC: $('#ara_maCN_ACC').val() || '',

                    PerDT: $('#ara_perDT').val() ? parseInt($('#ara_perDT').val()) : 0,
                    MaBCDT: $('#ara_maBCDT').val() || '',
                    MaBPDC: $('#ara_maBPDC').val() || ''
                };

                $.ajax({
                    url: '/FrontDesk/UpdateMapTransactionCode',
                    type: 'POST',
                    data: dataPost,
                    headers: {
                        "X-CSRF-TOKEN-HEADERNAME": $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function () {
                        if (response && response.success) {
                            showToast('Success', response.message || 'Save successfully.', true);

                            // Đóng popup
                            $('#ara_popupNewGrid').modal('hide');

                            // Clear form
                            clearMapTransactionForm();

                            // Reload / refresh grid nếu cần
                            // reloadMapTransactionGrid();

                        } else {
                            showToast('Error', response.message || 'Save failed.', false);
                        }
                    },
                    error: function () {
                        showToast('Error', 'Save failed.', false);
                    }
                });
            });

            $("#ara_btnExportExcel").click(function () {
                const grid = $("#ara_gridContainer").dxDataGrid("instance");
                var selectedReport = 'MapTransactionCode';
                if (!selectedReport) {
                    showToast('Error', 'Please select the report before exporting to Excel.', false);
                    return;
                }

                const workbook = new ExcelJS.Workbook(); const companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
                const worksheet = workbook.addWorksheet("Sheet 1");

                // === T?o header công ty (dòng 1) ===
                worksheet.addRow(['Công ty C? ph?n Gi?i pháp Công ngh? CS-Solution']);
                worksheet.mergeCells('A1:E1');
                worksheet.getRow(1).font = { bold: true };
                worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

                // === Dòng 2: Th?i gian xu?t (ph?i) ===
                const now = new Date();
                const exportDate = now.toLocaleString("vi-VN");
                worksheet.addRow(['', '', '', '', ' ' + exportDate]);
                worksheet.mergeCells('E2:H2');
                worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

                // === Dòng 3–4: Tr?ng
                worksheet.addRow([]);
                worksheet.addRow([]);

                // === Dòng 5: Tên báo cáo ? gi?a ===
                const reportRow = worksheet.addRow(['', '', selectedReport]);
                worksheet.mergeCells('C5:F5');
                reportRow.font = { bold: true, size: 14 };
                reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

                // === Dòng 6: Tr?ng tru?c khi xu?t d? li?u
                worksheet.addRow([]);

                // === Export d? li?u t? DevExtreme (b?t d?u t? dòng 7)
                DevExpress.excelExporter.exportDataGrid({
                    component: grid,
                    worksheet: worksheet,
                    autoFilterEnabled: true,
                    topLeftCell: { row: 7, column: 1 } // d? li?u b?t d?u t? dòng 7
                }).then(function () {
                    // Footer
                    const lastRow = worksheet.lastRow.number + 2;
                    worksheet.getCell(`A${lastRow}`).value = "--- END  ---";
                    worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
                    worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
                    worksheet.getCell(`A${lastRow}`).font = { italic: true };

                    // Ghi file
                    let fileName = selectedReport + ".xlsx";
                    workbook.xlsx.writeBuffer().then(function (buffer) {
                        saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
                    });
                });
            });
        }
    };

    // Global entry points
    window.openModalAra = function () {
        ara_Module.init();
        $("#ara_modal").modal("show");
    };

    window.openModalAraAuto = function () {
        ara_Module.init();
        $("#ara_modal").modal("show");
    };

    // Auto cleanup: any modal id starts with ara_
    $(document).on("hidden.bs.modal", function (e) {
        const modalId = e.target && e.target.id ? e.target.id : "";
        if (modalId.startsWith("ara_")) {
            ara_Module.destroy();
        }
    });

</script>