@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" /> *@
@* <div class="header mt-2" style="border-bottom:none;justify-content:center">
    <h3 id="content-title">
        Search Reservation
    </h3>
</div> *@

<style>

</style>
<div class="mt-1">
    <div class="row">
        <!-- Menu trái -->
        <div class="col-md-3 mb-2" id="leftMenu">
            <!-- Filter -->
            <div class="mui-card px-3">
                <div class="header" style="justify-content:space-between">
                    <div class="header2">
                        <i class="fa-solid fa-sliders" style="background-color:#027C75;color:white;padding:4px"></i>
                        <h3 id="content-title">
                            Filter
                        </h3>
                        <i class="fa-solid fa-caret-down" id="caretDownFilter" onclick="clickCaretDownFilter();"
                           data-tooltip="Click to show filter"></i>
                        <i class="fa-solid fa-caret-up" id="caretUpFilter" onclick="clickCaretUpFilter();"
                            data-tooltip="Click to hide filter"></i>
                    </div>
                    <div class="header2">
                        <span data-tooltip="Search"><i class="fa-solid fa-magnifying-glass" id="btnSearchResv" onclick="searchReservation();" style="cursor:pointer;"></i></span>
                    </div>
                </div>
                <div id="filter" class="tab-pane">
                    <div class="row g-2">

                        <!-- Arr From -->
                        <div class="col-12 col-md-6">
                            <label>Arr.From</label>
                            <div class="d-flex align-items-center gap-2">
                                <input type="checkbox" id="chooseFromDate" checked>
                                <div class="flex-grow-1" data-date-input data-format="DD/MM/YYYY" data-name="arrivalForm">
                                    <input type="text" class="date-ui form-control" placeholder="dd/mm/yyyy" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <!-- Arr To -->
                        <div class="col-12 col-md-6">
                            <label>Arr.To</label>
                            <div class="d-flex align-items-center gap-2">
                                <input type="checkbox" id="chooseToDate" checked>
                                <div class="flex-grow-1" data-date-input data-format="DD/MM/YYYY" data-name="departureForm">
                                    <input type="text" class="date-ui form-control" placeholder="dd/mm/yyyy" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <!-- Hidden First Name -->
                        <div class="col-12 col-md-6 d-none">
                            <label>First Name</label>
                            <input type="text" id="firstName" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Name</label>
                            <input type="text" id="name" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Owner</label>
                            <select id="owner" class="">
                                <option value="">--All--</option>
                                <option value="--Hotel--">--Hotel--</option>
                                <option value="--Owner--">--Owner--</option>
                            </select>
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Conf. No</label>
                            <input type="text" id="confirmationNo" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Resv. No</label>
                            <input type="text" id="resvHolder" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>CRS No/GC</label>
                            <input type="text" id="crsNo" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Search Type</label>
                            <select id="searchType" class="">
                                <option value="0">General</option>
                                <option value="1">Guest In House</option>
                                <option value="2">Reservation</option>
                                <option value="3">Due In</option>
                                <option value="4">Checked In</option>
                                <option value="5">Due Out</option>
                                <option value="6">Checked Out</option>
                                <option value="7">Cancellations</option>
                                <option value="8">No show</option>
                                <option value="9">Wait List</option>
                                <option value="10">Day use</option>
                                <option value="11">Complementary</option>
                                <option value="12">Arrival & Checked In Today</option>
                                <option value="13">Checked Out Today</option>
                                <option value="14">All Reservation</option>
                            </select>
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Package</label>
                            <input type="text" id="package" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Zone</label>
                            <select id="zone" asp-items="ViewBag.cboZone" class=""></select>
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Room No</label>
                            <input type="text" id="roomNo" class="form-control">
                        </div>

                        <div class="col-12 col-md-6">
                            <label>Room Type</label>
                            <select id="roomType" asp-items="ViewBag.cboRoomType" class=""></select>
                        </div>

                        <!-- Checkboxes -->
                        <div class="col-12 col-md-6 d-flex align-items-center gap-2 mt-2 pb-2">
                            <input type="checkbox" id="reservationOnline" name="reservationOnline" value="1">
                            <label class="mb-0">Rsv Online</label>
                        </div>

                        <div class="col-12 col-md-6 d-flex align-items-center gap-2 mt-2 pb-2">
                            <input type="checkbox" id="roomShare" name="roomShare" value="IncludeRS" checked>
                            <label class="mb-0">Room Sharer</label>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Function and Options -->
            <div class="mui-card mt-1 px-3">
                <div class="header">
                    <i class="fa-solid fa-sliders" style="background-color:#027C75;color:white;padding:4px"></i>
                    <h3 id="content-title">
                        Functions & Options
                    </h3>
                    <i class="fa-solid fa-caret-down" id="caretDownFunctionAndOption"
                       onclick="clickCaretDownFunctionAndOption();" data-tooltip="Click to show funtions and options"></i>
                    <i class="fa-solid fa-caret-up" id="caretUpFunctionAndOption"
                       onclick="clickCaretUpFunctionAndOption();" data-tooltip="Click to hide funtions and options"></i>
                </div>
                <div class="toolbar-menu mt-2 row text-start" id="functionAndOption">
                    @*                     <div class="dropdown relative col-md-4 mb-1" style="padding:0">
                        <a href="#" class="menu-toggle font-semibold">CO</a>
                        <div class="submenu absolute z-10 mt-2">
                            <a href="#" onclick="openModalCheckOutAll(1);" id="assignRoom">C/O All</a>
                            <a href="#" onclick="openModalCheckOutAll(2);" id="unAssignRoom">C/O Zero</a>
                            <a href="#" onclick="openModalCheckOut();" id="unAssignRoom">C/O</a>
                        </div>
                    </div> *@
                    @*                     <div class="dropdown relative col-md-4 mb-1" style="padding:0">
                        <a href="#" class="menu-toggle font-semibold">Rm.Assg</a>
                        <div class="submenu absolute z-10 mt-2">
                            <a href="#" onclick="openRoomAssignment();" id="assignRoom">Assignment</a>
                            <a href="#" onclick="openConfirmRoomUnAssign();" id="unAssignRoom">UnAssign</a>
                        </div>
                    </div> *@
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start js-checkout-bulk" onclick="openModalCheckOutAll(1);"
                        id="btnSearchResCheckoutAll">C/O All</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start js-checkout-bulk" onclick="openModalCheckOutAll(2);"
                        id="btnSearchResCheckoutZero">C/O Zero</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start js-checkout-single" onclick="openModalCheckOut();"
                        id="btnSearchResCheckoutSingle">C/O</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openRoomAssignment();"
                        id="assign">Assignment</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openConfirmRoomUnAssign();"
                        id="unAssign">UnAssign</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" id="btnSearchRessAdvance">Advance</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start">Clear</a>
                    <a href="#" onclick="editBooking();" class="font-semibold col-md-4 mb-1 text-start">Edit</a>
                    <a href="#" onclick="openModalCancel()" class="font-semibold col-md-4 mb-1 text-start">Cancel</a>
                    <a href="#" onclick="openConfirmReinstate();"
                        class="font-semibold col-md-4 mb-1 text-start" id="btnSearchResReinstate">Reinstate</a>
                    <a href="#" onclick="checkIn();" class="font-semibold col-md-4 mb-1 text-start">Check In</a>
                    <a href="#" onclick="openIndividualFromSearchReservation();"
                        class="font-semibold col-md-4 mb-1 text-start">Individual</a>
                    <a href="#" id="groupAdmin" class="font-semibold col-md-4 mb-1 text-start"
                        onclick="openGroupAdmin();">Grp Admin</a>
                    <a href="#" onclick="openModalSplit();" class="font-semibold col-md-4 mb-1 text-start">Split</a>
                    <a href="#" onclick="openModalAccompanying();"
                        class="font-semibold col-md-4 mb-1 text-start">Accompany</a>
                    <a href="#" onclick="openModalAddOn();" class="font-semibold col-md-4 mb-1 text-start">Add On</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openModalAlerts()">Alerts</a>
                    <a href="#" onclick="openModalBilling();" class="font-semibold col-md-4 mb-1 text-start">Billing</a>
                    <a onclick="openModalInvoicing();" class="font-semibold col-md-4 mb-1 text-start">Invoicing</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openModalChanges();">Changes</a>
                    <a href="#" onclick="openModalShare();" class="font-semibold col-md-4 mb-1 text-start">Share</a>
                    <a href="#" onclick="openModalDeposit();" class="font-semibold col-md-4 mb-1 text-start">Dep/DXL</a>
                    <a href="#" onclick="openModalFixedCharges();"
                        class="font-semibold col-md-4 mb-1 text-start">FixedCharges</a>
                    <a href="#" onclick="openConfirm();" class="font-semibold col-md-4 mb-1 text-start">Delete</a>
                    <a href="#" onclick="openModalMessage();" class="font-semibold col-md-4 mb-1 text-start">Message</a>
                    <a href="#" onclick="openModalRegistrationCard();"
                        class="font-semibold col-md-4 mb-1 text-start">Regis.Card</a>
                    <a href="#" onclick="openRoomMove();" class="font-semibold col-md-4 mb-1 text-start">Room Move</a>
                    <a href="#" onclick="openModalRouting();" class="font-semibold col-md-4 mb-1 text-start">Routing</a>
                    <a href="#" onclick="openModalWaitList();"
                        class="font-semibold col-md-4 mb-1 text-start">WaitList</a>
                    <a href="#" onclick="openModalTraces();" class="font-semibold col-md-4 mb-1 text-start">Traces</a>
                    <a href="#" onclick="LoadConfirmationLetter();"
                        class="font-semibold col-md-4 mb-1 text-start">Confirmation Letter</a>
                    <a href="#" onclick="openModalWakeupCall();" class="font-semibold col-md-4 mb-1 text-start">Wake up
                        Call</a>


                </div>
            </div>
        </div>
        <!-- Nội dung bên phải -->
        <div class="col-md-9 bg-white px-0" id="rightContent">
            <div class="header px-3" style="border:none;display:flex;justify-content:space-between">
                <h3 id="content-title">
                    Search reservation
                </h3>
                <div class="mb-2" style="display:flex;column-gap:4px">
                    <div class="box-function" onclick="toggleLeftMenu();" id="toggleLeftWrapper">
                        <i class="fa-solid fa-filter-circle-xmark" id="toggleLeftMenu"></i>
                    </div>
                    <div class="box-function" id="setttingGrid" onclick="openVisibleColumns();"><i class="fa-solid fa-gear"></i></div>
                    <div class="box-function" id="exportExcelReservation" onclick="exportExcel();"><i class="fa-solid fa-file-excel"></i></div>


                </div>
            </div>
            <div class="content-right">
                <div class="mui-card px-3">
                    <div class="row">
                        <div class="col-md-8">


                            <div class="toolbar-menu max-w-7xl row" id="functionAndOptionTable"
                                style="display:none;column-gap:4px">
                                <a href="#" class="font-semibold col-md-2 mb-2"
                                    style="background-color:white;color:black;border: 1px solid #009444;border-radius: 4px !important;"
                                    id="resv_btnPostingBilling">Billing</a>
                                <a href="#" class="font-semibold col-md-2 mb-2"
                                    style="background-color:white;color:black;border: 1px solid #009444;border-radius: 4px !important;"
                                   onclick="openModalPackage();" id="resv_btnPackage">Packages</a>
                                <a href="#" class="font-semibold col-md-2 mb-2"
                                    style="background-color:white;color:black;border: 1px solid #009444;border-radius: 4px !important;"
                                   onclick="openModalDeposit();" id="resv_btnDeposit">Dep/DXL</a>
                                <a href="#" class="font-semibold col-md-2 mb-2"
                                    style="background-color:white;color:black;border: 1px solid #009444;border-radius: 4px !important;"
                                   onclick="editBooking();" id="resv_btnEdit">Edit</a>
                                <a href="#" id="groupAdmin" class="font-semibold col-md-2 mb-2"
                                    onclick="openGroupAdmin();" 
                                    style="border-radius: 4px !important;background-color:white;color:black;border: 1px solid #009444;">Gr.Admin</a>
                                <a href="#" class="font-semibold col-md-2 mb-2" onclick="openRoomAssignment();"
                                    id="resv_assignRoom"
                                    style="border-radius: 4px !important;background-color:white;color:black;border: 1px solid #009444;">Assign</a>
                                <a href="#" onclick="openModalSplit();" class="font-semibold col-md-2 mb-2" id="resv_btnSplit"
                                    style="border-radius: 4px !important;background-color:white;color:black;border: 1px solid #009444;">Split</a>
                                <a href="#" onclick="checkIn();" class="font-semibold col-md-2 mb-2" id="resv_btnCheckIn"
                                    style="border-radius: 4px !important;background-color:white;color:black;border: 1px solid #009444;">Check
                                    In</a>
                                <a href="#" class="font-semibold col-md-2 mb-2 js-checkout-single" onclick="openModalCheckOut();"
                                    id="resv_checkoutSingle"
                                    style="border-radius: 4px !important;background-color:white;color:black;border: 1px solid #009444;">C/O</a>


                            </div>
                        </div>
                        <div class="col-md-4" id="cmt_wrapper">
                        </div>
                    </div>

                    <div id="loadingSpinnerForm" style="display: none; text-align: center; padding: 20px;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <!-- DevExtreme DataGrid -->
                    <div id="gridContainer" class="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="columnOffcanvas" aria-labelledby="columnOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="columnOffcanvasLabel">Select column to add into grid</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color:#f5f5f5;margin:0 5px">
        <div class="d-flex justify-content-end mb-2">
            <button type="button" class="mui-button mui-button-new" id="addSelectedColumns">Add</button>
            <button type="button" class="mui-button mui-button-new" id="clearSelectedColumns">Clear</button>
        </div>
        <div id="columnList" class="row">
            <!-- Các cột sẽ được tạo động -->
        </div>
    </div>
</div>
<!-- Modal cancel-->
<div class="modal fade modal" id="modalCancel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cancel</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <button class="mui-button mui-button-search" onclick="CancelReservation();"> OK</button>
                    <button class="mui-button mui-button-clear" onclick="closeModalCancel();">Close</button>
                </div>
                <div class="row g-2 mt-1 mb-2">
                    <div class="col-12">
                        <div class="row g-2 align-items-center">
                            <label class="col-md-3 col-form-label col-form-label-sm text-md-end"
                                    for="reasonCancel">Reason</label>
                            <div class="col-md-8">
                                <select id="reasonCancel" class="col-md-10" asp-items="ViewBag.cboReason"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-2 align-items-center justify-content-center">
                            <div class="col-6">
                                <textarea class="form-control" id="descriptionCancel" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <div class="fw-bold small">Rate Codes</div>
                    <div id="cancel_grid" class="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="overlay"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999; pointer-events: auto;">
    <div
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px;">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span>Processing</span>
    </div>
</div>
@await Html.PartialAsync("Options/Deposit")
@await Html.PartialAsync("Options/RoomMove")
@await Html.PartialAsync("Options/Message")
@await Html.PartialAsync("Options/Accompanying")
@await Html.PartialAsync("Options/FixedCharges")
@await Html.PartialAsync("Options/RegistrationCard")
@await Html.PartialAsync("Options/CheckIn")
@await Html.PartialAsync("Options/Billing")
@await Html.PartialAsync("Options/Invoicing")
@await Html.PartialAsync("Options/AddOn")
@await Html.PartialAsync("Options/Routing")
@await Html.PartialAsync("Options/Cancel")
@await Html.PartialAsync("Options/Delete")
@await Html.PartialAsync("Options/Share")
@await Html.PartialAsync("Options/Reinstate")
@await Html.PartialAsync("Options/Split")
@await Html.PartialAsync("Options/RoomAssignment")
@await Html.PartialAsync("Options/ViewProfile")
@await Html.PartialAsync("Options/WaitList")
@await Html.PartialAsync("Options/CheckOutAll")
@await Html.PartialAsync("Options/CheckOutZero")
@await Html.PartialAsync("Options/Packages")
@await Html.PartialAsync("Options/CheckOut")
@await Html.PartialAsync("Options/Alerts")
@await Html.PartialAsync("Options/Traces")
@await Html.PartialAsync("Options/Changes")
@await Html.PartialAsync("Options/WakeUpCall")
@await Html.PartialAsync("ModalNewReservation/ModalSearchRoom")
@await Html.PartialAsync("~/Views/Reservation/GroupAdmin.cshtml")

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>

<script>
    function toggleLeftMenu() {
        const leftMenu = $('#leftMenu');
        const rightContent = $('#rightContent');
        const toggleIcon = $('#toggleLeftMenu');
        const toggleLeftWrapper = $('#toggleLeftWrapper');

        // Kiểm tra trạng thái hiện tại (nếu đang ẩn thì chuẩn bị hiện và ngược lại)
        const isCurrentlyVisible = leftMenu.is(':visible');

        if (isCurrentlyVisible) {
            leftMenu.hide();
            rightContent.removeClass('col-md-9 col-md-8').addClass('col-md-12');
            toggleIcon.removeClass('fa-solid fa-filter-circle-xmark').addClass('fa-solid fa-filter');

            // Cập nhật tooltip thành "Hiện"
            toggleLeftWrapper.attr('data-tooltip', 'Show left menu');
        } else {
            leftMenu.show();
            rightContent.removeClass('col-md-12 col-md-8').addClass('col-md-9');
            toggleIcon.removeClass('fa-solid fa-filter').addClass('fa-solid fa-filter-circle-xmark');

            // Cập nhật tooltip thành "Ẩn"
            toggleLeftWrapper.attr('data-tooltip', 'Hide left menu');
        }

        if(typeof UI !== 'undefined' && UI.refreshTooltips) UI.refreshTooltips();
    }

    if (document.getElementById('btnViewIndividual')) bindIndividualSearchButton();

    function setupDefaultCaret() {
        $('#caretDownFunctionAndOption').hide();
        $('#caretDownFilter').hide();
    }
    function clickCaretDownFunctionAndOption() {
        $('#caretUpFunctionAndOption').show();
        $('#caretDownFunctionAndOption').hide();
        $('#functionAndOption').show();
    }
    function clickCaretUpFunctionAndOption() {
        $('#caretUpFunctionAndOption').hide();
        $('#caretDownFunctionAndOption').show();
        $('#functionAndOption').hide();
    }
    function clickCaretDownFilter() {
        $('#caretUpFilter').show();
        $('#caretDownFilter').hide();
        $('#filter').show();
    }
    function clickCaretUpFilter() {
        $('#caretUpFilter').hide();
        $('#caretDownFilter').show();
        $('#filter').hide();
    }
    function openVisibleColumns() {
        // Call updateColumnList from within initializeDataGridSearch when grid is initialized
        const offcanvasElement = document.getElementById('columnOffcanvas');
        const offcanvas = new bootstrap.Offcanvas(offcanvasElement);
        offcanvas.show();
    }
    $(document).ready(async function () {
        await getBusinessDate();
        setupDefaultCaret();
        const urlParams = new URLSearchParams(window.location.search);
        const type = urlParams.get("type");
        const leftMenu = $('#leftMenu');
        const toggleLeftWrapper = $('#toggleLeftWrapper');

        // Khởi tạo trạng thái Tooltip ban đầu dựa trên thực tế hiển thị
        const initialVisible = leftMenu.is(':visible');
        toggleLeftWrapper.attr('data-tooltip', initialVisible ? 'Hide left menu' : 'Show left menu');

        $('#setttingGrid').attr('data-tooltip', 'Setting table');
        $('#exportExcelReservation').attr('data-tooltip', 'Export Excel');

        // ===== Mapping type -> searchType =====
        const typeMapping = {
            guestInHouse: "1",
            dueInCheckedIn: "3",
            checkedIn: "4",
            dueout: "5",
            checkedOut: "6",
            arrivalCheckedInToday: "12",
            checkedOutToday: "13",
            all: "14"
        };

        if (type && typeMapping[type]) {
            $("#searchType").val(typeMapping[type]).trigger("change");
        }
        await searchReservation(isInitial = true);
        $('#listFunction').hide();
        $('#searchType, #name, #firstName, #resvHolder, #confirmationNo, #crsNo, #roomNo, #roomType, #package, #zone, #arrivalForm, #departureForm, #roomShare, #owner').on('keypress', async function (e) {
            if (e.which === 13) {
                e.preventDefault();
                await searchReservation();
            }
        });
    });
    async function getBusinessDate() {
        window.initDateInputs();
        await window.businessDateReady;

        $('#dateTraces').val(dateSystem);
        $('#fromDateAddNewTrace').val(dateSystem);
        $('#toDateAddNewTrace').val(dateSystem);

        // Chỉ set giá trị nếu các trường ngày trống
        if (!$('#arrivalForm').val()) {

            const vadsda = $('#arrivalForm').val();

            UI.setHiddenDate("arrivalForm", dateSystem);
            console.log('arrivalForm', vadsda);
            console.log('departureIsodateSystem', dateSystem);
            $('#expDatePaymentBilling').val(dateSystem);
            $('#transDatePaymentBilling').val(dateSystem);
            $('#fromDateSelectOption').val(dateSystem);
            $('#toDateSelectOption').val(dateSystem);



        }
        if (!$('#departureForm').val()) {
            var fromForTo = $('#arrivalForm').val() || dateSystem;
            const departureIso = UI.addDaysIso(fromForTo, 7);
            console.log('departureIso', departureIso);

            UI.setHiddenDate("departureForm", departureIso);
        }
    }

    /** Arr.To mặc định = Arr.From + 7 ngày (ISO yyyy-MM-dd). */
    function normalizeSearchArrivalRange() {
        var fromIso = ($('#arrivalForm').val() || '').split('T')[0] || (typeof window.dateSystem !== 'undefined' ? window.dateSystem : '');
        var toIso = ($('#departureForm').val() || '').split('T')[0] || '';
        if (typeof UI !== 'undefined' && UI.addDaysIso) {
            if (!fromIso && window.dateSystem) {
                fromIso = window.dateSystem;
                UI.setHiddenDate('arrivalForm', fromIso);
            }
            if (!toIso && fromIso) {
                toIso = UI.addDaysIso(fromIso, 7);
                UI.setHiddenDate('departureForm', toIso);
            } else if (fromIso && toIso && fromIso === toIso) {
                toIso = UI.addDaysIso(fromIso, 7);
                UI.setHiddenDate('departureForm', toIso);
            }
        }
        return { fromIso: fromIso, toIso: toIso || fromIso };
    }

    $(document).on('change', 'input[name="arrivalForm"]', function () {
        var v = ($(this).val() || '').split('T')[0];
        if (!v || typeof UI === 'undefined' || !UI.addDaysIso || !UI.setHiddenDate) return;
        var next = UI.addDaysIso(v, 7);
        if (next) UI.setHiddenDate('departureForm', next);
    });


    async function searchReservation(isInitial = false) {
        await window.businessDateReady;
        $('#cmt_wrapper').hide();
        $("#loadingSpinnerForm").show();

        const checkboxValue = $('#roomShare').is(':checked') ? $('#roomShare').val() : '';

        normalizeSearchArrivalRange();

        // Kiểm tra xem các trường ngày có giá trị hợp lệ hay không (Arr.To = Arr.From + 7 khi thiếu/trùng)
        let arrivalDate = $('#arrivalForm').val() || window.dateSystem;
        let departureDate = $('#departureForm').val();
        if (!departureDate && typeof UI !== 'undefined' && UI.addDaysIso) {
            departureDate = UI.addDaysIso(arrivalDate, 7);
            if (departureDate) UI.setHiddenDate('departureForm', departureDate);
        }
        departureDate = departureDate || (typeof UI !== 'undefined' && UI.addDaysIso ? UI.addDaysIso(arrivalDate, 7) : window.dateSystem);
        // Nếu vẫn rỗng sau khi chờ → báo lỗi hoặc fallback (tùy yêu cầu)
        if (!arrivalDate || !departureDate) {
            console.log("Could not load default dates. Please select From Date manually.");
            $("#loadingSpinnerRateCode").hide();
            return;
        }

        const isValidDate = (dateStr) => {
            return dateStr && !isNaN(Date.parse(dateStr));
        };

        // Nếu cả hai trường ngày đều có giá trị hợp lệ, không gọi getBusinessDate
        if (isValidDate(arrivalDate) && isValidDate(departureDate)) {
            $.ajax({
                url: '/Reservation/SearchReservation2',
                type: 'get',
                dataType: 'json',
                data: {
                    searchType: $('#searchType').val(),
                    name: $('#name').val(),
                    firstName: $('#firstName').val(),
                    reservationHolder: $('#resvHolder').val(),
                    confirmationNo: $('#confirmationNo').val(),
                    crsNo: $('#crsNo').val(),
                    roomNo: $('#roomNo').val(),
                    roomType: $('#roomType').find('option:selected').text(),
                    package: $('#package').val(),
                    zone: $('#zone').find('option:selected').text(),
                    arrivalFrom: arrivalDate,
                    chooseFromDate: $('#chooseFromDate').is(':checked') ? 1 : 0,
                    chooseToDate: $('#chooseToDate').is(':checked') ? 1 : 0,
                    arrivalTo: departureDate,
                    roomSharer: checkboxValue,
                    owner: $('#owner').val()
                },
                crossDomain: false,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    listData = normalizeSearchReservationRows(result) || [];
                    initializeDataGridSearch(result);
                },
                error: function (xhr, statusText, err) {
                    if (xhr.status == 401) {
                        sessionTimeout();
                    }
                },
                complete: function () {
                    $("#loadingSpinnerForm").hide();
                }
            });
        } else {
            // Gọi getBusinessDate nếu ngày không hợp lệ hoặc trống
            getBusinessDate().then(function () {
                normalizeSearchArrivalRange();
                $.ajax({
                    url: '/Reservation/SearchReservation2',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        searchType: $('#searchType').val(),
                        name: $('#name').val(),
                        firstName: $('#firstName').val(),
                        reservationHolder: $('#resvHolder').val(),
                        confirmationNo: $('#confirmationNo').val(),
                        crsNo: $('#crsNo').val(),
                        roomNo: $('#roomNo').val(),
                        roomType: $('#roomType').find('option:selected').text(),
                        package: $('#package').val(),
                        zone: $('#zone').find('option:selected').text(),
                        arrivalFrom: $('#arrivalForm').val(),
                        chooseFromDate: $('#chooseFromDate').is(':checked') ? 1 : 0,
                        chooseToDate: $('#chooseToDate').is(':checked') ? 1 : 0,
                        arrivalTo: $('#departureForm').val(),
                        roomSharer: checkboxValue,
                        owner: $('#owner').val()
                    },
                    crossDomain: false,
                    headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                    success: function (result) {
                        listData = normalizeSearchReservationRows(result) || [];
                        initializeDataGridSearch(result);
                    },
                    error: function (xhr, statusText, err) {
                        if (xhr.status == 401) {
                            sessionTimeout();
                        }
                    },
                    complete: function () {
                        $("#loadingSpinnerForm").hide();
                    }
                });
            }).catch(function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
                $("#loadingSpinnerForm").hide();
            });
        }
    }

    window.searchReservation = searchReservation;
    var idReservation = 0;
    var listFolioData = [];
    var status = '';
    var statusID = 0;
    var _currentReservationData = null;
    var roomStatus = '';
    var roomNo = '';
    var roomID = 0;
    var arivalDate = '';
    var departureDate = '';
    var confirmationNo = '';
    var night = 0;
    var rateAmount = 0;
    var lastname = '';
    var listData = [];
    var roomType = '';
    var listReservationByConfirmationNo = [];
    var profileID = 0;
    var folioNoID = 0;
    var reservationStatus = 0;

    /** New Profile → Individual modal (/Profile/Individual); load guest from selected booking when profileID is set. */
    function openIndividualFromSearchReservation() {
        var pid = parseInt(profileID, 10) || 0;
        if (!pid) {
            if (typeof openModalIndividual === 'function') {
                openModalIndividual();
            } else {
                showToast('Warning', 'Individual profile form is not available.', false);
            }
            return;
        }
        if (typeof ModalManager === 'undefined' || typeof waitForFunction === 'undefined') {
            showToast('Warning', 'Please open this page from the main layout.', false);
            return;
        }
        ModalManager.load('/Profile/Individual', 'modalIndividual', function () {
            waitForFunction('pro_ind_Module', function () {
                window.pro_ind_Module.init();
                if (typeof window.pro_ind_Module.loadProfileByID === 'function') {
                    setTimeout(function () {
                        window.pro_ind_Module.loadProfileByID(pid);
                    }, 300);
                }
            });
        });
    }

    function parseBillingAmount(value) {
        if (value === null || value === undefined || value === '') {
            return null;
        }

        if (typeof value === 'number') {
            return isNaN(value) ? null : value;
        }

        const raw = value.toString().trim();
        if (!raw || raw.toLowerCase() === 'null' || raw.toLowerCase() === 'undefined') {
            return null;
        }

        const normalized = raw.replace(/\s/g, '');

        if (normalized.includes('.') && normalized.includes(',')) {
            const localized = Number(normalized.replace(/\./g, '').replace(',', '.'));
            return isNaN(localized) ? null : localized;
        }

        if (normalized.includes(',')) {
            const localized = Number(normalized.replace(',', '.'));
            return isNaN(localized) ? null : localized;
        }

        if (/^-?\d{1,3}(\.\d{3})+$/.test(normalized)) {
            const thousands = Number(normalized.replace(/\./g, ''));
            return isNaN(thousands) ? null : thousands;
        }

        const parsed = Number(normalized);
        return isNaN(parsed) ? null : parsed;
    }
    function formatBillingAmount(value) {
        const parsed = parseBillingAmount(value);
        if (parsed === null) {
            return '0';
        }

        return parsed.toLocaleString('vi-VN', {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });
    }
    function normalizeSearchReservationRows(data) {
        if (Array.isArray(data)) return data;
        if (data && Array.isArray(data.data)) return data.data;
        if (data && Array.isArray(data.items)) return data.items;
        return null;
    }

    function initializeDataGridSearch(data) {
        const rows = normalizeSearchReservationRows(data);
        if (!rows) {
            if (typeof data === 'string') {
                showToast('Error', data, false);
            } else if (data && data.message) {
                showToast('Error', data.message, false);
            } else {
                console.warn('Search reservation: response is not a row array', data);
                showToast('Warning', 'Search returned an unexpected response. Check console.', false);
            }
            return;
        }

        // 1. LOCALE CHÂU ÂU: dấu chấm nghìn, dấu phẩy thập phân (dù không dùng thập phân)
        DevExpress.localization.locale('de-DE');

        // 2. CHUYỂN DỮ LIỆU: "85.123,00" → 85123 (number)
        const processedData = rows.map(item => {
            const cleanNumber = (str) => {
                const parsed = parseBillingAmount(str);
                return parsed === null ? 0 : parsed;
            };
            return {
                ...item,
                PriceNet: cleanNumber(item.PriceNet),
                BalanceVND: cleanNumber(item.BalanceVND),
                BalanceUSD: cleanNumber(item.BalanceUSD),
                DiscountAmount: cleanNumber(item.DiscountAmount),
                FixedCharge: cleanNumber(item.FixedCharge),
                Price: cleanNumber(item.Price),
                DepositPayment: cleanNumber(item.DepositPayment),
                DepositRequest: cleanNumber(item.DepositRequest),
            };
        });

        // 3. ĐỊNH DẠNG TIỀN: KHÔNG CÓ PHẦN THẬP PHÂN → 123.456.789
        const moneyFormat = {
            type: 'fixedPoint',
            precision: 0                     // ← QUAN TRỌNG: 0 chữ số thập phân
            // thousandsSeparator tự động là dấu chấm theo locale 'de-DE'
        };

        // 4. DANH SÁCH CỘT
        const columns = [
            { dataField: 'ID', caption: 'ID', visible: false },
            { dataField: 'ConfirmationNo', caption: 'Conf.no', visible: true },
            { dataField: 'CRSNo', caption: 'CRS No', visible: true },
            { dataField: 'MG', caption: 'MG', visible: true },
            { dataField: 'Nationality', caption: 'Nationality', visible: true },
            { dataField: 'GuestName', caption: 'Guest Name', visible: true },
            { dataField: 'NoOfRoom', caption: 'Rms', visible: true },
            { dataField: 'RoomNo', caption: 'Room No', visible: true, alignment: 'right' },
            { dataField: 'RoomStatus', caption: 'Rm Status', visible: true },
            { dataField: 'RoomType', caption: 'Room Type', visible: true },
            {
                dataField: 'Arrival',
                caption: 'Arrival',
                visible: true,
                customizeText: function (cellInfo) {
                    return cellInfo.value ? cellInfo.value.split(" ")[0] : '';
                }
            },
            { dataField: 'ETA', caption: 'ETA', visible: true },
            { dataField: 'NoOfNight', caption: 'No of Nights', visible: true, alignment: 'right' },
            {
                dataField: 'Departure',
                caption: 'Departure',
                visible: true,
                customizeText: function (cellInfo) {
                    return cellInfo.value ? cellInfo.value.split(" ")[0] : '';
                }
            },
            { dataField: 'ETD', caption: 'ETD', visible: true },
            { dataField: 'Adults', caption: 'Adults', visible: true, alignment: 'right' },
            { dataField: 'Child', caption: 'Child', visible: true, alignment: 'right' },
            { dataField: 'Child1', caption: 'Child 1', visible: true, alignment: 'right' },
            { dataField: 'Child2', caption: 'Child 2', visible: true, alignment: 'right' },
            { dataField: 'Status', caption: 'Status', visible: true },
            { dataField: 'Packages', caption: 'Packages', visible: true },

            // CỘT TIỀN – KHÔNG CÓ PHẦN THẬP PHÂN
            {
                dataField: 'PriceNet',
                caption: 'Price Net',
                visible: true,
                alignment: 'right',
                format: moneyFormat
            },
            { dataField: 'ReservationHolder', caption: 'Reservation Holder', visible: true },

            // CÁC CỘT TIỀN KHÁC
            {
                dataField: 'BalanceVND',
                caption: 'Balance (VND)',
                visible: false,
                alignment: 'right',
                format: moneyFormat
            },
            { dataField: 'ARNo', caption: 'AR No', visible: false },
            { dataField: 'AllotmentCode', caption: 'Allotment Code', visible: false },
            {
                dataField: 'BalanceUSD',
                caption: 'Balance (USD)',
                visible: false,
                alignment: 'right',
                format: moneyFormat
            },
            { dataField: 'BookerName', caption: 'Booker Name', visible: false },
            { dataField: 'CI', caption: 'Check-in Time', visible: false },
            { dataField: 'CO', caption: 'Check-out Time', visible: false },
            { dataField: 'Color', caption: 'Color', visible: false },
            { dataField: 'Comment', caption: 'Comment', visible: false },
            { dataField: 'CommentGroup', caption: 'Comment Group', visible: false },
            { dataField: 'Contact', caption: 'Contact', visible: false },
            { dataField: 'CreateBy', caption: 'Created By', visible: false },
            { dataField: 'CreateDate', caption: 'Create Date', visible: false },
            { dataField: 'Currency', caption: 'Currency', visible: false },
            {
                dataField: 'DepositPayment',
                caption: 'Deposit Payment',
                visible: false,
                format: moneyFormat
            },
            {
                dataField: 'DepositRequest',
                caption: 'Deposit Request',
                visible: false,
                format: moneyFormat
            },
            {
                dataField: 'DiscountAmount',
                caption: 'Discount Amount',
                visible: false,
                alignment: 'right',
                format: moneyFormat
            },
            { dataField: 'DiscountRate', caption: 'Discount Rate', visible: false, alignment: 'right' },
            { dataField: 'DropOffDescription', caption: 'Drop-off Description', visible: false },
            { dataField: 'DropOffReqdID', caption: 'Drop-off Request ID', visible: false },
            { dataField: 'DropOffTransportNo', caption: 'Drop-off Transport No', visible: false },
            { dataField: 'DropOffTransportType', caption: 'Drop-off Transport Type', visible: false },
            {
                dataField: 'FixedCharge',
                caption: 'Fixed Charge',
                visible: false,
                format: moneyFormat
            },
            { dataField: 'GroupCode', caption: 'Group Code', visible: false },
            { dataField: 'MainGuest', caption: 'Main Guest', visible: false },
            { dataField: 'MarketCode', caption: 'Market Code', visible: false },
            { dataField: 'MemberNo', caption: 'Member No', visible: false },
            { dataField: 'MemberType', caption: 'Member Type', visible: false },
            { dataField: 'OriginCode', caption: 'Origin Code', visible: false },
            { dataField: 'PM', caption: 'PM', visible: false },
            { dataField: 'PersonInChargeID', caption: 'Person In Charge ID', visible: false },
            { dataField: 'PickupDescription', caption: 'Pickup Description', visible: false },
            { dataField: 'PickupReqdID', caption: 'Pickup Request ID', visible: false },
            { dataField: 'PickupTransportNo', caption: 'Pickup Transport No', visible: false },
            { dataField: 'PickupTransportType', caption: 'Pickup Transport Type', visible: false },
            {
                dataField: 'Price',
                caption: 'Price',
                visible: false,
                format: moneyFormat
            },
            { dataField: 'PrintRate', caption: 'Print Rate', visible: false },
            { dataField: 'ProfileCode', caption: 'Profile Code', visible: false },
            { dataField: 'ProfileComment', caption: 'Profile Comment', visible: false },
            { dataField: 'ProfileGroupID', caption: 'Profile Group ID', visible: false },
            { dataField: 'ProfileIndividualID', caption: 'Profile Individual ID', visible: false },
            { dataField: 'RateCode', caption: 'Rate Code', visible: false },
            { dataField: 'ReservationStatus', caption: 'Reservation Status', visible: false },
            { dataField: 'ReservationTypeCode', caption: 'Reservation Type Code', visible: false },
            { dataField: 'RoomID', caption: 'Room ID', visible: false },
            { dataField: 'ShareRoom', caption: 'Share Room', visible: false },
            { dataField: 'SourceCode', caption: 'Source Code', visible: false },
            { dataField: 'SpecialUpdateBy', caption: 'Special Update By', visible: false },
            { dataField: 'SpecialUpdateDate', caption: 'Special Update Date', visible: false },
            { dataField: 'Specials', caption: 'Specials', visible: false },
            { dataField: 'Title', caption: 'Title', visible: false },
            { dataField: 'UpdateBy', caption: 'Updated By', visible: false },
            { dataField: 'UpdateDate', caption: 'Update Date', visible: false },
            { dataField: 'VIP', caption: 'VIP', visible: false },
            { dataField: 'VoucherNo', caption: 'Voucher No', visible: false }
        ];

        // 6. CẬP NHẬT OFFCANVAS
        function updateColumnList() {
            const columnList = $('#columnList');
            columnList.empty();
            columns.forEach(column => {
                const isChecked = column.visible ? 'checked' : '';
                const blockHtml = `
                    <div class="column-block d-flex align-items-center mb-1" style="margin-right: 10px;padding: 6px 12px;background: #ffffff;color: #1f2937;font-weight:500">
                        <input type="checkbox" class="column-checkbox" data-column="${column.dataField}" style="margin-right: 5px;" ${isChecked}>
                        <span>${column.caption}</span>
                    </div>`;
                columnList.append(blockHtml);
            });
        }

        const RESV_STATUS = {
            Reservation: 0,
            CheckedIn: 1,
            CheckedOut: 2,
            Cancel: 3,
            Waitlist: 4,
            DueIn: 5,
            DueOut: 6,
            NoShow: 7,
            DayUse: 8
        };

        function toggleButton($el, disabled) {
            if (disabled) {
                $el.addClass('disabled').css({
                    // 'pointer-events': 'none',
                    'opacity': '0.5',
                    'cursor': 'not-allowed'
                });
            } else {
                $el.removeClass('disabled').css({
                    'cursor': 'pointer',
                    'opacity': '1'
                });
            }
        }
        // Tắt tạm button Advance
        toggleButton($("#btnSearchRessAdvance"), true);

        $('#resv_btnPostingBilling').off('click').on('click', function (e) {

            if ($(this).hasClass('disabled')) {
                e.preventDefault();
                return;
            }

            openModalBilling();
        });

        function handleReservationActions(data) {

            const sID = Number(data.ReservationStatus);

            if (isNaN(sID)) {
                console.warn("Invalid ReservationStatus:", data.ReservationStatus);
                return;
            }

            console.log("ReservationStatus:", sID);

            
                     const $btns = $('#resv_checkoutSingle, #btnSearchResCheckoutAll, #btnSearchResCheckoutZero, #btnSearchResCheckoutSingle');

                    if (sID === 1) {
                        console.log("ReservationStatus:", sID);
                        $btns
                            .addClass('disabled')
                            .hide();
                    } else {
                        $btns
                            .removeClass('disabled')
                            .show();  
                    }
            

            // CheckedOut: vẫn cho mở Billing (xem hóa đơn / công nợ sau checkout)
            const blockedStatus = [
                RESV_STATUS.Cancel,
                RESV_STATUS.Waitlist,
                RESV_STATUS.NoShow,
                RESV_STATUS.DueIn,
                RESV_STATUS.Reservation,
            ];

            const isBlocked = blockedStatus.includes(sID);

            toggleButton($('#resv_btnPostingBilling'), isBlocked);

            if (typeof window.updateSingleCheckoutButtonState === 'function') {
                window.updateSingleCheckoutButtonState(sID);
            }
        }

        //  KHỞI TẠO GRID
        const grid = $("#gridContainer").dxDataGrid({
            dataSource: processedData,
            allowColumnResizing: true,
            columnAutoWidth: true,
            paging: { enabled: true, pageSize: 23 },
            pager: {
                visible: true,
                allowedPageSizes: [23, 30, 35],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            scrolling: { mode: 'standard', showScrollbar: 'always', useNative: true },
            filterRow: { visible: true, applyFilter: "auto" },
            selection: { mode: "single" },
            columns: columns,
            onRowDblClick: function (e) { editBooking(); },
            onRowClick: function (e) {
                $('#functionAndOptionTable').show();
                $('#listFunction').show();
                idReservation = parseInt(e.data.ID || e.data.id, 10) || 0;
                statusID = e.data.ReservationStatus;
                console.log('e.data', e.data);

                $('#moreInfo').empty();
                let html = '';
                ['ProfileComment', 'CommentGroup', 'DepositRequest', 'FixedCharge', 'ItemInventory', 'Specials'].forEach(field => {
                    if (e.data[field]) html += `<span style="margin:0;padding:0">-${e.data[field]}</span>`;
                });
                $('#moreInfo').append(html);
                $('#cmt_wrapper').empty().append(`<span><b>Comment:</b> <i>${e.data.Comment || ''}</i></span>`).show();

                $('#rsvStatusBilling').text(e.data.Status);

                handleReservationActions(e.data);

                $('#conNoBilling').text(e.data.ConfirmationNo);
                $('#arivalBilling').text(e.data.Arrival ? e.data.Arrival.split(' ')[0] : '');
                $('#departureBilling').text(e.data.Departure ? e.data.Departure.split(' ')[0] : '');
                // Dùng trực tiếp dữ liệu từ grid - không cần gọi API GetReservationByID
                setBillingHeaderInfo(e.data);
                _currentReservationData = e.data;

                // Assign / UnAssign phòng (không dùng id trùng với C/O All — trước đây nhầm assignRoom → C/O All)
                const isSingleRoom = e.data.NoOfRoom == '1';
                const hasRoomID = (parseInt(e.data.RoomID, 10) || 0) !== 0;
                const canOpenAssign = isSingleRoom && !hasRoomID;
                [
                    { id: 'assign', canClick: canOpenAssign },
                    { id: 'unAssign', canClick: isSingleRoom && hasRoomID },
                    { id: 'resv_assignRoom', canClick: canOpenAssign }
                ].forEach(({ id, canClick }) => {
                    const el = document.getElementById(id);
                    if (el) {
                        el.style.pointerEvents = canClick ? 'auto' : 'none';
                        el.style.color = canClick ? '' : 'gray';
                        el.style.cursor = canClick ? 'pointer' : 'not-allowed';
                    }
                });

                // Xử lý nút assign / unassign

               

                // Gán biến toàn cục
                reservationStatus = e.data.ReservationStatus;
                // Chỉ gọi GetBalanceVND để cập nhật số dư thực tế - không gọi getFolioNo() ở đây
                // (getFolioNo sẽ được gọi khi mở Billing modal)
                GetBalanceVND(e.data.ID);
                listReservationByConfirmationNo = listData.filter(item => item.ConfirmationNo === e.data.ConfirmationNo);
                rateAmount = e.data.PriceNet;                
                night = e.data.NoOfNight;
                roomID = e.data.RoomID;
                status = e.data.Status;
                roomStatus = e.data.RoomStatus;
                roomType = e.data.RoomType;
                roomNo = e.data.RoomNo;
                arivalDate = e.data.Arrival;
                departureDate = e.data.Departure;
                confirmationNo = e.data.ConfirmationNo;
                lastname = e.data.GuestName;
                profileID = e.data.ProfileIndividualID;

                // Khi có nhiều phòng hoặc chưa assign
                if (e.data.NoOfRoom != '1') {
                    ['assign', 'unAssign', 'resv_assignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'none';
                            el.style.color = 'gray';
                            el.style.cursor = 'not-allowed';
                        }
                    });
                }
                if (e.data.RoomID == 0) {
                    const el = document.getElementById('unAssign');
                    if (el) {
                        el.style.pointerEvents = 'none';
                        el.style.color = 'gray';
                        el.style.cursor = 'not-allowed';
                    }
                }

                const canAssign = (status === "DUE IN" || status === "RESVED") && !hasRoomID;
                const canUnassign = status === "DUE IN";

                [
                    { id: "assign", enabled: canAssign },
                    { id: "unAssign", enabled: canUnassign },
                    { id: "resv_assignRoom", enabled: canAssign }
                ].forEach(({ id, enabled }) => {
                    const el = document.getElementById(id);

                    if (!el) return;

                    el.style.pointerEvents = enabled ? "auto" : "none";
                    el.style.color = enabled ? "" : "gray";
                    el.style.cursor = enabled ? "pointer" : "not-allowed";

                });

            },
            onRowPrepared: function (e) {
                if (e.rowType === "data") {
                    const colorValue = e.data?.Color;
                    if (colorValue !== null && colorValue !== undefined && colorValue !== "" && colorValue !== 0) {
                        let hexColor = "";
                        if (!isNaN(colorValue)) {
                            hexColor = intToColorHex(parseInt(colorValue));
                        } else if (typeof colorValue === "string" && colorValue.startsWith("#")) {
                            hexColor = colorValue;
                        }
                        if (hexColor) {
                            e.rowElement.css("background-color", hexColor);
                        }
                    }
                }
            }
        }).dxDataGrid('instance');

        // 8. OFFCANVAS
        updateColumnList();

        $('#addSelectedColumns').on('click', function () {
            $('.column-checkbox').each(function () {
                const columnName = $(this).attr('data-column');
                const isChecked = $(this).is(':checked');
                grid.columnOption(columnName, 'visible', isChecked);
                const col = columns.find(c => c.dataField === columnName);
                if (col) col.visible = isChecked;
            });
            bootstrap.Offcanvas.getInstance(document.getElementById('columnOffcanvas')).hide();
        });

        $('#clearSelectedColumns').on('click', function () {
            $('.column-checkbox').prop('checked', false);
        });
    }
    function intToColorHex(value) {
        const hex = (value >>> 0).toString(16).padStart(8, "0");
        return "#" + hex.substring(2).toUpperCase();
    }
    function formatNumberBilling(number) {
        return formatBillingAmount(number);
    }
    function getReservationHeaderValue(source, fields) {
        if (!source) return '';

        for (const field of fields) {
            const value = source[field];
            if (value !== null && value !== undefined) {
                const text = value.toString().trim();
                if (text !== '' && text.toLowerCase() !== 'undefined' && text.toLowerCase() !== 'null') {
                    return text;
                }
            }
        }

        return '';
    }
    function parseReservationHeaderAmount(value) {
        return parseBillingAmount(value);
    }
    function getReservationHeaderAmount(source, fields) {
        if (!source) return null;

        for (const field of fields) {
            const amount = parseReservationHeaderAmount(source[field]);
            if (amount !== null) {
                return amount;
            }
        }

        return null;
    }
    function setBillingHeaderInfo(source) {
        const groupValue = getReservationHeaderValue(source, ['GroupName', 'GroupCode', 'Group', 'GroupNo']);
        const companyValue = getReservationHeaderValue(source, ['CompanyName', 'Company', 'CompanyCode']);
        const balanceValue = getReservationHeaderAmount(source, ['BalanceVND', 'Balance', 'BalanceAmount', 'FolioBalance']);
        const totalValue = getReservationHeaderAmount(source, ['TotalVND', 'TotalAmount', 'Total', 'GrossAmount']);

        $('#groupBilling').text(groupValue);
        $('#companyBilling').text(companyValue);
        $('#balanceBilling').text(balanceValue !== null ? formatNumberBilling(balanceValue) : '0');
        $('#totalBilling').text(totalValue !== null ? formatNumberBilling(totalValue) : '0');
    }
    function loadBillingHeaderByReservationId(reservationId, fallbackData) {
        if (!reservationId || reservationId <= 0) {
            setBillingHeaderInfo(fallbackData);
            return;
        }

        $.ajax({
            url: '/Reservation/GetReservationByID',
            type: 'get',
            dataType: 'json',
            data: { ID: reservationId },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                if (result && typeof result === 'object' && !Array.isArray(result)) {
                    setBillingHeaderInfo({
                        ...fallbackData,
                        GroupName: result.groupName,
                        GroupCode: result.groupCode,
                        CompanyName: result.companyName,
                        BalanceVND: result.balanceVND,
                        TotalAmount: result.totalAmount
                    });
                } else {
                    setBillingHeaderInfo(fallbackData);
                }
            },
            error: function () {
                setBillingHeaderInfo(fallbackData);
            }
        });
    }
    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    function exportExcel() {
        const grid = $("#gridContainer").dxDataGrid("instance");


        const workbook = new ExcelJS.Workbook();
        const companyName = localStorage.getItem("CompanyName") || "Company name not set";
        const worksheet = workbook.addWorksheet("Sheet 1");

        // === Tạo header công ty (dòng 1) ===
        worksheet.addRow([companyName]);
        worksheet.mergeCells('A1:E1');
        worksheet.getRow(1).font = { bold: true };
        worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

        // === Dòng 2: Thời gian xuất (phải) ===
        const now = new Date();
        const exportDate = now.toLocaleString("en-US");
        worksheet.addRow(['', '', '', '', ' ' + exportDate]);
        worksheet.mergeCells('E2:H2');
        worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

        // === Dòng 3–4: Trống
        worksheet.addRow([]);
        worksheet.addRow([]);

        // === Dòng 5: Tên báo cáo ở giữa ===
        const reportRow = worksheet.addRow(['', '', 'Booking List']);
        worksheet.mergeCells('C5:F5');
        reportRow.font = { bold: true, size: 14 };
        reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

        // === Dòng 6: Trống trước khi xuất dữ liệu
        worksheet.addRow([]);

        // === Export dữ liệu từ DevExtreme (bắt đầu từ dòng 7)
        DevExpress.excelExporter.exportDataGrid({
            component: grid,
            worksheet: worksheet,
            autoFilterEnabled: true,
            topLeftCell: { row: 7, column: 1 } // dữ liệu bắt đầu từ dòng 7
        }).then(function () {
            // Footer
            const lastRow = worksheet.lastRow.number + 2;
            worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
            worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
            worksheet.getCell(`A${lastRow}`).font = { italic: true };

            // Ghi file
            let fileName = "ReservationData" + ".xlsx";
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
            });
        });
    }
    function redirectGroupAdmin() {
        $.ajax({
            url: '/Reservation/EncryptId',
            type: 'POST',
            data: { id: confirmationNo },
            success: function (response) {
                if (response.success) {
                    var nameSearch = $('#name').val() ?? '';
                    var roomNoSearch = $('#roomNo').val() ?? '';
                    window.location.href = '/Reservation/GroupAdmin?key=' + encodeURIComponent(response.encryptedId) + '&displayType=' + reservationStatus + '&name=' + nameSearch + '&roomNo=' + roomNoSearch;
                } else {
                    alert('Failed to encrypt ID.');
                }
            },
            error: function () {
                alert('Encryption API request failed.');
            }
        });
    }
    function syncReservationSelectionFromGrid() {
        const grid = $("#gridContainer").dxDataGrid("instance");
        if (!grid) {
            return false;
        }

        const selectedRow = grid.getSelectedRowsData()[0];
        if (!selectedRow) {
            return false;
        }

        idReservation = parseInt(selectedRow.ID || selectedRow.id, 10) || 0;
        statusID = selectedRow.ReservationStatus;
        reservationStatus = selectedRow.ReservationStatus;
        roomID = selectedRow.RoomID;
        status = selectedRow.Status;
        roomStatus = selectedRow.RoomStatus;
        roomType = selectedRow.RoomType;
        roomNo = selectedRow.RoomNo;
        arivalDate = selectedRow.Arrival;
        departureDate = selectedRow.Departure;
        confirmationNo = selectedRow.ConfirmationNo;
        lastname = selectedRow.GuestName;
        profileID = selectedRow.ProfileIndividualID;
        rateAmount = selectedRow.PriceNet;
        night = selectedRow.NoOfNight;
        _currentReservationData = selectedRow;

        return idReservation > 0;
    }

    function editBooking() {
        // // Hiển thị lớp phủ để vô hiệu hóa tương tác
        // $('#overlay').show();
        if (idReservation <= 0 && !syncReservationSelectionFromGrid()) {
            showToast("Warning", "Please select a row again to edit.", false);
            return
        }
        var rid = parseInt(idReservation, 10) || 0;
        if (rid <= 0) {
            showToast("Warning", "Please select a row again to edit.", false);
            return;
        }
        idReservation = rid;
        // // Vô hiệu hóa tất cả các phần tử tương tác trên trang
        // $('body').css('pointer-events', 'none');
        var modal = $('#newReservationModal');

        // Luôn hiển thị loading
        modal.find('.modal-body').html(`
            <div class="text-center py-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-3">Loading reservation...</p>
            </div>
        `);

        modal.modal('show');
        $.ajax({
            url: '/Reservation/EncryptId',
            type: 'POST',
            data: { id: idReservation },
            success: function (response) {
                if (response.success) {
                    // Chuyển hướng đến trang chỉnh sửa
                    // window.location.href = '/Reservation/NewReservation?key=' + encodeURIComponent(response.encryptedId);
                    $.ajax({
                        url: '/Reservation/NewReservation',
                        type: 'GET',
                        data: { key: response.encryptedId },
                        cache: false,
                        success: function (html) {
                            modal.find('.modal-body').html(html);
                            if (typeof window.focusNewReservationFirstField === 'function') {
                                window.focusNewReservationFirstField();
                            }
                        },
                        error: function () {
                            modal.find('.modal-body').html(`
                                <div class="alert alert-danger m-4">
                                    <strong>Error</strong> Unable to load reservation details.
                                </div>
                            `);
                        }
                    });
                } else {
                    // Nếu mã hóa thất bại, hiển thị thông báo và xóa lớp phủ
                    alert('Failed to encrypt ID.');
                    $('#overlay').hide();
                    $('body').css('pointer-events', 'auto');
                }
            },
            error: function () {
                // Nếu API thất bại, hiển thị thông báo và xóa lớp phủ
                alert('Encryption API request failed.');
                $('#overlay').hide();
                $('body').css('pointer-events', 'auto');
            }
        });
    }
    function getSelectedCheckboxes(name) {
        const checkboxes = document.querySelectorAll(`input[type="checkbox"][name="${name}"]:checked`);
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);
        return values.join(","); // Trả về chuỗi dạng 'a,c,v,c'
    }

    function getSelectedRadio(name) {
        const radio = document.querySelector(`input[type="radio"][name="${name}"]:checked`);
        return radio ? radio.value : null;
    }

    function LoadConfirmationLetter() {
        if (!idReservation || idReservation <= 0) {
            console.error('Invalid reservation ID.');
            return;
        }

        // Hiển thị loading (tùy chọn - bạn có thể thêm spinner)
        const loadingIndicator = showLoading(); // bạn có thể tự định nghĩa hàm này

        // ÉP LUÔN DÙNG HTTPS - đây là chìa khóa để hết lỗi blob:http
        const currentOrigin = window.location.origin;
        const secureOrigin = currentOrigin.replace(/^http:/, 'https:'); // ép http → https

        const url = `${window.location.origin}/Reservation/ReadDoc?id=${idReservation}`;


        fetch(url, {
            method: 'GET',
            credentials: 'include', // Quan trọng: giữ session, cookie (Forms Auth, Identity, v.v.)
            cache: 'no-cache'        // Đảm bảo không bị cache cũ
        })
            .then(response => {
                // Xử lý lỗi HTTP (401, 403, 404, 500...)
                if (!response.ok) {
                    if (response.status === 401) {
                        sessionTimeout(); // hàm bạn đã có
                        throw new Error('Unauthorized');
                    }
                    if (response.status === 404) {
                        throw new Error('Document not found.');
                    }
                    if (response.status === 500) {
                        throw new Error('Server error.');
                    }
                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);
                }

                // Lấy tên file từ header Content-Disposition (hỗ trợ tiếng Việt, dấu cách, UTF-8)
                let filename = 'confirmation_letter.docx';
                const disposition = response.headers.get('Content-Disposition');
                if (disposition) {
                    // Hỗ trợ cả filename và filename*
                    const filenameRegex = /filename\*?=([^';]*)/gi;
                    const matches = filenameRegex.exec(disposition);
                    if (matches && matches[1]) {
                        // Nếu có filename* (UTF-8 encoded)
                        let raw = matches[1].trim();
                        if (raw.toLowerCase().startsWith("utf-8''")) {
                            raw = raw.substring(7); // bỏ utf-8''
                            filename = decodeURIComponent(raw);
                        } else {
                            // Xóa dấu nháy nếu có
                            filename = raw.replace(/^['"](.*)['"]$/, '$1');
                        }
                    }
                }

                return response.blob().then(blob => ({
                    blob,
                    filename
                }));
            })
            .then(({ blob, filename }) => {
                if (!blob || blob.size === 0) {
                    throw new Error('The file is empty or could not be downloaded.');
                }

                // Tạo link tải
                const blobUrl = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = blobUrl;
                a.download = filename;
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();

                // Dọn dẹp
                setTimeout(() => {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(blobUrl);
                }, 100);
            })
            .catch(err => {
                console.error('Error loading document:', err);
                if (err.message !== 'Unauthorized') {
                    alert(err.message || 'Unable to download the document. Please try again later.');
                }
            })
            .finally(() => {
                // Ẩn loading
                if (loadingIndicator) hideLoading(loadingIndicator);
            });
    }
    function GetBalanceVND(idReservation) {
        $.ajax({
            url: '/Billing/GetBalanceVND',
            type: 'get',
            dataType: 'json',
            data: {
                rsvID: idReservation

            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                if (result && result.length > 0) {
                    const balanceAmount = getReservationHeaderAmount(result[0], ['balanceVND', 'BalanceVND', 'balance', 'Balance']);
                    const totalAmount = getReservationHeaderAmount(result[0], ['totalAmount', 'TotalAmount', 'total', 'Total', 'TotalVND', 'GrossAmount']);
                    const formattedBalance = balanceAmount !== null ? formatNumberBilling(balanceAmount) : '0';
                    const formattedTotal = totalAmount !== null ? formatNumberBilling(totalAmount) : '0';
                    $('#balanceBilling').text(formattedBalance);
                    $('#totalBilling').text(formattedTotal);
                }
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    // Hàm tiện ích (tùy chọn - bạn có thể bỏ qua hoặc dùng thư viện như SweetAlert, Toastr...)
    function showLoading() {
        const overlay = document.createElement('div');
        overlay.id = 'loading-overlay';
        overlay.style.position = 'fixed';
        overlay.style.top = '0';
        overlay.style.left = '0';
        overlay.style.width = '100%';
        overlay.style.height = '100%';
        overlay.style.background = 'rgba(0,0,0,0.5)';
        overlay.style.display = 'flex';
        overlay.style.alignItems = 'center';
        overlay.style.justifyContent = 'center';
        overlay.style.zIndex = '9999';
        overlay.innerHTML = `
            <div style="background:white;padding:20px;border-radius:10px;text-align:center;">
                <p>Loading....</p>
                <div style="width:50px;height:50px;border:5px solid #f3f3f3;border-top:5px solid #3498db;border-radius:50%;animation:spin 1s linear infinite;margin:0 auto;"></div>
            </div>
        `;
        document.body.appendChild(overlay);
        return overlay;
    }

    function hideLoading(element) {
        if (element && element.parentNode) {
            element.parentNode.removeChild(element);
        }
    }

    function resetBillingData() {
        folioNoID = 0;
        listFolioNoID = [];
        listFolioData = [];
        folioPosting = 1;
        totalAmountBilling = 0;

        $('#infoBillingName').html('<i class="fas fa-spinner fa-spin"></i> Loading...');
        $('#groupBilling').text('');
        $('#companyBilling').text('');
        $('#balanceBilling').text('0');
        $('#totalBilling').text('0');
        $('#balanceBillingMaster').text('0');
        $('#totalBillingMaster').text('0');

        $('#listFolioNo').empty();

        var grid = $("#gridContainerBilling").data("dxDataGrid");
        if (grid) {
            grid.option("dataSource", []);
            grid.refresh();
        }
    }
</script>
