<!-- Modal more rate code-->
<div class="modal fade modal-xl" id="modalRateCode" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Rate Code</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button class="mui-button mui-button-new"
                            onclick="ReservationRateQueryDetail();">Search</button>
                        <button type="button" class="mui-button mui-button-new" id="btn-clear-ratecode">Clear</button>
                        <button type="button" class="mui-button mui-button-new"
                            onclick="closeModalRateCode()">Close</button>

                    </div>
                    <div class="row mt-1" id="rateCodeSearchForm">
                        <div class="col-12 col-lg-7 mt-2">
                            <div class="row">

                                <!-- Arrival -->
                                <div class="col-12 col-md-6 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Arrival
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <div class="clearable" data-date-input data-format="DD/MM/YYYY"
                                                business-date data-name="arrivalRateCode">
                                                <input type="text" class="date-ui form-control clearable"
                                                    placeholder="dd/mm/yyyy" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Departure -->
                                <div class="col-12 col-md-6 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Departure
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <div class="clearable" data-date-input data-format="DD/MM/YYYY"
                                                business-date data-name="departureRateCode">
                                                <input type="text" class="date-ui form-control clearable"
                                                    placeholder="dd/mm/yyyy" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nights -->
                                <div class="col-12 col-md-6 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Nights
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <input type="text" class="form-control text-end" id="nightsRateCode"
                                                readonly>
                                        </div>
                                    </div>
                                </div>

                                <!-- Adults -->
                                <div class="col-12 col-md-6 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Adults
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <input type="number" class="form-control text-end clearable"
                                                id="adultsRateCode" value="2">
                                        </div>
                                    </div>
                                </div>

                                <!-- C / C1 / C2 -->
                                <div class="col-12 col-md-4 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">C</label>
                                        <div class="col-12 col-md-8">
                                            <input type="number" class="form-control text-end clearable" id="cRateCode"
                                                value="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">C1</label>
                                        <div class="col-12 col-md-8">
                                            <input type="number" class="form-control text-end clearable" id="c1RateCode"
                                                value="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">C2</label>
                                        <div class="col-12 col-md-8">
                                            <input type="number" class="form-control text-end clearable" id="c2RateCode"
                                                value="0">
                                        </div>
                                    </div>
                                </div>

                                <!-- Rooms -->
                                <div class="col-12 col-md-6 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            No. of Room
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <input type="number" class="form-control text-end clearable"
                                                id="numRoomsRateCode" value="1">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-2 mt-2">
                            <div class="row">

                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Room
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <select class=" clearable" id="roomTypeRateCode"
                                                asp-items="ViewBag.cboRoomType">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Promo
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <select class=" clearable" id="promotionRateCode"
                                                asp-items="ViewBag.cboPromotion">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Package
                                        </label>
                                        <div class="col-12 col-md-8">
                                            <select class=" clearable" id="packageRateCode"
                                                asp-items="ViewBag.cboPackage">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mt-2">
                            <div class="row">

                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Function
                                        </label>
                                        <div class="col-12 col-md-8 d-flex gap-3 align-items-center">
                                            <div>
                                                <input class=" clearable" type="radio" name="func" value="0" checked>
                                                <label class="form-check-label">Total</label>
                                            </div>
                                            <div>
                                                <input class=" clearable" type="radio" name="func" value="1">
                                                <label class="form-check-label">Avg</label>
                                            </div>
                                            <div>
                                                <input class=" clearable" type="radio" name="func" value="2">
                                                <label class="form-check-label">First</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Currency
                                        </label>
                                        <div class="col-12 col-md-8 d-flex gap-3 align-items-center">
                                            <div>
                                                <input class=" clearable" type="radio" name="currency" value="VND"
                                                    checked>
                                                <label class="form-check-label">VND</label>
                                            </div>
                                            <div>
                                                <input class=" clearable" type="radio" name="currency" value="USD">
                                                <label class="form-check-label">USD</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Display
                                        </label>
                                        <div class="col-12 col-md-8 d-flex gap-3 align-items-center">
                                            <div>
                                                <input class=" clearable" type="radio" name="display" value="0" checked>
                                                <label class="form-check-label">++</label>
                                            </div>
                                            <div>
                                                <input class=" clearable" type="radio" name="display" value="1">
                                                <label class="form-check-label">Net</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-2">
                                    <div class="row g-2">
                                        <label class="col-12 col-md-4 col-form-label text-md-end">
                                            Day Use
                                        </label>
                                        <div class="col-12 col-md-8 d-flex gap-3 align-items-center">
                                            <div>
                                                <input class=" clearable" type="checkbox" name="dayuse" value="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>

                <div id="loadingSpinnerRateCode" style="display: none; text-align: center; padding: 20px;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="mui-card">
                    <div id="gridContainerRateCode" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function openModalRateCode() {
        await window.initDateInputs();
        $('#arrivalRateCode').val($('#arrival').val());
        $('#departureRateCode').val($('#departure').val());
        $('#adultsRateCode').val($('#adults').val());
        $('#cRateCode').val($('#c').val());
        $('#c1RateCode').val($('#c1').val());
        $('#c2RateCode').val($('#c2').val());
        $('#numRoomsRateCode').val($('#numRooms').val());
        await ReservationRateQueryDetail(isInitial = true);
        $('#modalRateCode').modal('show');

    }
    function closeModalRateCode() {
        clearRateCodeForm();
        $('#modalRateCode').modal('hide');
    }
    $(document)
        .off("click", "#btn-clear-ratecode")
        .on("click", "#btn-clear-ratecode", function () {
            clearRateCodeForm();
        });

    function clearRateCodeForm() {
        document
            .getElementById("rateCodeSearchForm")
            .querySelectorAll(".clearable")
            .forEach(el => {

                if (el.type === "checkbox" || el.type === "radio") {
                    el.checked = false;
                }
                else if (el.tagName === "SELECT") {
                    el.selectedIndex = 0;
                }
                else {
                    el.value = "";
                }

                reloadBusinessDate();        // Set Modal Title and Show
            });

        // reset default values
        document.querySelector('input[name="func"][value="0"]').checked = true;
        document.querySelector('input[name="currency"][value="VND"]').checked = true;
        document.querySelector('input[name="display"][value="0"]').checked = true;

        document.getElementById("adultsRateCode").value = 2;
        document.getElementById("numRoomsRateCode").value = 1;
    }

    async function ReservationRateQueryDetail() {
        $("#loadingSpinnerRateCode").show();

        // Kiểm tra xem các trường ngày có giá trị hợp lệ hay không
        let arrivalDate = $('#arrivalRateCode').val() || '';
        let departureDate = $('#departureRateCode').val() || '';
        // Nếu là load lần đầu (initial) và fromDate chưa có → bắt buộc chờ business date
        if (isInitial && (!arrivalDate || !departureDate)) {
            arrivalDate = await waitForBusinessDate("arrivalRateCode", 10000); // timeout 10s để an toàn
            departureDate = await waitForBusinessDate("departureRateCode", 10000); // timeout 10s để an toàn
        }

        // Nếu vẫn rỗng sau khi chờ → báo lỗi hoặc fallback (tùy yêu cầu)
        if (!arrivalDate || !departureDate) {
            console.log("Không tải được ngày mặc định. Vui lòng chọn From Date thủ công.");
            $("#loadingSpinnerRateCode").hide();
            return;
        }
        $.ajax({
            url: '/Reservation/ReservationRateQueryDetail',
            type: 'get',
            dataType: 'json',
            data: {
                fromDate: arrivalDate,
                toDate: departureDate,
                roomType: $('#roomTypeRateCode').val(),
                adults: $('#adultsRateCode').val(),
                noOfNight: $('#nightsRateCode').val(),
                packageID: $('#packageRateCode').val(),
                promotionID: $('#promotionRateCode').val(),
                func: $('input[name="func"]:checked').val(),
                display: $('input[name="display"]:checked').val(),
                dayUse: $('input[name="dayuse"]').is(':checked'),
                c1: $('#cRateCode').val(),
                c2: $('#c1RateCode').val(),
                c3: $('#c2RateCode').val(),
                noOfRoom: $('#numRoomsRateCode').val(),
                currency: $('input[name="currency"]:checked').val()
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridSearchRateCode(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    showToast("Error", "Error loading service category list details or you do not have permission to load", false);
                }
            }
            , complete: function () {
                $("#loadingSpinnerRateCode").hide(); // 👉 Hide spinner sau khi hoàn tất
            }
        });
    }

    function initializeDataGridSearchRateCode(data) {
        $("#gridContainerRateCode").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: true,
            columnMinWidth: 90,
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onContentReady: function (e) {
                // Tìm và ẩn cột RateCodeID
                var column = e.component.columnOption("RateCodeID");
                if (column) {
                    e.component.columnOption("RateCodeID", "visible", false);
                }
                var columnCurr = e.component.columnOption("Curr");
                if (columnCurr) {
                    e.component.columnOption("Curr", "visible", false);
                }
                var columnIndividualOnly = e.component.columnOption("IndividualOnly");
                if (columnIndividualOnly) {
                    e.component.columnOption("IndividualOnly", "visible", false);
                }
                var columnMaxLOS = e.component.columnOption("MaxLOS");
                if (columnMaxLOS) {
                    e.component.columnOption("MaxLOS", "visible", false);
                }
                var columnMaxNoOfRoom = e.component.columnOption("MaxNoOfRoom");
                if (columnMaxNoOfRoom) {
                    e.component.columnOption("MaxNoOfRoom", "visible", false);
                }
                var columnMinLOS = e.component.columnOption("MinLOS");
                if (columnMinLOS) {
                    e.component.columnOption("MinLOS", "visible", false);
                }
                var columnMinNoOfRoom = e.component.columnOption("MinNoOfRoom");
                if (columnMinNoOfRoom) {
                    e.component.columnOption("MinNoOfRoom", "visible", false);
                }
                var columnNegotiated = e.component.columnOption("Negotiated");
                if (columnNegotiated) {
                    e.component.columnOption("Negotiated", "visible", false);
                }
                var columnPkg = e.component.columnOption("Pkg");
                if (columnPkg) {
                    e.component.columnOption("Pkg", "visible", false);
                }
                var columnPackageID = e.component.columnOption("PackageID");
                if (columnPackageID) {
                    e.component.columnOption("PackageID", "visible", false);
                }
                var columns = e.component.getVisibleColumns();
                columns.forEach(function (column) {
                    if (column.dataField === "RateCode") {
                        // Căn trái và không định dạng cho cột RateCode
                        e.component.columnOption(column.dataField, {
                            alignment: "left",
                            format: null
                        });
                    }
                    else {
                        // Căn phải và định dạng số với dấu phẩy, không thập phân
                        e.component.columnOption(column.dataField, {
                            alignment: "right",
                            customizeText: function (cellInfo) {
                                // Chuyển đổi giá trị chuỗi thành số và làm tròn
                                var value = parseFloat(cellInfo.value);
                                if (!isNaN(value)) {
                                    return Math.round(value).toLocaleString('en-US', {
                                        minimumFractionDigits: 0,
                                        maximumFractionDigits: 0
                                    });
                                }
                                return cellInfo.value || ''; // Giữ nguyên nếu không phải số
                            }
                        });
                    }
                });
            },
            onCellDblClick: function (e) {

                if (e.column.dataField !== "RateCode") {
                    if (e.value != '') {
                        var rowData = e.data;
                        var columnName = e.column.dataField;
                        var matchingOption = $('#txtRoomType option').filter(function () {
                            return $(this).text().trim() === columnName;
                        });
                        if (matchingOption.length > 0) {
                            $('#txtRoomType').val(matchingOption.val());
                        } else {
                            console.warn("No option found with text: ", columnName);
                        }


                        $('#txtRateCode').val(rowData.RateCode);
                        $('#txtRateCodeID').val(rowData.RateCodeID);
                        var value = parseFloat(e.value);
                        var valueFloat = 0;
                        if (!isNaN(value)) {
                            valueFloat = Math.round(value).toLocaleString('vi-VN', {
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0
                            });
                        }
                        $('#txtRateAmount').val(valueFloat);
                        $('#packageRateCode').val(rowData.PackageID);
                        $('#txtPackage').val(rowData.PackageID);
                        calculateNet($('#arrival').val(), $('#departure').val(), rowData.RateCodeID,
                            $('#txtRoomType').val(), 'VND', rowData.PackageID, 0, value, '', $('#txtDiscountPercent').val(), $('#txtDiscountAmount').val());
                        closeModalRateCode();
                        $('#clearRateCode').show();

                    }

                }
            }
        });
    }
    function clearRateCode() {
        $('#clearRateCode').hide();
        $('#txtRateCode').val('');
        $('#txtRateCodeID').val('');
        $('#txtRateAmount').val(0);
        $('#txtNetAmount').val(0);
        $('#packageRateCode').val('');
        $('#txtPackage').val('');
        $('#txtRateAfterDiscount').val(0);
        $('#txtNetAfterDiscount').val(0);
        $('#txtTotal').val(0);
        $('#txtTotalNet').val(0);
        $('#txtDiscountAmount').val(0);
        $('#txtDiscountPercent').val(0);
    }
</script>
