<!-- Modal search booker-->
<div class="modal fade modal-xl" id="modalBooker" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Booker</h5>
                <button type="button" class="btn-close" onclick="closeModalSearchBooker()"></button>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button class="mui-button mui-button-new" onclick="getAllBookers(5);">Search</button>
                        <button type="button" class="mui-button mui-button-new"
                            onclick="closeModalSearchBooker()">Close</button>
                    </div>
                    <div class="row mt-1">

                        <!-- Full Name -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    Full Name
                                </label>
                                <div class="col-12 col-md-8">
                                    <input type="text" class="form-control" id="nameBookerSearch"
                                        placeholder="Enter name" oninput="filterBookerModal()">
                                </div>
                            </div>
                        </div>

                        <!-- First Name -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    First Name
                                </label>
                                <div class="col-12 col-md-8">
                                    <input type="text" class="form-control" id="firstNameBookerSearch"
                                        placeholder="Enter first name" oninput="filterBookerModal()">
                                </div>
                            </div>
                        </div>

                        <!-- View By -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    View By
                                </label>
                                <div class="col-12 col-md-8">
                                    <select id="viewByBookerSearch" disabled>
                                        <option selected value="5">Contact</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- City -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    City
                                </label>
                                <div class="col-12 col-md-8">
                                    <select id="cityBookerSearch" asp-items="ViewBag.cboCity">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Key word -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    Key word
                                </label>
                                <div class="col-12 col-md-8">
                                    <input type="text" class="form-control" id="keywordBookerSearch"
                                        placeholder="Enter value" oninput="filterBookerModal()">
                                </div>
                            </div>
                        </div>

                        <!-- Code -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    Code
                                </label>
                                <div class="col-12 col-md-8">
                                    <input type="text" class="form-control" id="codeBookerSearch"
                                        placeholder="Enter value" oninput="filterBookerModal()">
                                </div>
                            </div>
                        </div>

                        <!-- Property -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-4 col-form-label text-md-end">
                                    Property
                                </label>
                                <div class="col-12 col-md-8">
                                    <select id="propertyBookerSearch" disabled>
                                        <option selected>PMSh TheArena</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Sale in charge -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                            <div class="row g-2">
                                <label class="col-12 col-md-5 col-form-label text-md-end">
                                    Sale in charge
                                </label>
                                <div class="col-12 col-md-5 d-flex align-items-center">
                                    <input type="checkbox" id="saleBooker" name="myCheckbox">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div id="loadingSpinnerBooker" style="display: none; text-align: center; padding: 20px;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="mui-card">
                    <div id="gridContainerSearchBooker" class="mt-2 gridContainer"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function openModalSearchBooker() {
        getAllBookers(5);
        $('#modalBooker').modal('show');
    }
    function closeModalSearchBooker() {
        $('#nameBookerSearch').val('');
        $('#firstNameBookerSearch').val('');
        $('#cityBookerSearch').val(0);
        $('#modalBooker').modal('hide');

    }
    var listBookers = [];
    function getAllBookers(type) {
        $("#loadingSpinnerBooker").show();
        $('#viewByBookerSearch').val(type);
        $.ajax({
            url: '/Profile/GetAllProfiles',
            type: 'get',
            dataType: 'json',
            data: {
                code: $('#codeBookerSearch').val(),
                account: $('#nameBookerSearch').val(),
                firstName: $('#firstNameBookerSearch').val(),
                keyWord: $('#keywordBookerSearch').val(),
                city: $('#cityBookerSearch').val(),
                type: $('#viewByBookerSearch').val(),
                showSaleInCharge: $("#saleBooker").is(":checked"),
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                listBookers = result;
                initializeDataGridSearchBooker(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    showToast("Error", "Error loading service category list details or you do not have permission to load", false);
                }
            },
            complete: function () {
                $("#loadingSpinnerBooker").hide(); // 👉 Hide spinner sau khi hoàn tất
            }
        });
    }

    function filterBookerModal() {
        const codeSearchTerm = $('#codeBookerSearch').val().toLowerCase();
        const firstNameSearchTerm = $('#firstNameBookerSearch').val().toLowerCase();
        const accountSearchTerm = $('#nameBookerSearch').val().toLowerCase();
        const citySearchTerm = $('#cityBookerSearch').val();
        const keywordkSearchTerm = $('#keywordBookerSearch').val();
        const filteredProfiles = listProfiles.filter(profile =>
            profile.code.toLowerCase().includes(codeSearchTerm) &&
            profile.account.toLowerCase().includes(firstNameSearchTerm) &&
            profile.city == citySearchTerm &&
            profile.keyword.toLowerCase().includes(keywordkSearchTerm) &&
            profile.account.toLowerCase().includes(accountSearchTerm)
        );
        initializeDataGridSearchBooker(filteredProfiles);
    }
    function initializeDataGridSearchBooker(data) {
        var columnWidth = 150;

        $("#gridContainerSearchBooker").dxDataGrid({

            dataSource: data, allowColumnResizing: true,
            columns: [


                { dataField: "id", caption: "ID", width: columnWidth - 80, visible: false },
                { dataField: "code", caption: "Code", width: columnWidth - 80 },
                { dataField: "account", caption: "Account", width: columnWidth * 2 },
                { dataField: "taxCode", caption: "Tax Code", width: columnWidth },
                { dataField: "city", caption: "City", width: columnWidth },
                { dataField: "nationality", caption: "Nat", width: columnWidth },
                { dataField: "address", caption: "Address", width: columnWidth },
                { dataField: "homeAddres", caption: "Business Address", width: columnWidth },
                { dataField: "company", caption: "Company", width: columnWidth },
                { dataField: "handPhone", caption: "HandPhone", width: columnWidth },
                { dataField: "telephone", caption: "Telephone", width: columnWidth },
                { dataField: "email", caption: "Email", width: columnWidth },
                { dataField: "website", caption: "Website", width: columnWidth },
                { dataField: "aRNo", caption: "ARNo", width: columnWidth },
                { dataField: "postalCode", caption: "Postal Code", width: columnWidth },
                { dataField: "keyword", caption: "Keyword", width: columnWidth },
                { dataField: "description", caption: "Description", width: columnWidth },
                { dataField: "personInChargeID", caption: "Sale In Charge", width: columnWidth },
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single" // Allows only one row to be selected at a time
            },
            onRowDblClick: function (e) {
                getInfoByBookerID(e.data.id);
                $('#txtBookerID').val(e.data.id);
                $('#txtBooker').val(e.data.account);
                $('#modalBooker').modal('hide');
                $('#clearBooker').show();

            }
        });
    }
    function clearBooker() {
        $('#txtBookerID').val('');
        $('#txtBooker').val('');
        $('#clearBooker').hide();
    }
    function getInfoByBookerID(id) {
        $.ajax({
            url: '/Reservation/GetInfoProfile',
            type: 'get',
            dataType: 'json',
            data: {
                profileID: id
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#txtBooker').val(result.account);
                $('#nameBookerSearch').val(result.account);
                $('#firstNameBookerSearch').val(result.firstname);
                $('#cityBookerSearch').val(result.city);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }
        });
    }
</script>
