<style>
    .mui-card {
        border-radius: 5px;
    }
</style>
<!-- Modal more fields-->
<div class="modal fade modal-lg" id="modalMoreFields" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">More Fields</h5>
                @*  <button type="button" class="btn-close" onclick="closeModalMoreFields()"></button> *@
            </div>
            <div class="modal-body">
                <div class="mt-1">
                    <button class="mui-button mui-button-search" onclick="closeModalMoreFields();"> OK</button>
                    <button class="mui-button mui-button-search" onclick="clearModalMoreFields();"> Clear</button>
                    <button class="mui-button mui-button-search" onclick="closeModalMoreFields();"> Close</button>

                </div>
                <div class="row g-2 mt-2 ">

                    <!-- PICK UP -->
                    <div class="col-12 col-md-6 mui-card">

                        <div class="fw-bold mt-1 ">Pick up</div>

                        <div class="row g-2">

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Picked Reqd</label>
                                    <div class="col-md-8">
                                        <select id="pickedID" class="">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Transport Type</label>
                                    <div class="col-md-8">
                                        <select id="pickUpTransportType" class="" asp-items="ViewBag.cboTransportType">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Station Code</label>
                                    <div class="col-md-8">
                                        <input id="pickUpStationCode" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Carrier Code</label>
                                    <div class="col-md-8">
                                        <input id="pickUpCarrierCode" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Transport No.</label>
                                    <div class="col-md-8">
                                        <input id="pickUpTransportNo" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Arrival Date</label>
                                    <div class="col-md-8">
                                        <div data-date-input data-format="DD/MM/YYYY" business-date
                                            data-name="pickUpDate">
                                            <input type="text" class="date-ui form-control form-control clearable"
                                                placeholder="dd/mm/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Pickup Time</label>
                                    <div class="col-md-8">
                                        <input id="pickUpTime" class="form-control form-control"
                                            value="@ViewBag.configETA" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Description</label>
                                    <div class="col-md-8">
                                        <input id="pickUpDescription" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- DROP OFF -->
                    <div class="col-12 col-md-6 mui-card">

                        <div class="fw-bold mt-1 ">Drop off</div>

                        <div class="row g-2">

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Dropoff Reqd</label>
                                    <div class="col-md-8">
                                        <select id="dropOffId" class="">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Transport Type</label>
                                    <div class="col-md-8">
                                        <select id="dropOffTransportType" class="" asp-items="ViewBag.cboTransportType">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Station Code</label>
                                    <div class="col-md-8">
                                        <input id="dropOffStationCode" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Carrier Code</label>
                                    <div class="col-md-8">
                                        <input id="dropOffCarrierCode" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Transport No.</label>
                                    <div class="col-md-8">
                                        <input id="dropOffTransportNo" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Departure Date</label>
                                    <div class="col-md-8">
                                        <div data-date-input data-format="DD/MM/YYYY" business-date
                                            data-name="dropOffDate">
                                            <input type="text" class="date-ui form-control form-control clearable"
                                                placeholder="dd/mm/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">DropOff Time</label>
                                    <div class="col-md-8">
                                        <input id="dropOffTime" class="form-control form-control"
                                            value="@ViewBag.configETD" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center">
                                    <label class="col-md-4 col-form-label text-md-end">Description</label>
                                    <div class="col-md-8">
                                        <input id="dropOffDescription" class="form-control form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function openModalMoreFields() {
        const modalEl = document.getElementById('modalMoreFields');
        const modal = new bootstrap.Modal(modalEl);
        modal.show();
    }

    function closeModalMoreFields() {
        $('#modalMoreFields').modal('hide');
    }
    function clearModalMoreFields() {
        $('#pickedID').val(0);
        $('#pickUpTransportType').val(0);
        $('#pickUpStationCode').val('');
        $('#pickUpCarrierCode').val('');
        $('#pickUpTransportNo').val('');
        $('#pickUpDescription').val('');

        $('#dropOffId').val(0);
        $('#dropOffTransportType').val(0);

        $('#dropOffStationCode').val('');
        $('#dropOffCarrierCode').val('');
        $('#dropOffTransportNo').val('');
        $('#dropOffDescription').val('');
    }
</script>
