<div class="header" style="justify-content:center;border:none">
    <h3 id="content-title">Accounting Search</h3>
</div>
<div class="search-filter">
    <div class="mb-1">
        <button class="mui-button mui-button-new" id="btnSearch">Search</button>
        <button class="mui-button mui-button-new" onclick="openModalNew()">New</button>
        <button class="mui-button mui-button-new" onclick="openModalMaintenance()">AR</button>
        <button class="mui-button mui-button-new" onclick="GetAccountAvailableByID()">Edit</button>
    </div>
    <div class="mb-1">
        <div class="row g-4">
            <div class="d-flex align-items-center col-md-2">
                <label class="col-4 col-form-label me-2 text-end">Account Name</label>
                <input type="text" id="accountName" class="form-control flex-grow-1">
            </div>
            <div class="d-flex align-items-center col-md-2">
                <label class="col-4 col-form-label me-2 text-end">AccountNo</label>
                <input type="text" id="accountNo" class="form-control-sm flex-grow-1">
            </div>



            <div class="d-flex align-items-center col-md-2">
                <label class="col-4 col-form-label me-2 text-end">Account Type</label>
                <select id="accountType" asp-items="ViewBag.cboAccountType" class="flex-grow-1">

                </select>
            </div>

            <div class="d-flex align-items-center col-md-6 gap-4">

                <div class="d-flex align-items-center gap-2">
                    <input type="radio" id="all" name="searchType" value="" checked>
                    <label for="all">All</label>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <input type="radio" id="openBalance" name="searchType" value="0">
                    <label for="openBalance">Open Balance</label>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <input type="radio" id="noBalance" name="searchType" value="3">
                    <label for="noBalance">No Balance</label>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel">AR Account Receivable</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3 d-flex gap-2">
                    <button type="button" class="mui-button mui-button-search" onclick="AccountAvailableAdd();">
                        Save
                    </button>
                    <button type="button" class="mui-button mui-button-clear" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>

                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row align-items-center mb-1">
                                <label for="accountTypeAdd" class="col-sm-4 col-form-label text-sm-end">Account
                                    Type</label>
                                <div class="col-sm-8">
                                    <select id="accountTypeAdd" class="form-select"
                                        asp-items="ViewBag.cboAccountType"></select>
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="accountNumberAdd" class="col-sm-4 col-form-label text-sm-end">Account
                                    Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="accountNumberAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="creditLimitAdd" class="col-sm-4 col-form-label text-sm-end">Credit
                                    Limit/LOC</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="creditLimitAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="currencyAdd" class="col-sm-4 col-form-label text-sm-end">Currency</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="currencyAdd" value="VND" readonly>
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label class="col-sm-4 col-form-label text-sm-end">Name <span
                                        style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input id="profileAdd" style="display:none" />
                                        <input id="profileAddText" class="form-control" />
                                        <button class="mui-button-sm ms-1" type="button"
                                            onclick="openModalSearchProfile()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="contactAdd" class="col-sm-4 col-form-label text-sm-end">Contact</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contactAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="phoneAdd" class="col-sm-4 col-form-label text-sm-end">Phone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phoneAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="faxAdd" class="col-sm-4 col-form-label text-sm-end">Fax</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="faxAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="emailAdd" class="col-sm-4 col-form-label text-sm-end">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="emailAdd">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row align-items-center mb-1">
                                <label for="address1Add" class="col-sm-4 col-form-label text-sm-end">Address1</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="address1Add">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="address2Add" class="col-sm-4 col-form-label text-sm-end">Address2</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="address2Add">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="address3Add" class="col-sm-4 col-form-label text-sm-end">Address3</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="address3Add">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="postalCode" class="col-sm-4 col-form-label text-sm-end">PostalCode</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="postalCode">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="cityAdd" class="col-sm-4 col-form-label text-sm-end">City</label>
                                <div class="col-sm-8">
                                    <select id="cityAdd" class="form-select" asp-items="ViewBag.cboCity"></select>
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="countryAdd" class="col-sm-4 col-form-label text-sm-end">Country</label>
                                <div class="col-sm-8">
                                    <select id="countryAdd" class="form-select" asp-items="ViewBag.cboCountry"></select>
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="paymentDueAdd" class="col-sm-4 col-form-label text-sm-end">Payment Due
                                    Add</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="paymentDueAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label for="desscriptionAdd"
                                    class="col-sm-4 col-form-label text-sm-end">Description</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="desscriptionAdd">
                                </div>
                            </div>

                            <div class="row align-items-center mb-1">
                                <label class="col-sm-4 col-form-label text-sm-end">Flagged</label>
                                <div class="col-sm-2">
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" id="paymentDueAdd">
                                    </div>
                                </div>

                                <label class="col-sm-2 col-form-label text-sm-end">Inactive</label>
                                <div class="col-sm-4">
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" id="inactive">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="gridContainer" class="gridContainer mt-2"></div>

@await Html.PartialAsync("Options/Maintenance")
@await Html.PartialAsync("Options/ModalSearchProfile")

<script>
    $(document).ready(async function () {
        searchReservation();
    });
    $(document).off("click", "#btnSearch").on("click", "#btnSearch", function () {
        searchReservation();
    });

    function searchReservation() {

        $.ajax({
            url: '/Accounting/SearchAccounting',
            type: 'get',
            dataType: 'json',
            data: {
                accountName: $('#accountName').val(),
                accountNo: $('#accountNo').val(),
                accountType: $('#accountType').val(),
                balance: $('input[name="searchType"]:checked').val(),
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridBilling(result);
                console.log('result', result);

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            },

        });

    }
    function initializeDataGridBilling(data) {

        $("#gridContainer").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: false,
            width: "100%",
            height: "500px",
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual'
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "multiple",
                showCheckBoxesMode: "always"
            },
            columns: [

                /* ===== Technical ===== */
                {
                    dataField: "ID",
                    caption: "ID",
                    visible: false
                },

                /* ===== Core Account ===== */
                {
                    dataField: "AccountName",
                    caption: "Account Name",
                    width: 260
                },
                {
                    dataField: "AccountNo",
                    caption: "Account No",
                    width: 180
                },
                {
                    dataField: "AccountTypeID",
                    caption: "Type",
                    width: 80
                },

                /* ===== Financial ===== */
                {
                    dataField: "CurrencyID",
                    caption: "Currency",
                    width: 90
                },
                {
                    dataField: "CreditLimit",
                    caption: "Credit Limit",
                    width: 140,
                    alignment: "right"
                },
                {
                    dataField: "BalanceVND",
                    caption: "Balance (VND)",
                    width: 150,
                    alignment: "right"
                },
                {
                    dataField: "BalanceUSD",
                    caption: "Balance (USD)",
                    width: 150,
                    alignment: "right"
                },
                {
                    dataField: "PaymentDueDays",
                    caption: "Due Days",
                    width: 100,
                    alignment: "center"
                },

                /* ===== Contact ===== */
                {
                    dataField: "ContactName",
                    caption: "Contact Name",
                    width: 200
                },
                {
                    dataField: "TelePhone",
                    caption: "Telephone",
                    width: 140
                },
                {
                    dataField: "Fax",
                    caption: "Fax",
                    width: 120
                },
                {
                    dataField: "Email",
                    caption: "Email",
                    width: 220
                },

                /* ===== Address ===== */
                {
                    dataField: "Address1",
                    caption: "Address",
                    width: 280
                },

                /* ===== Status / Flags ===== */
                {
                    dataField: "Check",
                    caption: "Check",
                    width: 80
                },
                {
                    dataField: "StatusFlagged",
                    caption: "Flagged",
                    width: 100
                },
                {
                    dataField: "StatusInactive",
                    caption: "Inactive",
                    width: 100
                },

                /* ===== Other ===== */
                {
                    dataField: "Description",
                    caption: "Description",
                    width: 260
                },

                /* ===== Audit ===== */
                {
                    dataField: "CreatedBy",
                    caption: "Created By",
                    width: 120
                },
                {
                    dataField: "CreatedDate",
                    caption: "Created Date",
                    width: 160,
                    dataType: "datetime",
                    format: "dd/MM/yyyy"
                },
                {
                    dataField: "UpdatedBy",
                    caption: "Updated By",
                    width: 120
                },
                {
                    dataField: "UpdatedDate",
                    caption: "Updated Date",
                    width: 160,
                    dataType: "datetime",
                    format: "dd/MM/yyyy"
                }
            ],
            onRowClick: function (e) {
                const grid = $("#gridContainer").dxDataGrid("instance");
                grid.selectRows([e.key], false);
            },
        });
    }

    function openModalNew() {
        $('#modalNew').modal('show');
    }

    function closeModalNew() {
        $('#modalNew').modal('hide');
        $('#accountTypeAdd').val(0);
        $('#accountNumberAdd').val('');
        $('#creditLimitAdd').val('');
        $('#currencyAdd').val('');
        $('#profileAdd').val('0');
        $('#profileAddText').val('');
        $('#contactAdd').val('');
        $('#phoneAdd').val('');
        $('#faxAdd').val('');
        $('#emailAdd').val('');
        $('#address1Add').val('');
        $('#address2Add').val('');
        $('#address3Add').val('');
        $('#postalCode').val('');
        $('#cityAdd').val(0);
        $('#countryAdd').val(0);

    }

    function AccountAvailableAdd() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));

        var formData = new FormData
        var grid = $("#gridContainer").dxDataGrid("instance");
        var selectedRows = grid.getSelectedRowsData();
        var selectedIds = selectedRows.map(row => row.ID);
        var id = 0;
        if (selectedIds.length > 0) {
            id = selectedIds[0];
        }
        formData.append('id', id);
        formData.append('accountType', $('#accountTypeAdd').val());
        formData.append('accountNumber', $('#accountNumberAdd').val());
        formData.append('creditLimit', $('#creditLimitAdd').val());
        formData.append('currency', $('#currencyAdd').val());
        formData.append('profile', $('#profileAdd').val());
        formData.append('contact', $('#contactAdd').val());
        formData.append('phone', $('#phoneAdd').val());
        formData.append('fax', $('#faxAdd').val());
        formData.append('email', $('#emailAdd').val());
        formData.append('address1', $('#address1Add').val());
        formData.append('address2', $('#address2Add').val());
        formData.append('address3', $('#address3Add').val());
        formData.append('postalCode', $('#postalCode').val());
        formData.append('city', $('#cityAdd').val());
        formData.append('country', $('#countryAdd').val());
        formData.append('paymentDue', $('#paymentDueAdd').not('[type="checkbox"]').val());
        formData.append('description', $('#desscriptionAdd').not('[type="checkbox"]').val());
        formData.append('flagged', $('#paymentDueAdd[type="checkbox"]').is(':checked') ? 1 : 0);
        formData.append('inactive', $('#inactive[type="checkbox"]').is(':checked') ? 1 : 0);
        formData.append('userName', userName);
        formData.append('userID', userID);

        $.ajax({
            url: '/Accounting/AccountReceivableAdd',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNew();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function (xhr, statusText, err) { }
        });
    }

    function GetAccountAvailableByID() {
        var grid = $("#gridContainer").dxDataGrid("instance");
        var selectedRows = grid.getSelectedRowsData();
        var selectedIds = selectedRows.map(row => row.ID);
        $.ajax({
            url: '/Accounting/GetAccountReceivable',
            type: 'get',
            dataType: 'json',
            data: {
                id: selectedIds[0]
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                console.log(result);
                $('#accountTypeAdd').val(result.accountTypeID);
                $('#accountNumberAdd').val(result.accountNo);
                $('#creditLimitAdd').val(result.creditLimit);
                $('#currencyAdd').val(result.currencyID);
                $('#profileAdd').val(result.profileID);
                $('#contactAdd').val(result.contactName);
                $('#phoneAdd').val(result.telePhone);
                $('#faxAdd').val(result.fax);
                $('#emailAdd').val(result.email);
                $('#address1Add').val(result.address1);
                $('#address2Add').val(result.address2);
                $('#address3Add').val(result.address3);
                $('#postalCode').val(result.postalCode);
                $('#cityAdd').val(result.cityID);
                $('#countryAdd').val(result.countryID);
                if (result.statusFlagged == true) {
                    document.getElementById("paymentDueAdd").checked = true;
                }
                if (result.statusInactive == true) {
                    document.getElementById("inactive").checked = true;

                }
                openModalNew();
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }
        });
    }
</script>
