<div>

</div>
<script>
    function checkIn() {
        if (idReservation == 0) {
            showToast('Warning', 'Please choose a booking first!', false);
            return;
        }

        //  Kiểm tra số phòng
        if (!roomID || roomID <= 0) {
            showToast('Error', 'Booking has not been assigned a Room No.', false);
            
            return;
        }

        //  Kiểm tra trạng thái bằng ID
        // 1: CheckedIn, 2: CheckedOut, 3: CancelRsv, 7: NoShow
        const blockedStatus = [1, 2, 3, 7];

        if (blockedStatus.includes(parseInt(statusID))) {
            let msg = "Cannot check-in. ";
            if (statusID == 1) msg += "Guest already checked-in.";
            else if (statusID == 2) msg += "Guest already checked-out.";
            else if (statusID == 3) msg += "Booking was cancelled.";
            else msg += "Invalid status.";

            showToast('Warning', msg, false);
            return;
        }

        // Chỉ cho phép CI nếu là 0: Reservation hoặc 5: Due In
        if (statusID != 0 && statusID != 5) {
            showToast('Error', 'Booking status is not valid for Check-in.', false);
            return;
        }

        //  Kiểm tra trạng thái phòng (Housekeeping)
        if (roomStatus != 'VC' && roomStatus != 'IP') {
            showToast('Error', `Room ${roomNo} is ${roomStatus}. Need Clean/Inspected room.`, false);
            return;
        }

        //  Xác nhận
        if (confirm(`Do you want to Check-in Room ${roomNo} for guest ${lastname}?`)) {
            checkInBooking();
        }
    }

    function checkInBooking() {
        const loginName = localStorage.getItem("Loginname")?.replace(/"/g, ""); 
        const userID = localStorage.getItem("userID");

        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('userName', loginName);
        formData.append('userID', userID);

        $.ajax({
            url: '/Reservation/CheckInBooking',
            type: 'POST',
            showLoading: true,
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    showToast('Success', data.msg, true);

                    if (typeof searchReservation === 'function') searchReservation();
                    if (typeof GetInforReservation === 'function') GetInforReservation(idReservation);

                } else {
                    alert("Check-in Failed: " + data.msg);
                }
            },
            error: function (xhr) {
                // hideLoading();
                showToast('Error', 'System error occurred during Check-in.', false);
                console.error(xhr);
            }
        });
    }
</script>
