<style>
    #modalSplit {
        z-index: 1600;
    }
    #modalResByConfNoList{
        z-index: 1602;
    }
</style>
<div id="confirmBoxSplit" class="confirm-overlay">
    <div class="confirm-box">
        <h2>Confirmation Action</h2>
        <p id="titleSplitReservationConfirm"></p>
        <div class="confirm-buttons">
            <button class="mui-button mui-button-search" onclick="onConfirmSplitReservation()">OK</button>
            <button class="mui-button mui-button-clear" onclick="closeConfirmSplit()">Cancel</button>
        </div>
    </div>
</div>

<div class="modal fade modal-xl" id="modalSplit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Split Reservation</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>

                        <button class="mui-button mui-button-new" id="splitBtn"
                            onclick="splitReservation();">Split</button>
                        <button class="mui-button mui-button-new" id="splitAllBtn"
                            onclick="splitAllReservation();">Split
                            All</button>
                        <button class="mui-button mui-button-new" onclick="splitSpecialReservation();">Split
                            Special</button>
                        <button class="mui-button mui-button-new" id="splitAllSpecialBtn"
                            onclick="splitAllSpecialReservation();">Split All Special</button>
                        <button class="mui-button mui-button-new" onclick="openModalResByConfNoList();">Split All
                            RoomSharer for all main guests</button>
                        <button type="button" class="mui-button mui-button-new"
                            onclick="closseModalSplit()">Close</button>

                    </div>

                </div>
                <div class="mui-card mt-2">
                    <div id="gridContainerSplit" class="mt-2 gridContainer"></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade modal-xl" id="modalResByConfNoList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reservation by Conf.No List</h5>
            </div>
            <div class="modal-body">
                <div class="search-filter">
                    <div>

                        <button class="mui-button mui-button-new" id="resConfNoListSaveBtn"
                            onclick="splitAllRoomSharerReservation()">Save</button>
                        <button type="button" class="mui-button mui-button-new"
                            onclick="closseModalResByConfNo()">Close</button>

                    </div>

                </div>
                <div class="mui-card mt-2">
                    <div id="gridContainerresConfNoList" class="mt-2 gridContainer"></div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    var splitButtons = ['splitBtn', 'splitAllBtn', 'splitSpecialBtn', 'splitAllSpecialBtn'];
    var roomSharerButtons = ['roomSharerBtn'];
    var allButtons = [...splitButtons, ...roomSharerButtons];
    var noOfRoomSplit = 0;
    var confirmationNoToResList = 0;

    function openModalResByConfNoList() {
        if(!idReservationSplit){
            showToast("Warning", "Please select 1 row to Split.", false);
            return;
        }
        $.ajax({
            url: '/Reservation/GenSearchMultipleSelect',
            type: 'GET',
            headers: { "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val() },
            data: {confirmationNo:confirmationNo},
            success: function (result) {
                    const rows = result || [];
                    renderGridResList(rows);

                    if (!rows.length) showToast("Warning", "No records found.", false);
            },
            error: function (xhr, statusText, err) {
                showToast('Error', err, false);

            }
        });
        $('#modalResByConfNoList').modal('show');
    }

    function closseModalResByConfNo() {
        $('#modalResByConfNoList').modal('hide');
        loadGroupData();
    }

    function openModalSplit() {

        listReservationSplitID = listReservationByConfirmationNo.map(x => x.ID);
        initializeDataGridSplit(listReservationByConfirmationNo);
        UI.toggleButtons(allButtons, true);
        $('#modalSplit').modal('show');
    }

    function closseModalSplit() {
        $('#modalSplit').modal('hide');
        loadGroupData();
    }
    function openConfirmSplit(text) {
        if (idReservation == 0) {
            showToast('Warning', 'Please choose booking', false);
            return;
        }
        $('#titleSplitReservationConfirm').text(text);
        document.getElementById("confirmBoxSplit").style.display = "flex";
    }
    
    function closeConfirmSplit() {

        document.getElementById("confirmBoxSplit").style.display = "none";
    }
    function splitReservation() {

        openConfirmSplit('You are about to split this reservation? Do you want to continue?');
        type = 1;
    }
    function splitAllReservation() {

        openConfirmSplit('You are about to split all this reservation? Do you want to continue?');
        type = 2;

    }
    function splitSpecialReservation() {
        openConfirmSplit('You are about to create room sharer? Do you want to continue?');
        type = 3;
    }
    function splitAllSpecialReservation() {
        openConfirmSplit('You are about to create all room sharer? Do you want to continue?');
        type = 4;
    }
    function splitAllRoomSharerReservation() {
        const grid = $("#gridContainerresConfNoList").dxDataGrid("instance");
        checkedIds = grid.getVisibleRows()
            .map(row => row.data)
            .map(row => row.ID); // Lấy ID
        openConfirmSplit('You are about to split all room sharer for this confimation? Do you want to continue?');
        type = 5;
    }
    var type = 0;
    function onConfirmSplitReservation() {
        if (type == 1) {
            ConfirmSplitReservation();
        }
        else if (type == 2) {
            ConfirmSplitAlllReservation();
        }
        else if (type == 3) {
            ConfirmSplitSpecialReservation();
        }
        else if (type == 4) {
            ConfirmSplitSpecialAllReservation();
        }
        else if (type == 5) {
            ConfirmSplitAllRoomSharer();
        }
    }

    checkedIds = [];

    var idReservationSplit = 0;
    var listReservationSplitID = [];
    function ConfirmSplitReservation() {
        if (idReservationSplit == 0) {
            showToast('Warning', 'Please choose booking to split', false);
            return;
        }
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID', idReservationSplit);
        formData.append('noOfRoom', noOfRoomSplit);
        formData.append('userName', userName);
        formData.append('userID', userID);

        $.ajax({
            url: '/Reservation/SplitReservation',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeConfirmSplit();
                    closseModalSplit();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {
                showToast('Error', err, false);

            },
            complete: function(){
                idReservationSplit = 0 ;
                idReservation = 0;
            }
        });

    }
    function ConfirmSplitAlllReservation() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID', idReservationSplit);
        formData.append('userName', userName);
        formData.append('userID', userID);

        $.ajax({
            url: '/Reservation/SplitAllReservation',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeConfirmSplit();
                    closseModalSplit();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {
                showToast('Error', err, false);

            }
        });

    }
    function ConfirmSplitSpecialReservation() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID', idReservationSplit);
        formData.append('userName', userName);
        formData.append('noOfRoom', noOfRoomSplit);
        formData.append('userID', userID);

        $.ajax({
            url: '/Reservation/SplitAllRoomShare',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                closeConfirmSplit();
                closseModalSplit();
                searchReservation();
                if (data.code == 0) {
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {
                showToast('Error', err, false);

            }
        });

    }

    function ConfirmSplitSpecialAllReservation() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID', idReservationSplit);
        formData.append('userName', userName);
        formData.append('userID', userID);

        $.ajax({
            url: '/Reservation/SplitSpecialAllReservation',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                closeConfirmSplit();
                closseModalSplit();
                searchReservation();
                if (data.code == 0) {
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {
                showToast('Error', err, false);

            }
        });

    }


    function ConfirmSplitAllRoomSharer() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID', checkedIds);
        formData.append('userID', userID);

        $.ajax({
            url: '/Reservation/SplitAllRoomShare',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closseModalResByConfNo();
                    closeConfirmSplit();
                    closseModalSplit();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {
                showToast('Error', err, false);

            }
        });

    }

    function getSplitColumns() {
        return [...columnAdG.map(col => ({ ...col })) ];
    }

    function initializeDataGridSplit(data) {
        const columns = getSplitColumns();

        const gridElement = document.getElementById("gridContainerSplit");

        $("#gridContainerSplit").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: true,
            columnMinWidth: 90,
            paging: { pageSize: 15 },
            scrolling: {
                mode: 'virtual',
                showScrollbar: 'always',
                useNative: false,
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function (e) {
                idReservationSplit = e.data.ID;
                confirmationNoToResList = e.data.ConfirmationNo;
                noOfRoomSplit = Number(e.data.Rms ?? e.data.NoOfRoom ?? 0);

                // reset trước
                UI.toggleButtons(allButtons, true);

                if (noOfRoomSplit > 1) {
                    UI.toggleButtons(splitButtons, false);
                } else if (noOfRoomSplit === 1) {
                    UI.toggleButtons(['splitSpecialBtn'], false);
                }
            },
            columns: columns
        });
    }

    function renderGridResList(data) {
        gridInstance = $("#gridContainerresConfNoList").dxDataGrid({
            dataSource: data,
            showBorders: true,
            height: "100%",
            width: "100%",

            allowColumnResizing: true,
            columnAutoWidth: true,
            selection: {
                mode: "multiple",
                showCheckBoxesMode: "always",
                selectAllMode: "page",
                allowSelectAll: true
            },
            paging: { pageSize: 50 },
            pager: {
                visible: true,
                allowedPageSizes: [50, 100, "all"],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: { visible: true, applyFilter: "auto" },

            columns: [
                { dataField: "ID", visible: false },
                { dataField: "ConfNo", caption: "Conf.No", width: 80 },
                { dataField: "MG", caption: "MG", width: 50 },
// Cột này sẽ ăn phần còn dư
                {
                    dataField: "Nbr",
                    caption: "Nbr",
                    width: 50,
                    
                },
                {
                    dataField: "Nat",
                    caption: "Nat",
                    width: 50,
                    
                },
                { dataField: "Name", caption: "Name", width: 80, minWidth: 120, cssClass: "col-description" },
                { dataField: "RoNo", caption: "Ro.No", width: 80 },
                { dataField: "RoType", caption: "Ro.Type", width: 80 },
                { dataField: "Arrival", caption: "Arrival", width: 80, dataType: "date", format: "dd/MM/yyyy" },
                { dataField: "Departure", caption: "Departure", width: 80, dataType: "date", format: "dd/MM/yyyy" },
                { dataField: "A", caption: "A", width: 30 },
                { dataField: "C", caption: "C", width: 30 },
                { dataField: "C1", caption: "C1", width: 30 },
                { dataField: "C2", caption: "C2", width: 30 },
                { dataField: "SR", caption: "SR", width: 50 },
                { dataField: "Status", caption: "Status", width: 50 },
            ],
        }).dxDataGrid("instance");
    }

</script>
