<div class="modal fade profile-modal" id="modalProfileContact" tabindex="-1" aria-labelledby="modalProfileContactLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile - Contact</h5>
            </div>
            <div class="modal-body">
                <div class="mb-2 mt-1">
                    <button type="button" class="mui-button mui-button-new btn-save-profile">Save</button>

                    <button type="button" class="mui-button mui-button-new" id="pro_search_changeTypeCON"
                            data-bs-dismiss="modal">
                        Change
                        Profile Type
                    </button>
                    <button type="button" class="mui-button mui-button-new" onclick="clearFromProfile()">Clear</button>
                    <button id="pro_search_btn-close" type="button" class="mui-button mui-button-new"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="main-infor mt-2" id="pro_search_profile_contact">
                    <div class="row justify-content-center">
                        <div class="d-flex justify-content-center">
                            <ul class="nav nav-tabs mb-2">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#pro_search_contact-tab-address" type="button" role="tab">
                                        Address Information
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pro_search_contact-tab-other"
                                            type="button" role="tab">
                                        Other Information
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pro_search_contact-tab-address" role="tabpanel">
                                <div class="row ">
                                    <div class="col-md-6 mui-card">
                                        <hr class="my-2">
                                        <input hidden id="pro_search_idContact" />
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Code <span class="text-danger">*</span></label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="pro_search_txtCodeContact"
                                                       name="CodeContact" data-bs-toggle="tooltip"
                                                       title="The contact code will have a fixed length of 13 characters."
                                                       data-bs-placement="right">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Full Name <span class="text-danger">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtFullNameContact"
                                                       name="fullNameContact" data-bs-toggle="tooltip"
                                                       title="Please typing as below: LastName MiddleName, FirstName, Mr. OR LastName MiddleName, FirstName."
                                                       data-bs-placement="right">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">First / Last Name <span class="text-danger">* </span> </label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="pro_search_txtFirstNameContact" name="firstNameContact">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="pro_search_txtLastContact" name="lastNameContact">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Middle Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtMiddleNameContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Position / Dept</label>
                                            <div class="col-sm-6 d-flex gap-2">
                                                <input type="text" class="form-control" id="pro_search_txtPositionContact">
                                                <input type="text" class="form-control" id="pro_search_txtDeptContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Language / Title</label>
                                            <div class="col-sm-3">
                                                <select id="pro_search_txtLanguageContact" class="ms-2" data-placeholder="Please select Language"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select id="pro_search_txtTitleContact" data-placeholder="Please select Title"></select>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Salutation</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtSalulationContact">
                                            </div>
                                        </div>
                                        <hr class="my-2">
                                    </div>

                                    <div class="col-md-6 mui-card">
                                        <hr class="my-2">
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Address</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtAddressContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Home Address</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtHomeAddressContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">City</label>
                                            <div class="col-sm-6">
                                                <select id="pro_search_txtCityContact" class="ms-2" data-placeholder="Please select City"></select>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Postal Code</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtPostalCodeContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Country / State</label>
                                            <div class="col-sm-3">
                                                <select id="pro_search_txtCountryContact" class="ms-2" data-placeholder="Please select Country"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select id="pro_search_txtStateContact" data-placeholder="Please select State"></select>
                                            </div>
                                        </div>
                                        <hr class="my-2">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pro_search_contact-tab-other" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6 mui-card">
                                        <hr class="my-2">
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Owner</label>
                                            <div class="col-sm-6">
                                                <select id="pro_search_txtOwnerContact" class="ms-2" data-placeholder="Please select Owner"></select>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Territory</label>
                                            <div class="col-sm-6">
                                                <select id="pro_search_txtTerritoryContact" class="ms-2" data-placeholder="Please select Territory"></select>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">A/R No</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtARNoContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Date of birth</label>
                                            <div class="col-sm-4" data-date-input data-format="DD/MM/YYYY" business-date>
                                                <input type="text" class="date-ui form-control" placeholder="dd/mm/yyyy"
                                                       autocomplete="off" id="pro_search_txtDobContact" disabled />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="checkbox" class="form-check-input mt-2" checked id="pro_search_txtCheckboxDobContact">
                                            </div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Active</label>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="pro_search_txtActiveContact">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-2">
                                    </div>
                                    <div class="col-md-6 mui-card">
                                        <hr class="my-2">
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Telephone</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtTelephoneContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Fax</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtFaxContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Email</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtEmailContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Website</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtWebsiteContact">
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center">
                                            <label class="col-sm-4 col-form-label text-sm-end">Hand Phone</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pro_search_txtHandPhoneContact">
                                            </div>
                                        </div>
                                        <hr class="my-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(async function () {
        window.tomSelectInstances = window.tomSelectInstances || {};
        await setSelectContact();
    });

    // const tomSelectContact = {};
    async function setSelectContact() {
        const configs = [
            "#pro_search_select-beast-empty",
            "#pro_search_txtLanguageContact", "#pro_search_txtTitleContact", "#pro_search_txtCityContact",
            "#pro_search_txtStateContact", "#pro_search_txtCountryContact",
            "#pro_search_txtOwnerContact", "#pro_search_txtTerritoryContact"
        ];

        for (const id of configs) {
            const el = document.querySelector(id);
            if (!el) continue;

            if (tomSelectInstances[id]) {
                tomSelectInstances[id].destroy();
            }

            tomSelectInstances[id] = new TomSelect(el, {
                valueField: 'value',
                labelField: 'text',
                searchField: 'text',
                create: false,
                allowEmptyOption: true,
                plugins: ['clear_button']
            });
        }
    }
    $('#pro_search_txtCheckboxDobContact').on('change', function () {
        $('#pro_search_txtDobContact').prop('disabled', $(this).is(':checked'));
    });
</script>
