<style>
    #modalProfileIndividual .modal-body {
        flex: 1 1 auto; 
        overflow-y: auto; 
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    #pro_ind_formContainer {
        flex-grow: 1;
    }

    @@media (max-width: 991.98px) {
        #modalProfileIndividual .mui-card
        {
            min-height: auto !important;
            margin-bottom: 15px;
            padding: 10px;
        }
    }

    @@media (max-width: 767.98px) {
        #modalProfileIndividual .col-form-label
        {
            text-align: left !important; 
            margin-bottom: 0;
        }
    }

    #modalProfileIndividual .row.mb-2 {
        margin-bottom: 0.4rem !important;
    }

    #modalProfileIndividual .col-form-label {
        font-size: 12px !important;
        font-weight: 500;
        line-height: 1.2;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

<div class="modal fade" id="modalProfileIndividual" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content modal-full-height">
            <div class="modal-header py-2 bg-light">
                <h6 class="modal-title fw-bold">CPMS - Individual Profile</h6>
            </div>
            <div class="modal-body d-flex flex-column" style="height: calc(100vh - 120px);">
                <div class="d-flex gap-2 border-bottom py-2">
                    <button type="button" class="mui-button mui-button-save btn-save-profile">
                        Save
                    </button>
                    <button type="button" class="mui-button mui-button-close" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>

                <div id="pro_ind_formContainer" class="container-fluid p-0">
                    <input type="hidden" id="ind_id" />

                    <div class="row g-3">
                        <div class="col-12 col-lg-5">
                            <div class="h-100">
                                <h8 class="fw-bold text-success pb-1 mb-3">Address Information</h8>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Code <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtCode" name="codeIndividual">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Full Name <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtFullName" name="fullNameIndividual">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">First/Last Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtFirstName" placeholder="First">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtLastName" placeholder="Last">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Language/Title</label>
                                    <div class="col-sm-4">
                                        <select id="ind_txtLanguage" class="tomselect-custom"></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ind_txtTitle" class="tomselect-custom"></select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Nationality</label>
                                    <div class="col-sm-4">
                                        <select id="ind_txtNationality" class="tomselect-custom"></select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">City</label>
                                    <div class="col-sm-4">
                                        <select id="ind_txtCity" class="tomselect-custom"></select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Country</label>
                                    <div class="col-sm-4">
                                        <select id="ind_txtCountry" class="tomselect-custom"></select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Postal/State</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtAddress">
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ind_txtTitle" class="tomselect-custom"></select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Religion/Nation</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtReligion">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtNation">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Purpose Of Stay</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtPOS">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Address</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control form-control-sm" id="ind_txtAddress" rows="3" style="height:5rem"></textarea>
                                    </div>
                                </div>

                                <div class="mt-3 border-top pt-2">
                                    <div class="row g-2 align-items-center mb-1">
                                        <label class="col-4 col-form-label text-end small">Search Name</label>
                                        <div class="col-4">
                                            <input type="text" id="ind_search_name" class="form-control form-control-sm">
                                        </div>
                                        <label class="col-1 col-form-label text-end small">First</label>
                                        <div class="col-3">
                                            <input type="text" id="ind_search_first" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="border rounded bg-light" style="height: 100px; overflow-y: auto;">
                                        <table class="table table-sm table-hover small mb-0" id="ind_quick_grid">
                                            <thead class="table-secondary sticky-top">
                                                <tr><th>Name</th></tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3">
                            <div class="px-2 h-100">
                                <h8 class="fw-bold text-success pb-1 mb-3">Internal Information</h8>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Salutation</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtSalutation">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">VIP</label>
                                    <div class="col-sm-8">
                                        <select id="ind_txtVIP" class="tomselect-custom"></select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">VIP Reason</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtVipReason">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Pref Room</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtPrefRoom">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Other</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtOther">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Passport</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtPassport">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Identity Card</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtPassport">
                                    </div>
                                </div>

                                <div class="row mb-2 align-items-center">
                                    <label class="col-sm-4 col-form-label text-sm-end">Date of Birth</label>

                                    <div class="col-sm-8">
                                        <div class="row g-2 align-items-center">
                                            <div class="col-10">
                                                <div class="input-group input-group-sm" business-date data-date-input data-format="DD/MM/YYYY" data-name="ind_txtDob">
                                                    <input type="text" class="date-ui form-control" autocomplete="off" />
                                                </div>
                                            </div>

                                            <div class="col-2 text-start">
                                                <input type="checkbox" class="" id="ind_chkActiveDob" checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 mt-3">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8 d-flex">
                                        <div class="form-check p-0">
                                            <input class="me-1" type="checkbox" id="ind_chkActive" checked>
                                            <label class="form-check-label small" for="ind_chkActive">Active</label>
                                        </div>
                                        <div class="form-check ps-1">
                                            <input class="me-1" type="checkbox" id="ind_chkContact">
                                            <label class="form-check-label small" for="ind_chkContact">Contact</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-sm-4 col-form-label text-sm-end">Keyword</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" id="ind_txtKeyword">
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <div class="bg-dark text-white px-2 py-1 small fw-bold">Black list</div>
                                    <textarea class="form-control form-control-sm border-dark" id="ind_txtBlackListReason" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="h-100 d-flex flex-column">

                                <div class="mb-3">
                                    <h8 class="fw-bold text-success border-bottom pb-1 mb-2" style="font-size: 0.8rem;">Tax</h8>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Company</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtTaxCompany">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Tax Code</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtTaxCode">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Bus.Address</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtTaxBusAddress">
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <h8 class="fw-bold text-success border-bottom pb-1 mb-2" style="font-size: 0.8rem;">Communications</h8>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Telephone</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtTelephone">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Hand Phone</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtHandPhone">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Fax</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtFax">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Email</label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control form-control-sm" id="ind_txtEmail">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Website</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtWebsite">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Company</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtCommCompany">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label class="col-sm-5 col-form-label text-sm-end small">Business Title</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="ind_txtBusinessTitle">
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2 text-center border-top pt-2">
                                    <div class="border rounded p-1 bg-light mx-auto mb-2" style="width: 100px; height: 100px;">
                                        <img id="ind_imgPreview" src="/img/no-image.png" class="img-fluid h-100" alt="Preview">
                                    </div>
                                    <button type="button" class="mui-button mui-button-new btn-sm w-100" onclick="document.getElementById('ind_fileUpload').click()">
                                        <i class="fa fa-upload"></i> Upload
                                    </button>
                                    <input type="file" id="ind_fileUpload" hidden onchange="pro_ind_Module.handleImage(event)">
                                </div>

                            </div>
                            
                        </div>

                    </div>
                    <div class="mt-auto pt-2 border-top" style="font-size: 12px;">
                        <div class="d-flex justify-content-start align-items-center text-muted flex-wrap gap-4">
                            <div class="d-flex gap-2">
                                <span>Create By: <b id="ind_lblCreateBy" class="text-dark">...</b></span>
                                <span>On: <b id="ind_lblCreateDate" class="text-dark">../../....</b></span>
                            </div>

                            <div class="d-flex gap-2 border-start ps-4">
                                <span>Update By: <b id="ind_lblUpdateBy" class="text-dark">...</b></span>
                                <span>On: <b id="ind_lblUpdateDate" class="text-dark">../../....</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var pro_ind_Module = {
        init: function() {
            this.initEvents();
            this.intitDOMEvents();
        },

        initEvents: function (){
            window.openModalProInd = function() {
                initTomSelect('.tomselect-custom');
                initDateInputs();
                 

            }
        },

        intitDOMEvents: function() {
            $('#ind_fileUpload').on('change', this.handleImage);
        },

        handleImage: function(event) {
            const reader = new FileReader();
            reader.onload = (e) => $('#ind_imgPreview').attr('src', e.target.result);
            reader.readAsDataURL(event.target.files[0]);
        },


    };

    $('#modalProfileIndividual').on('shown.bs.modal', function () {
        pro_ind_Module.init();
    });
</script>
